In [ ]:
# imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import pyplot
%matplotlib inline

In [2]:
#Daten einlesen
df_orig = pd.read_parquet("D:/Eclipse Python/DataScience/res/event_ano.parquet.gzip")

In [102]:
df = df_orig.set_index("event_timestamp")
df.sort_index(inplace=True)

df

,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
event_timestamp,,,,,,,,
2015-05-04 16:04:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,6,11,21
2015-05-04 16:04:00,20205,System,Automatik-Sicherheitshalt offen,NaN,NaN,6,11,21
2015-05-04 16:04:00,20205,System,Automatik-Sicherheitshalt offen,NaN,NaN,6,11,23
2015-05-04 16:04:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,6,11,23
2015-05-04 16:04:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,6,11,24
2015-05-04 16:04:00,20205,System,Automatik-Sicherheitshalt offen,NaN,NaN,6,11,24
2015-05-04 16:05:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,6,11,22
2015-05-04 16:05:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,6,11,25
2015-05-04 16:05:00,20205,System,Automatik-Sicherheitshalt offen,NaN,NaN,6,11,25
2015-05-04 16:05:00,20205,System,Automatik-Sicherheitshalt offen,NaN,NaN,6,11,33
2015-05-04 16:05:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,6,11,33
2015-05-04 16:05:00,20205,System,Automatik-Sicherheitshalt offen,NaN,NaN,6,11,22
2015-05-04 19:40:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,6,11,25
2015-05-04 19:40:00,20205,System,Automatik-Sicherheitshalt offen,NaN,NaN,6,11,25
2015-05-04 19:40:00,20205,System,Automatik-Sicherheitshalt offen,NaN,NaN,6,11,22
2015-05-04 19:40:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,6,11,22
2015-05-04 19:40:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,6,11,22
2015-05-04 19:40:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,6,11,23
2015-05-04 19:40:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,6,11,21
2015-05-04 19:40:00,20205,System,Automatik-Sicherheitshalt offen,NaN,NaN,6,11,21
2015-05-04 19:40:00,20205,System,Automatik-Sicherheitshalt offen,NaN,NaN,6,11,33
2015-05-04 19:40:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,6,11,33
2015-05-04 19:40:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,6,11,24
2015-05-04 19:40:00,20205,System,Automatik-Sicherheitshalt offen,NaN,NaN,6,11,24
2015-05-04 19:40:00,20205,System,Automatik-Sicherheitshalt offen,NaN,NaN,6,11,23
2015-05-04 19:42:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,6,11,22
2015-05-04 21:49:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,6,11,23
2015-05-04 21:49:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,6,11,24
2015-05-04 21:49:00,20205,System,Automatik-Sicherheitshalt offen,NaN,NaN,6,11,24
2015-05-04 21:49:00,20205,System,Automatik-Sicherheitshalt offen,NaN,NaN,6,11,23
...,...,...,...,...,...,...,...,...
2016-08-02 22:43:43,50024,Motion,2,NaN,NaN,19,cell_14,147
2016-08-02 22:43:47,50024,Motion,2,NaN,NaN,19,cell_14,149
2016-08-02 22:43:49,50024,Motion,2,NaN,NaN,19,cell_14,149
2016-08-02 22:43:51,50024,Motion,2,NaN,NaN,19,cell_14,148
2016-08-02 22:43:52,50024,Motion,2,NaN,NaN,19,cell_14,148
2016-08-02 22:44:02,50024,Motion,2,NaN,NaN,19,cell_14,147
2016-08-02 22:44:03,50024,Motion,2,NaN,NaN,19,cell_14,149
2016-08-02 22:44:22,50024,Motion,2,NaN,NaN,19,cell_14,149
2016-08-02 22:44:23,50024,Motion,2,NaN,NaN,19,cell_14,146
2016-08-02 22:44:42,50024,Motion,2,NaN,NaN,19,cell_14,146
2016-08-02 22:44:47,50024,Motion,2,NaN,NaN,19,cell_14,146
2016-08-02 22:45:01,50024,Motion,2,NaN,NaN,19,cell_14,146
2016-08-02 22:45:42,50024,Motion,2,NaN,NaN,19,cell_14,144
2016-08-02 22:46:00,50024,Motion,2,NaN,NaN,19,cell_14,143
2016-08-02 22:46:15,50024,Motion,2,NaN,NaN,19,cell_14,143
2016-08-02 22:46:32,50024,Motion,2,NaN,NaN,19,cell_14,143
2016-08-02 22:47:09,50024,Motion,2,NaN,NaN,19,cell_14,142
2016-08-02 22:47:44,50024,Motion,2,NaN,NaN,19,cell_14,142
2016-08-02 22:59:43,10271,Operational,3,NaN,NaN,4,11,88
2016-08-02 23:00:52,10271,Operational,3,NaN,NaN,4,11,89
2016-08-02 23:03:22,41630,Program,2,NaN,NaN,4,cell_18,91
2016-08-02 23:03:23,10271,Operational,3,NaN,NaN,4,cell_18,91
2016-08-02 23:03:42,10271,Operational,3,NaN,NaN,4,6,13
2016-08-02 23:03:44,10271,Operational,3,NaN,NaN,4,6,20
2016-08-02 23:04:03,10271,Operational,3,NaN,NaN,4,3,90
2016-08-02 23:32:46,41630,Program,2,NaN,NaN,15,cell_19,116
2016-08-02 23:33:12,41630,Program,2,NaN,NaN,15,cell_19,116
2016-08-02 23:33:14,41630,Program,2,NaN,NaN,15,cell_19,116
2016-08-02 23:33:15,41630,Program,2,NaN,NaN,15,cell_19,116
2016-08-02 23:58:43,10125,Operational,3,NaN,NaN,20,6,154

In [104]:
line_mapping = {}
for i in range(0,26):
    line_mapping.update({"line_{}".format(i):i})

df["an_line"] = df.an_line.apply(lambda x: line_mapping[x] if x in line_mapping.keys() else x)

In [105]:
cell_mapping = {}
for i in range(0,13):
    cell_mapping.update({"cell_{}".format(i):i})

df["an_cell"] = df.an_cell.apply(lambda x: cell_mapping[x] if x in cell_mapping.keys() else x)

In [106]:
robot_mapping = {}
for i in range(0,188):
    robot_mapping.update({"robot_{}".format(i):i})

df["an_robot"] = df.an_robot.apply(lambda x: robot_mapping[x] if x in robot_mapping.keys() else x)

In [107]:
message_severity_mapping = {"Error":1,"Warning":2,"Information":3}

df["message_severity"] = df.message_severity.apply(lambda x: message_severity_mapping[x] if x in message_severity_mapping.keys() else x)

In [108]:
def dfExtractMethod(df,extract_value):
    df_extract = df.loc[df['an_line'] == extract_value]
    return df_extract

In [109]:
df_extract = dfExtractMethod(df,1)

In [112]:
def dfExtractErrorWarningInformationMethod(df,extract_value):
    df_extract = df.loc[df['message_severity'] == extract_value]
    return df_extract

In [123]:
df_extract_index = df_extract.reset_index()

In [143]:
def dfExtractErrorWarningInformationAnd10RowsUpAndDownMethod(df,extract_value):
    data = []
    for i in df:
        data.append(i)
    print(data)

    for j in df.values:
        i = j
        if(i[3] == extract_value):
            print(j)
            print(j[10,:])

In [144]:
dfExtractErrorWarningInformationAnd10RowsUpAndDownMethod(df_extract_index,1)

['event_timestamp', 'message_number', 'message_category', 'message_severity', 'an_title', 'an_description', 'an_line', 'an_cell', 'an_robot']
[Timestamp('2016-02-17 20:27:17') '20205' 'System' 1 'NaN' 'NaN' 1 1 2]

IndexError: too many indices for array