In [73]:
import pickle
import pandas as pd
import numpy as np

In [74]:
X = pd.read_pickle("D:/Eclipse Python/DataScience/res/event_ano.pkl")

In [75]:
X

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
0,2016-07-04 16:19:35,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
1,2016-07-04 16:19:35,10017,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
2,2016-07-04 16:19:35,10016,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
3,2016-07-04 16:19:34,10015,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
4,2016-07-04 16:19:34,10012,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
5,2016-07-04 16:19:34,10011,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
6,2016-07-04 16:19:33,10017,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
7,2016-07-04 16:19:33,10016,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
8,2016-07-04 16:19:32,40168,Program,Warning,NaN,NaN,line_0,cell_0,robot_0
9,2016-07-04 16:19:32,134010,Paint,Error,NaN,NaN,line_0,cell_0,robot_0
10,2016-07-04 16:19:26,10129,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
11,2016-07-04 16:19:22,10150,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
12,2016-07-04 16:19:22,10002,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
13,2016-03-02 21:13:06,10125,Operational,Information,NaN,NaN,line_1,cell_1,robot_1
14,2016-03-02 21:09:53,50024,Motion,Warning,NaN,NaN,line_1,cell_1,robot_1
15,2016-03-02 21:08:33,50024,Motion,Warning,NaN,NaN,line_1,cell_1,robot_1
16,2016-03-02 21:07:11,50024,Motion,Warning,NaN,NaN,line_1,cell_1,robot_1
17,2016-07-04 16:19:22,10155,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
18,2016-07-04 16:19:22,10015,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
19,2016-07-04 16:19:22,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
20,2016-07-04 16:19:21,71201,IOCommunication,Error,NaN,NaN,line_0,cell_0,robot_0
21,2016-07-04 16:19:21,10045,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
22,2016-07-04 16:18:48,10122,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
23,2016-07-04 16:18:48,50024,Motion,Warning,NaN,NaN,line_0,cell_0,robot_0
24,2016-07-04 16:18:27,10151,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
25,2016-07-04 16:18:27,10053,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
26,2016-07-04 16:18:27,10052,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
27,2016-07-04 16:18:25,10002,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
28,2016-07-04 16:17:51,10122,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
29,2016-07-04 16:17:50,50024,Motion,Warning,NaN,NaN,line_0,cell_0,robot_0
...,...,...,...,...,...,...,...,...,...
3981334,2016-07-29 08:45:38,10156,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981335,2016-07-29 08:45:38,10053,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981336,2016-07-29 08:45:37,10052,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981337,2016-07-29 08:14:41,10125,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981338,2016-07-29 06:11:41,10270,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981339,2016-07-29 06:10:37,10271,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981340,2016-07-29 06:10:35,10156,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981341,2016-07-29 06:10:35,10053,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981342,2016-07-29 06:10:35,10052,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981343,2016-07-29 02:59:39,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981344,2016-07-29 02:59:38,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981345,2016-07-29 02:59:38,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981346,2016-07-30 03:09:05,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3981347,2016-07-30 03:09:03,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3981348,2016-07-30 03:09:03,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3981349,2016-07-30 03:09:54,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3981350,2016-07-30 03:09:53,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3981351,2016-07-30 03:09:53,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3981352,2016-07-30 02:59:39,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981353,2016-07-30 02:59:38,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981354,2016-07-30 02:59:38,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981355,2016-07-31 03:09:07,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3981356,2016-07-31 03:09:03,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3981357,2016-07-31 03:09:03,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3981358,2016-07-31 03:09:55,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3981359,2016-07-31 03:09:54,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3981360,2016-07-31 03:09:54,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3981361,2016-07-31 02:59:39,10232,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981362,2016-07-31 02:59:38,10231,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3981363,2016-07-31 02:59:38,10230,Operational,Information,NaN,NaN,line_26,cell_13,robot_188

In [76]:
X.dtypes

event_timestamp     datetime64[ns]
message_number              object
message_category            object
message_severity            object
an_title                    object
an_description              object
an_line                     object
an_cell                     object
an_robot                    object
dtype: object

#  Korrektur von message_severity

In [77]:
unique_message_severity = X['message_severity'].unique()
print(unique_message_severity)

['Information' 'Warning' 'Error' 'Diagnose der Profinet-E/A-Einheit'
 'Alarm der Profinet-E/A-Einheit' 'Max. Wartezeit abgelaufen'
 'Automatik-Sicherheitshalt offen' 'Sicherheitsstopp-Zustand'
 'SC 1 - OVR aktiv ' 'Überwachungsfehler Sicherheitskreis 2'
 'Befehl nicht zulässig' 'OVR-Geschwindigkeit von SC 1 überschritten '
 'Wiederanfahren fertig' 'Wiederanfahren gestartet' 'MOTOREN-EIN-Zustand'
 'Backup-Schritt fertig' 'Cyclic Brake Check gestartet'
 'Programm neu gestartet' 'MOTOREN-AUS-Zustand' 'Programm gestoppt'
 'Zyklische Bremsenüberprüfung durchgeführt' 'Automatikbetrieb bestätigt'
 'Automatikbetrieb angefordert' 'Motoren-EIN unzulässig'
 'Einrichtbetrieb gewählt' ' Schweißsteuerung Fehler!! '
 'Interrupt aus Warteschlange entfernt' ' Schweißzangen Fehler!! '
 ' Warte auf Fraeser Umdrehungszaehler '
 'Zweikanal-Fehler Sicherheitskreis' 'Programm gestartet.'
 'Programmzeiger wurde zurückgesetzt' 'Start unzulässig'
 ' Warte auf E.-Kappe vorhanden ' ' Warte auf Kühlwasser!! '
 ' Warte auf Schweißzangen Kraft Signal '
 ' Warte auf Zange MotionCompl Signal ' 'Rücksetzen Abarbeitungsfehler'
 'Kommunikation mit E/A-Einheit aufgebaut' 'Status Abarbeitungsfehler'
 'Abarbeitungsfehler' 'Kein Kontakt mit Einheit'
 'Keine Kommunikation mit E/A-Einheit' 'Zustimmungsschalter-Konflikt '
 'Automatik-Sicherheitshalt-Konflikt' 'Zwei-Kanal-Fehler, Betriebskreis'
 ' Servozange FS1 Error: 18813 '
 ' Warte auf Schweißzangen Motion/Ready Signal '
 'Profinet-Konfigurationskonflikt' ' Kopf rueck muss low sein '
 ' Warte auf Kappe abgezogen ' ' Eingang Positionierbereit fehlt '
 ' Eingang Kontakt muss low sein ' ' Falscher oder kein Bolzen '
 'Unsichere Synchronisierung' 'SC 2 - OVR aktiv ' ' Warte auf FK '
 ' Schweisskopf muss rueck sein '
 'Fehler beim Aktivieren des MOTOREN EIN-Schützes' 'Kollision bestätigt'
 'Zurück auf Bahn' 'Kollision erkannt' 'Bewegungsüberwachung'
 ' Warte auf Bauteilkontrolle: -B04TK '
 'Zustimmungsschalter im Automatikmodus aktiv'
 'Timeout der Motoren-AUS-Sequenz'
 'Statuskonflikt Betriebssteuerung, DRV1' ' HemQC: Kommunikationsfehler! '
 ' Abdeckung Station 2 wird geschlossen. '
 ' Abdeckung Station 1 wird geöffnet. '
 ' Abdeckung Station 2 wird geöffnet. '
 ' Abdeckung Station 1 wird geschlossen. ' 'Achskollision'
 ' Station Belegt Meldung fehlt ' 'Neustart nicht möglich'
 'Interner Fehler' 'Zonenbahn-Fehler ' ' Warte auf Kuehlwasser!! '
 'Gleichzeitige Änderungen des Signalwerts'
 ' Warte auf Schweißzange Kraft erreicht ' 'Wartungsmeldung'
 'Programm gestartet' 'Warnung zu Profinet-IO-Routing'
 'System neu gestartet'
 'Konfigurationsaktualisierung wird gerade ausgeführt'
 'Kein Kontakt mit der Profinet-PCI-Karte' ' Warte auf Wasser &lt'
 'Starten von Programm' 'Allgemeiner Sicherheitshalt offen'
 'SC 1 - SBR ausgelöst ' 'SC 1 - STZ-Überschreitung '
 'Endlagenschalter von SC geöffnet' ' Warte auf Endlage: -B22V2 '
 'Profinet-Bus angehalten' ' Warte auf Endlage: -B22V1 '
 'Anwender Safety User abgemeldet' 'SC 1 synchronisiert '
 'SC Software-Synchronisierung begonnen'
 'SC 1 - unsynchronisierte Geschwindigkeit überschritten '
 'Alle Umdrehungszähler aktualisiert' 'Umdr.-Zähler nicht aktualisiert'
 'Anwender Safety User angemeldet' 'SC 1 nicht synchronisiert '
 'Umdrehungszähler nicht aktualisiert' 'Achse nicht synchron'
 ' Warte auf Endlage: -B12R1 ' ' Warte auf Endlage: -B12V2 '
 'Bewegung in falsche Richtung'
 ' Warte Bestätigung SPS Elektrodenwechsel fertig? '
 'Programmstart abgewiesen' ' Fehler bei IOEnable ' ' Unit nicht bereit '
 'E/A-Einheit nicht aktiviert' ' Kein Kontakt zu EA Einheit '
 'E/A-Einheit nicht deaktiviert' ' Fehler bei IODisable '
 ' Druckschalterüberwachung n.i.O ' 'SC 1 - E/A-Fehler '
 'Abarbeitung abgebrochen' 'Absolutgenauigkeit nicht aktiviert'
 ' Warte auf Endlage: -B12V1 ' ' Warte auf Schweißza. MotionCompl Signal '
 ' Warte auf Bauteilkontrolle: -B4TK ' ' Zangenfehler '
 ' Festo Controller wird von einem anderen Client benutzt/ PC? '
 ' Pal, Bauteilzaehler ' 'SC 1 - Bremsdrehmoment zu gering '
 'Warnung Bremsenleistung' 'Systemdiagnose-Info generiert'
 ' Warte auf Endlage: -B11R1 ' 'Konflikt Betriebsart' 'Zwei-Kanal-Fehler'
 'Ungleichgewicht Schlüsselschalterkreise' ' Warte auf Endlage: -B11V1 '
 'Abbruch durch digitalen Eingang' ' Warte auf Endlage: -B13R1 '
 'SC 1 - Zeitlimit für unsynch. Zustand abgelaufen ' 'Kinematikfehler'
 ' Fehler bei Überprüfung ToolCode ' ' Warte auf Endlage: -B17R1 '
 ' Warte auf Endlage: -B15V2 ' ' Warte auf Endlage: -B13V1 '
 ' Warte auf Endlage: -B15R1 ' ' Warte auf Endlage: -B15V1 '
 ' Warte auf Endlage: -B15R2 ' ' Warte auf Bauteilkontrolle: -B1TK '
 'Bestätigung abgelehnt' 'Not-Aus-Status ' ' Servozange FS2 Error: 18813 '
 'Rückwärts-Abarbeitung nicht möglich '
 'Angeforderte Aktion nicht möglich' ' Warte auf Endlage: -B13R2 '
 ' Warte auf Endlage: -B13V2 ' ' Warte auf Bauteilkontrolle: -B3TK '
 ' Warte auf Endlage: -B16R1 ' ' Warte auf Endlage: -B16V1 '
 ' LSP -Identischer Schweißpunkt! '
 ' Warte auf Schweißsteuerung Bereit Steuerteil ']

In [78]:
unique_message_number = X['message_number'].unique()
print(unique_message_number)

['10010' '10017' '10016' '10015' '10012' '10011' '40168' '134010' '10129'
 '10150' '10002' '10125' '50024' '10155' '71201' '10045' '10122' '10151'
 '10053' '10052' '10156' '20205' '10232' '50036' '50050' '10020' '50163'
 '100000' '20074' '10019' '10018' '80002' '10021' '50026' '10097' '50143'
 '20010' '10013' '10126' '10084' '10048' '40228' '10253' '10252' '10251'
 '10250' '50316' '10046' '20206' '71439' '71518' '50376' '20314' '10270'
 '10271' '71444' '40538' '71414' '20481' '20140' '20212' '10231' '10230'
 '10123' '40210' '20211' '10025' '10026' '10024' '50204' '20224' '20225'
 '10068' '40223' '41795' '20293' '50438' '20260' '20142' '71276' '71058'
 '20216' '10128' '20390' '50361' '41581' '41595' '10131' '71521' '71520'
 '20072' '20468' '40160' '20135' '71441' '20200' '10121' '50263' '41555'
 '10130' '10260' '40502' '20054' '50028' '20490' '37001' '20485' '10214'
 '20067' '20466' '71434' '71431' '71433' '20051' '50037' '20493' '40191'
 '10401' '20452' '50428' '20487' '10400' '20488' '20451' '20454' '20458'
 '37054' '71367' '20241' '80001' '41630' '41496' '41499' '20245' '10099'
 '50056' '20315' '10213' '20213' '20204' '50065' '40634' '10106' '40738'
 '10067' '20127' '40354' '41676' '40151' '10032' '20032' '50091' '10036'
 '10217' '50057' '20066' '20064' '41638' '38101' '38209' '20455' '10014'
 '20137' '20061' '10091' '41557' '50140' '20148' '10171' '10172' '40162'
 '40322' '71435' '71440' '50298' '20193' '34402' '34401' '20082' '10042'
 '20075' '20254' '38104' '38103' '50021' '50430' '39520' '10133' '10152'
 '20310' '10098' '41637' '10061' '10062' '41497' '40708' '20223' '71405'
 '41472' '41632' '50288' '40611' '11223' '110811' '20484' '40713' '40355'
 '10211' '50027' '110812' '20266' '40797' '20450' '20486' '10157' '40702'
 '11022' '20070' '40709' '50042' '37230' '40706' '40528' '41687' '20105'
 '32530' '41451' '41617' '37050' '37070' '34307' '34316' '34303' '20453']

In [79]:
X[X.message_number == '10010']

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
0,2016-07-04 16:19:35,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
19,2016-07-04 16:19:22,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
82,2016-07-04 15:26:27,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
103,2016-07-04 15:26:15,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
143,2016-07-04 13:29:32,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
156,2016-03-02 16:24:05,10010,Operational,Information,NaN,NaN,line_1,cell_1,robot_1
163,2016-07-04 13:29:11,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
284,2016-07-04 11:07:28,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
301,2016-07-04 10:58:57,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
322,2016-07-04 10:58:24,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
344,2016-07-04 07:59:54,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
363,2016-07-04 07:59:40,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
390,2016-07-04 07:33:38,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
414,2016-07-04 07:10:06,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
426,2016-07-04 07:09:08,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
463,2016-07-04 07:06:02,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
483,2016-07-04 07:05:36,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
487,2016-07-04 06:55:03,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
491,2016-07-04 06:47:01,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
509,2016-07-04 06:46:48,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
518,2016-07-04 06:35:55,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
541,2016-07-04 06:33:38,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
560,2016-07-04 06:33:25,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
574,2016-07-04 06:09:49,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
595,2016-07-04 06:09:36,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_0
651,2016-07-04 13:29:32,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_5
670,2016-07-04 13:29:11,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_5
673,2016-07-04 13:21:52,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_5
734,2016-07-04 12:57:36,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_5
832,2016-07-04 10:58:57,10010,Operational,Information,NaN,NaN,line_0,cell_0,robot_5
...,...,...,...,...,...,...,...,...,...
3979952,2016-07-27 11:58:42,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3979956,2016-07-27 11:29:20,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3980135,2016-07-27 06:21:57,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3980139,2016-07-27 14:08:39,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3980143,2016-07-27 13:29:50,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3980151,2016-07-27 11:49:05,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3980159,2016-07-27 11:48:31,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3980165,2016-07-27 11:19:10,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3980177,2016-07-27 06:11:46,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3980186,2016-07-28 11:37:47,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3980190,2016-07-28 11:37:01,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3980211,2016-07-28 10:52:52,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3980224,2016-07-28 10:47:41,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3980234,2016-07-28 10:47:23,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3980247,2016-07-28 10:45:55,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3980252,2016-07-28 10:20:59,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3980382,2016-07-28 11:38:38,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3980386,2016-07-28 11:37:52,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3980574,2016-07-28 11:28:26,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3980578,2016-07-28 11:27:40,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_188
3980603,2016-07-29 13:10:14,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3980722,2016-07-29 09:30:53,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3980730,2016-07-29 09:30:04,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3980733,2016-07-29 09:29:51,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_183
3980907,2016-07-29 13:11:04,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3980957,2016-07-29 11:05:52,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3980969,2016-07-29 11:05:33,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3980990,2016-07-29 11:04:47,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3980996,2016-07-29 11:02:53,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_187
3981314,2016-07-29 13:00:51,10010,Operational,Information,NaN,NaN,line_26,cell_13,robot_188

# message_number=10010

In [80]:
# Rausfinde welche Kategorien für message_number=10010 vorkommen

# X[X.message_number == '10010'][X.message_severity != 'Information']
X.loc[X['message_number'] == '10010', "message_severity"].unique()

array(['Information', 'MOTOREN-AUS-Zustand'], dtype=object)

In [81]:
# Überprüfe ob es außer 10010 andere message_numbers gibt, welche auch  'MOTOREN-AUS-Zustand' als messagw_severity Kategorie haben

X.loc[X['message_severity'] == 'MOTOREN-AUS-Zustand', "message_number"].unique()

array(['10010'], dtype=object)

In [82]:
X[X.message_number == '10010'][X.message_severity == 'MOTOREN-AUS-Zustand']

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
324372,2015-08-17 23:37:04,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_24
324381,2015-08-17 23:31:25,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_24
324389,2015-08-17 22:36:11,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_24
324398,2015-08-17 20:51:41,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_24
324409,2015-08-17 17:15:49,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_24
324417,2015-08-17 16:05:02,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_24
324425,2015-08-17 15:58:18,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_24
324433,2015-08-17 15:55:40,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_24
324438,2015-08-17 14:21:24,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_24
324446,2015-08-17 13:57:12,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_24
324458,2015-08-17 23:37:15,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_21
324467,2015-08-17 23:32:28,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_21
324473,2015-08-17 23:30:54,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_21
324486,2015-08-17 22:36:23,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_21
324495,2015-08-17 20:51:53,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_21
324500,2015-08-17 17:16:01,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_21
324508,2015-08-17 16:05:14,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_21
324513,2015-08-17 15:58:29,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_21
324521,2015-08-17 15:55:52,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_21
324529,2015-08-17 14:21:35,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_21
324539,2015-08-17 13:57:24,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_21
324552,2015-08-17 23:36:09,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_23
324561,2015-08-17 23:30:31,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_23
324570,2015-08-17 22:35:17,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_23
324575,2015-08-17 20:50:47,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_23
324586,2015-08-17 17:14:55,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_23
324593,2015-08-17 16:04:08,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_23
324601,2015-08-17 15:57:24,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_23
324611,2015-08-17 15:54:46,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_23
324619,2015-08-17 14:20:30,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_6,cell_11,robot_23
...,...,...,...,...,...,...,...,...,...
3942864,2015-08-31 10:16:39,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_17,robot_178
3942872,2015-08-31 09:54:57,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_17,robot_178
3942880,2015-08-31 09:03:32,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_17,robot_178
3942888,2015-08-31 07:44:29,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_17,robot_178
3942895,2015-08-31 04:45:50,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_17,robot_178
3942912,2015-08-31 21:59:05,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942930,2015-08-31 19:33:05,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942941,2015-08-31 18:21:43,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942949,2015-08-31 18:18:43,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942957,2015-08-31 18:04:57,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942968,2015-08-31 18:03:11,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942980,2015-08-31 17:59:28,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942988,2015-08-31 17:19:12,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943000,2015-08-31 16:03:45,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943008,2015-08-31 15:58:12,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943016,2015-08-31 15:56:09,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943036,2015-08-31 15:53:45,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943044,2015-08-31 14:20:01,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943052,2015-08-31 14:16:32,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943061,2015-08-31 12:49:08,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943063,2015-08-31 09:53:38,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943074,2015-08-31 12:37:41,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943086,2015-08-31 12:31:06,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943093,2015-08-31 12:21:29,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943101,2015-08-31 11:36:29,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943109,2015-08-31 10:42:52,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943117,2015-08-31 10:15:19,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943134,2015-08-31 09:02:12,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943142,2015-08-31 07:43:09,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943150,2015-08-31 04:44:31,10010,Operational,MOTOREN-AUS-Zustand,NaN,NaN,line_24,cell_14,robot_179

In [83]:
# Erstelle eine Notkopie für die Kategorebereinigung

df1=X.copy()

In [84]:
# message_number=10010
# Ersätze falsche Kategorie 'MOTOREN-AUS-Zustand' mit 'Information'. 

df1['message_severity'] = df1.message_severity.replace({'MOTOREN-AUS-Zustand': 'Information'})

# Überprüfe message number=10010
df1.loc[df1['message_number'] == '10010', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=10017

In [85]:
# Überprüfe message_severity von message number=10017

X.loc[X['message_number'] == '10017', "message_severity"].unique()

array(['Information', 'Automatikbetrieb bestätigt'], dtype=object)

In [86]:
# Überprüfe ob es außer 10017 andere message_numbers gibt, welche auch  'Automatikbetrieb bestätigt' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Automatikbetrieb bestätigt', "message_number"].unique()

array(['10017'], dtype=object)

In [87]:
X[X.message_number == '10017'][X.message_severity == 'Automatikbetrieb bestätigt'] # -> 225 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
324466,2015-08-17 23:32:30,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_6,cell_11,robot_21
331812,2015-08-20 14:24:54,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_6,cell_11,robot_24
331851,2015-08-20 14:04:21,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_6,cell_11,robot_24
341271,2015-08-24 21:47:10,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_6,cell_11,robot_23
341413,2015-08-24 17:50:18,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_6,cell_11,robot_23
341434,2015-08-24 17:40:25,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_6,cell_11,robot_23
341453,2015-08-24 17:31:24,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_6,cell_11,robot_23
341719,2015-08-24 06:39:00,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_6,cell_11,robot_22
341742,2015-08-24 06:36:56,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_6,cell_11,robot_22
646828,2015-08-17 18:50:15,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_11,cell_3,robot_76
654228,2015-08-18 09:56:17,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_11,cell_11,robot_66
654766,2015-08-18 16:16:53,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_11,cell_3,robot_67
1032995,2015-08-18 07:49:13,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_4,cell_3,robot_90
1065824,2015-08-20 17:49:27,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_4,cell_6,robot_13
1065912,2015-08-20 17:43:09,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_4,cell_6,robot_13
1117623,2015-08-24 13:18:19,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_4,cell_6,robot_20
1118242,2015-08-24 07:25:05,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_4,cell_3,robot_90
2927880,2015-08-18 12:56:12,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_19,cell_14,robot_149
2943732,2015-08-19 19:12:37,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_19,cell_14,robot_143
3005531,2015-10-20 20:10:24,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_19,cell_14,robot_143
3005558,2015-10-20 20:04:26,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_19,cell_14,robot_142
3090595,2015-10-22 09:54:19,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_19,cell_14,robot_146
3095009,2015-10-22 10:02:25,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_19,cell_14,robot_146
3095025,2015-10-22 10:02:07,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_19,cell_14,robot_146
3095745,2015-10-22 10:02:19,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_19,cell_14,robot_148
3095759,2015-10-22 10:01:53,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_19,cell_14,robot_148
3095783,2015-10-22 09:52:54,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_19,cell_14,robot_148
3095870,2015-10-22 09:46:44,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_19,cell_14,robot_148
3096909,2015-10-22 14:53:10,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_19,cell_14,robot_147
3097195,2015-10-22 20:42:15,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_19,cell_14,robot_147
...,...,...,...,...,...,...,...,...,...
3883522,2015-10-14 02:57:44,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3883967,2015-10-14 02:47:52,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_14,robot_179
3892227,2015-11-16 09:59:49,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3896317,2015-09-17 00:44:21,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_177
3897215,2015-09-17 00:19:04,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_178
3913963,2015-08-21 05:31:16,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3914178,2015-08-21 05:30:42,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_177
3914393,2015-08-21 05:31:13,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_178
3914609,2015-08-21 05:30:23,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_14,robot_179
3915537,2015-10-21 06:45:50,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_177
3922722,2015-09-24 14:00:29,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3922861,2015-09-24 14:13:31,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_177
3923296,2015-11-24 17:07:18,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3923319,2015-11-24 17:01:10,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3923341,2015-11-24 16:58:13,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3923399,2015-11-24 16:50:49,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3923418,2015-11-24 16:50:01,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3923523,2015-11-24 07:40:48,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3923558,2015-11-24 07:36:45,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3923570,2015-11-24 07:34:28,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3923592,2015-11-24 07:30:01,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3923671,2015-11-24 07:23:51,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3923705,2015-11-24 07:21:34,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3923728,2015-11-24 07:19:35,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3923792,2015-11-24 22:09:10,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_177
3923901,2015-11-24 14:09:24,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_177
3928488,2015-11-25 05:27:56,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_176
3942676,2015-08-31 12:38:21,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_178
3942734,2015-08-31 12:33:45,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_178
3942769,2015-08-31 12:32:35,10017,Operational,Automatikbetrieb bestätigt,NaN,NaN,line_24,cell_17,robot_178

In [88]:
df1['message_severity'] = df1.message_severity.replace({'Automatikbetrieb bestätigt': 'Information'})

# Überprüfe message_severity von message number=10017
df1.loc[df1['message_number'] == '10017', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=10016

In [89]:
# Überprüfe message_severity von message number=10016

X.loc[X['message_number'] == '10016', "message_severity"].unique()

array(['Information', 'Automatikbetrieb angefordert'], dtype=object)

In [90]:
# Überprüfe ob es außer 10016 andere message_numbers gibt, welche auch  'Automatikbetrieb angefordert' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Automatikbetrieb angefordert', "message_number"].unique()

array(['10016'], dtype=object)

In [91]:
X[X.message_number == '10016'][X.message_severity == 'Automatikbetrieb angefordert'] # -> 201 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
324468,2015-08-17 23:32:28,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_6,cell_11,robot_21
331814,2015-08-20 14:24:53,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_6,cell_11,robot_24
331854,2015-08-20 14:04:18,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_6,cell_11,robot_24
341273,2015-08-24 21:47:04,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_6,cell_11,robot_23
341415,2015-08-24 17:50:16,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_6,cell_11,robot_23
341436,2015-08-24 17:40:22,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_6,cell_11,robot_23
341456,2015-08-24 17:30:48,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_6,cell_11,robot_23
341721,2015-08-24 06:38:58,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_6,cell_11,robot_22
341745,2015-08-24 06:36:53,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_6,cell_11,robot_22
646830,2015-08-17 18:50:13,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_11,cell_3,robot_76
654232,2015-08-18 09:56:14,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_11,cell_11,robot_66
654769,2015-08-18 16:16:51,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_11,cell_3,robot_67
1032998,2015-08-18 07:49:11,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_4,cell_3,robot_90
1065829,2015-08-20 17:49:11,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_4,cell_6,robot_13
1065916,2015-08-20 17:43:07,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_4,cell_6,robot_13
1117625,2015-08-24 13:18:17,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_4,cell_6,robot_20
1118245,2015-08-24 07:25:03,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_4,cell_3,robot_90
2928105,2015-08-18 12:56:11,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_19,cell_14,robot_149
2967714,2015-08-19 19:12:35,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_19,cell_14,robot_143
2997860,2015-10-20 20:04:25,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_19,cell_14,robot_142
3095011,2015-10-22 10:02:24,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_19,cell_14,robot_146
3095027,2015-10-22 10:02:04,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_19,cell_14,robot_146
3095061,2015-10-22 09:54:18,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_19,cell_14,robot_146
3095747,2015-10-22 10:02:16,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_19,cell_14,robot_148
3095761,2015-10-22 10:01:51,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_19,cell_14,robot_148
3095786,2015-10-22 09:52:52,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_19,cell_14,robot_148
3095873,2015-10-22 09:46:42,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_19,cell_14,robot_148
3097199,2015-10-22 20:42:14,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_19,cell_14,robot_147
3097797,2015-10-22 15:03:58,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_19,cell_14,robot_147
3097830,2015-10-22 14:53:08,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_19,cell_14,robot_147
...,...,...,...,...,...,...,...,...,...
3883306,2015-10-14 03:49:01,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3883344,2015-10-14 03:44:21,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3883368,2015-10-14 03:42:52,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3883527,2015-10-14 02:57:40,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3883970,2015-10-14 02:47:49,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_14,robot_179
3892230,2015-11-16 09:59:46,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3896320,2015-09-17 00:44:19,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_177
3897218,2015-09-17 00:19:02,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_178
3915539,2015-10-21 06:45:46,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_177
3922725,2015-09-24 14:00:23,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3922729,2015-09-24 13:59:37,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3922864,2015-09-24 14:13:29,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_177
3923298,2015-11-24 17:07:15,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3923321,2015-11-24 17:01:07,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3923345,2015-11-24 16:58:10,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3923401,2015-11-24 16:50:47,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3923420,2015-11-24 16:49:58,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3923525,2015-11-24 07:40:46,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3923560,2015-11-24 07:36:43,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3923573,2015-11-24 07:34:24,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3923595,2015-11-24 07:29:59,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3923673,2015-11-24 07:23:45,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3923707,2015-11-24 07:21:31,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3923710,2015-11-24 22:09:09,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_177
3923731,2015-11-24 07:19:31,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3923904,2015-11-24 14:09:22,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_177
3928490,2015-11-25 05:27:51,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_176
3942679,2015-08-31 12:38:17,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_178
3942736,2015-08-31 12:33:43,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_178
3942771,2015-08-31 12:32:32,10016,Operational,Automatikbetrieb angefordert,NaN,NaN,line_24,cell_17,robot_178

In [92]:
df1['message_severity'] = df1.message_severity.replace({'Automatikbetrieb angefordert': 'Information'})

# Überprüfe message_severity von message_number=10016
df1.loc[df1['message_number'] == '10016', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=10015

In [93]:
# Überprüfe message_severity von message number=10015

X.loc[X['message_number'] == '10015', "message_severity"].unique()

array(['Information', 'Einrichtbetrieb gewählt'], dtype=object)

In [94]:
# Überprüfe ob es außer 10015 andere message_numbers gibt, welche auch  'Einrichtbetrieb gewählt' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Einrichtbetrieb gewählt', "message_number"].unique()

array(['10015'], dtype=object)

In [95]:
X[X.message_number == '10015'][X.message_severity == 'Einrichtbetrieb gewählt'] # -> 223 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
324476,2015-08-17 23:30:46,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_6,cell_11,robot_21
331833,2015-08-20 14:24:34,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_6,cell_11,robot_24
331865,2015-08-20 14:04:00,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_6,cell_11,robot_24
341278,2015-08-24 21:45:03,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_6,cell_11,robot_23
341420,2015-08-24 17:47:20,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_6,cell_11,robot_23
341440,2015-08-24 17:39:31,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_6,cell_11,robot_23
341476,2015-08-24 17:30:12,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_6,cell_11,robot_23
341739,2015-08-24 06:37:20,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_6,cell_11,robot_22
341834,2015-08-24 06:27:10,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_6,cell_11,robot_22
646890,2015-08-17 18:43:10,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_11,cell_3,robot_76
654248,2015-08-18 09:54:43,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_11,cell_11,robot_66
655130,2015-08-18 15:46:07,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_11,cell_3,robot_67
1033013,2015-08-18 07:44:16,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_4,cell_3,robot_90
1065906,2015-08-20 17:45:48,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_4,cell_6,robot_13
1065955,2015-08-20 17:39:18,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_4,cell_6,robot_13
1118640,2015-08-24 06:13:11,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_4,cell_3,robot_90
2932551,2015-08-18 12:55:20,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_19,cell_14,robot_149
2967782,2015-08-19 19:11:12,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_19,cell_14,robot_143
2967791,2015-08-19 19:09:53,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_19,cell_14,robot_143
3005593,2015-10-20 19:58:19,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_19,cell_14,robot_142
3085654,2015-10-23 06:26:27,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_19,cell_14,robot_145
3090950,2015-10-22 09:45:40,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_19,cell_14,robot_148
3095023,2015-10-22 10:02:10,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_19,cell_14,robot_146
3095055,2015-10-22 09:59:06,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_19,cell_14,robot_146
3095758,2015-10-22 10:01:59,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_19,cell_14,robot_148
3095772,2015-10-22 09:57:34,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_19,cell_14,robot_148
3095857,2015-10-22 09:49:28,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_19,cell_14,robot_148
3097210,2015-10-22 20:36:10,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_19,cell_14,robot_147
3097811,2015-10-22 14:58:09,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_19,cell_14,robot_147
3097846,2015-10-22 14:48:09,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_19,cell_14,robot_147
...,...,...,...,...,...,...,...,...,...
3883333,2015-10-14 03:46:45,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3883358,2015-10-14 03:44:04,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3883504,2015-10-14 03:02:55,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3883578,2015-10-14 02:51:46,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3883979,2015-10-14 02:46:30,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_14,robot_179
3892267,2015-11-16 09:49:05,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3896954,2015-09-17 00:19:59,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_177
3897583,2015-09-17 00:08:19,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_178
3915544,2015-10-21 06:38:41,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_177
3922728,2015-09-24 13:59:37,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3922730,2015-09-24 13:59:36,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3922929,2015-09-24 13:59:31,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_177
3923310,2015-11-24 17:06:44,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3923334,2015-11-24 17:00:41,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3923395,2015-11-24 16:55:23,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3923416,2015-11-24 16:50:13,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3923425,2015-11-24 16:49:07,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3923546,2015-11-24 07:38:24,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3923568,2015-11-24 07:35:58,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3923591,2015-11-24 07:30:59,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3923659,2015-11-24 07:25:58,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3923691,2015-11-24 07:22:46,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3923720,2015-11-24 07:21:09,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3923790,2015-11-24 07:04:52,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3923841,2015-11-24 22:06:31,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_177
3923910,2015-11-24 14:07:06,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_177
3928524,2015-11-25 02:11:37,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_176
3942718,2015-08-31 12:35:52,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_178
3942756,2015-08-31 12:33:01,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_178
3942828,2015-08-31 12:28:09,10015,Operational,Einrichtbetrieb gewählt,NaN,NaN,line_24,cell_17,robot_178

In [96]:
df1['message_severity'] = df1.message_severity.replace({'Einrichtbetrieb gewählt': 'Information'})

# Überprüfe message_severity von message_number=10015
df1.loc[df1['message_number'] == '10015', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=10012

In [97]:
# Überprüfe message_severity von message number=10012

X.loc[X['message_number'] == '10012', "message_severity"].unique()

array(['Information', 'Sicherheitsstopp-Zustand'], dtype=object)

In [98]:
# Überprüfe ob es außer 10012 andere message_numbers gibt, welche auch  'Sicherheitsstopp-Zustand' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Sicherheitsstopp-Zustand', "message_number"].unique()

array(['10012'], dtype=object)

In [99]:
X[X.message_number == '10012'][X.message_severity == 'Sicherheitsstopp-Zustand'] # -> 9859 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
291801,2015-06-04 20:26:06,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_24
291807,2015-06-04 20:26:10,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_21
291811,2015-06-04 20:25:44,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_23
291813,2015-06-04 20:27:09,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_22
291815,2015-06-04 20:26:34,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_25
291817,2015-06-04 20:27:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_33
293573,2015-05-05 19:26:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_24
293575,2015-05-05 13:07:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_24
293577,2015-05-05 07:09:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_24
293580,2015-05-04 22:10:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_24
293582,2015-05-04 21:49:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_24
293584,2015-05-04 19:40:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_24
293586,2015-05-04 16:04:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_24
293588,2015-05-05 19:26:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_21
293590,2015-05-05 13:07:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_21
293592,2015-05-05 07:09:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_21
293594,2015-05-04 22:10:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_21
293595,2015-05-04 21:58:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_21
293596,2015-05-04 21:57:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_21
293599,2015-05-04 21:54:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_21
293607,2015-05-04 21:50:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_21
293609,2015-05-04 19:40:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_21
293611,2015-05-04 16:04:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_21
293613,2015-05-05 19:26:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_23
293615,2015-05-05 13:07:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_23
293619,2015-05-05 07:09:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_23
293621,2015-05-04 22:10:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_23
293623,2015-05-04 21:49:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_23
293625,2015-05-04 19:40:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_23
293627,2015-05-04 16:04:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_6,cell_11,robot_23
...,...,...,...,...,...,...,...,...,...
3942866,2015-08-31 10:16:30,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_17,robot_178
3942874,2015-08-31 09:54:45,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_17,robot_178
3942882,2015-08-31 09:03:19,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_17,robot_178
3942890,2015-08-31 07:44:16,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_17,robot_178
3942899,2015-08-31 04:41:36,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_17,robot_178
3942914,2015-08-31 21:58:56,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942932,2015-08-31 19:32:51,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942943,2015-08-31 18:21:25,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942951,2015-08-31 18:18:29,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942961,2015-08-31 18:04:41,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942970,2015-08-31 18:02:18,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942982,2015-08-31 17:56:39,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942990,2015-08-31 17:18:59,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943002,2015-08-31 16:03:06,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943010,2015-08-31 15:57:40,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943018,2015-08-31 15:55:22,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943038,2015-08-31 15:53:19,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943046,2015-08-31 14:19:52,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943054,2015-08-31 14:16:21,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943064,2015-08-31 12:48:59,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943076,2015-08-31 12:34:27,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943088,2015-08-31 12:26:41,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943095,2015-08-31 12:21:20,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943103,2015-08-31 11:36:21,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943111,2015-08-31 10:42:40,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943120,2015-08-31 10:15:10,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943128,2015-08-31 09:53:25,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943136,2015-08-31 09:02:00,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943144,2015-08-31 07:42:57,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943151,2015-08-31 04:40:17,10012,Operational,Sicherheitsstopp-Zustand,NaN,NaN,line_24,cell_14,robot_179

In [100]:
df1['message_severity'] = df1.message_severity.replace({'Sicherheitsstopp-Zustand': 'Information'})

# Überprüfe message_severity von message_number=10012
df1.loc[df1['message_number'] == '10012', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=10011

In [101]:
# Überprüfe message_severity von message number=10011

X.loc[X['message_number'] == '10011', "message_severity"].unique()

array(['Information', 'MOTOREN-EIN-Zustand'], dtype=object)

In [102]:
# Überprüfe ob es außer 10011 andere message_numbers gibt, welche auch  'MOTOREN-EIN-Zustand' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'MOTOREN-EIN-Zustand', "message_number"].unique()

array(['10011'], dtype=object)

In [103]:
X[X.message_number == '10011'][X.message_severity == 'MOTOREN-EIN-Zustand'] # -> 8592  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
313237,2015-08-17 20:50:48,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_23
314531,2015-08-17 15:56:52,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_25
315378,2015-08-18 12:45:24,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_25
316210,2015-08-19 08:00:30,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_21
316457,2015-08-19 06:46:49,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_22
317778,2015-08-17 17:16:02,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_21
318866,2015-08-17 16:07:38,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_22
319143,2015-08-20 14:03:44,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_23
319612,2015-08-20 14:05:53,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_25
320092,2015-08-17 13:59:24,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_33
322398,2015-08-20 07:54:12,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_22
322641,2015-08-24 18:05:48,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_24
324371,2015-08-17 23:37:05,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_24
324380,2015-08-17 23:31:26,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_24
324388,2015-08-17 22:36:12,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_24
324397,2015-08-17 20:51:42,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_24
324407,2015-08-17 17:15:50,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_24
324408,2015-08-17 14:21:25,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_24
324416,2015-08-17 16:05:03,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_24
324424,2015-08-17 15:58:19,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_24
324432,2015-08-17 15:55:41,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_24
324445,2015-08-17 13:57:13,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_24
324457,2015-08-17 23:37:16,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_21
324465,2015-08-17 23:32:31,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_21
324472,2015-08-17 23:30:55,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_21
324485,2015-08-17 22:36:24,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_21
324487,2015-08-17 15:58:30,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_21
324494,2015-08-17 20:51:54,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_21
324507,2015-08-17 16:05:15,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_21
324520,2015-08-17 15:55:53,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_6,cell_11,robot_21
...,...,...,...,...,...,...,...,...,...
3942862,2015-08-31 10:16:40,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_17,robot_178
3942871,2015-08-31 09:54:58,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_17,robot_178
3942879,2015-08-31 09:03:33,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_17,robot_178
3942887,2015-08-31 07:44:30,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_17,robot_178
3942894,2015-08-31 04:45:51,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_17,robot_178
3942911,2015-08-31 21:59:06,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942929,2015-08-31 19:33:06,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942940,2015-08-31 18:21:44,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942948,2015-08-31 18:18:44,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942956,2015-08-31 18:04:58,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942966,2015-08-31 18:03:12,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942979,2015-08-31 17:59:29,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942987,2015-08-31 17:19:13,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3942999,2015-08-31 16:03:45,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943007,2015-08-31 15:58:13,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943015,2015-08-31 15:56:10,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943035,2015-08-31 15:53:46,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943043,2015-08-31 14:20:02,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943051,2015-08-31 14:16:32,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943060,2015-08-31 12:49:09,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943073,2015-08-31 12:37:41,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943085,2015-08-31 12:31:07,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943092,2015-08-31 12:21:30,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943100,2015-08-31 11:36:30,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943108,2015-08-31 10:42:53,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943116,2015-08-31 10:15:20,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943125,2015-08-31 09:53:39,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943133,2015-08-31 09:02:13,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943141,2015-08-31 07:43:10,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179
3943149,2015-08-31 04:44:32,10011,Operational,MOTOREN-EIN-Zustand,NaN,NaN,line_24,cell_14,robot_179

In [104]:
df1['message_severity'] = df1.message_severity.replace({'MOTOREN-EIN-Zustand': 'Information'})

# Überprüfe message_severity von message_number=10011
df1.loc[df1['message_number'] == '10011', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=40168

In [105]:
# Überprüfe message_severity von message number=40168

X.loc[X['message_number'] == '40168', "message_severity"].unique() # -> das passt, muss nicht angepasst werden

array(['Warning'], dtype=object)

# message_number=134010

In [106]:
# Überprüfe message_severity von message number=134010

X.loc[X['message_number'] == '134010', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=10129

In [107]:
# Überprüfe message_severity von message number=10129

X.loc[X['message_number'] == '10129', "message_severity"].unique()

array(['Information', 'Programm gestoppt'], dtype=object)

In [108]:
# Überprüfe, ob es außer 10129 andere message_numbers gibt, welche auch  'Programm gestoppt' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Programm gestoppt', "message_number"].unique()

array(['10125', '10123', '10122', '10130', '10126', '10129', '10133'],
      dtype=object)

# Überprüfe die Kategorien von allen messages

In [109]:
# Überprüfe, ob message 10125 auch zu Kategorei Information gehört

X.loc[X['message_number'] == '10125', "message_severity"].unique()

array(['Information', 'Programm gestoppt'], dtype=object)

In [110]:
X[X.message_number == '10125'][X.message_severity == 'Programm gestoppt'] # ->  11228 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
324376,2015-08-17 23:36:30,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_24
324384,2015-08-17 23:30:07,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_24
324393,2015-08-17 22:35:58,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_24
324401,2015-08-17 20:11:32,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_24
324412,2015-08-17 17:15:00,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_24
324420,2015-08-17 15:58:28,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_24
324428,2015-08-17 15:56:31,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_24
324436,2015-08-17 15:54:15,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_24
324441,2015-08-17 14:21:00,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_24
324449,2015-08-17 13:56:33,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_24
324461,2015-08-17 23:36:42,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_21
324479,2015-08-17 23:30:19,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_21
324490,2015-08-17 22:36:10,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_21
324498,2015-08-17 20:11:44,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_21
324503,2015-08-17 17:15:11,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_21
324511,2015-08-17 15:58:40,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_21
324516,2015-08-17 15:56:43,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_21
324524,2015-08-17 15:54:27,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_21
324532,2015-08-17 14:21:12,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_21
324542,2015-08-17 13:56:37,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_21
324555,2015-08-17 23:35:36,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_23
324560,2015-08-17 17:14:05,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_23
324564,2015-08-17 23:29:13,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_23
324573,2015-08-17 22:35:04,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_23
324578,2015-08-17 20:10:38,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_23
324596,2015-08-17 15:57:34,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_23
324606,2015-08-17 15:55:37,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_23
324614,2015-08-17 15:53:21,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_23
324623,2015-08-17 14:20:06,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_23
324631,2015-08-17 13:55:39,10125,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_23
...,...,...,...,...,...,...,...,...,...
3942952,2015-08-31 18:18:25,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3942959,2015-08-31 17:18:54,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3942962,2015-08-31 18:04:37,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3942971,2015-08-31 18:02:14,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3942975,2015-08-31 18:02:04,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3942983,2015-08-31 17:56:34,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3942993,2015-08-31 16:19:33,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3942997,2015-08-31 16:12:18,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943003,2015-08-31 16:03:01,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943011,2015-08-31 15:57:35,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943019,2015-08-31 15:55:00,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943023,2015-08-31 15:54:22,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943027,2015-08-31 15:53:55,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943031,2015-08-31 15:53:49,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943039,2015-08-31 15:53:15,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943047,2015-08-31 14:19:47,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943055,2015-08-31 14:16:17,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943056,2015-08-31 12:26:37,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943065,2015-08-31 12:48:54,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943069,2015-08-31 12:45:42,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943077,2015-08-31 12:34:22,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943081,2015-08-31 12:31:41,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943096,2015-08-31 12:21:15,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943104,2015-08-31 11:36:17,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943112,2015-08-31 10:42:36,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943121,2015-08-31 10:15:06,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943129,2015-08-31 09:53:21,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943137,2015-08-31 09:01:55,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943145,2015-08-31 07:42:52,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3943152,2015-08-31 04:40:12,10125,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179

In [111]:
# Überprüfe, ob message 10123 auch zu Kategorei Information gehört

X.loc[X['message_number'] == '10123', "message_severity"].unique()

array(['Information', 'Programm gestoppt'], dtype=object)

In [112]:
X[X.message_number == '10123'][X.message_severity == 'Programm gestoppt'] # -> 521  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
331820,2015-08-20 14:24:47,10123,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_24
1065835,2015-08-20 17:47:28,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
1065839,2015-08-20 17:47:22,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
1065843,2015-08-20 17:47:20,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
1065847,2015-08-20 17:47:18,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
1065851,2015-08-20 17:47:15,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
1065855,2015-08-20 17:47:09,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
1065859,2015-08-20 17:47:07,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
1065863,2015-08-20 17:46:58,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
1065867,2015-08-20 17:46:47,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
1065871,2015-08-20 17:46:46,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
1065875,2015-08-20 17:46:44,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
1065879,2015-08-20 17:46:43,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
1065883,2015-08-20 17:46:41,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
1065888,2015-08-20 17:46:39,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
1065892,2015-08-20 17:46:21,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
1065943,2015-08-20 17:40:37,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
1065947,2015-08-20 17:40:11,10123,Operational,Programm gestoppt,NaN,NaN,line_4,cell_6,robot_13
3086749,2015-10-22 09:52:33,10123,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_148
3087937,2015-10-22 09:52:31,10123,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_148
3090655,2015-10-22 09:52:30,10123,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_148
3090689,2015-10-22 09:52:11,10123,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_148
3090721,2015-10-22 09:52:09,10123,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_148
3092825,2015-10-22 09:54:00,10123,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_146
3093291,2015-10-22 09:53:49,10123,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_146
3093775,2015-10-22 09:57:55,10123,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_148
3095035,2015-10-22 09:59:58,10123,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_146
3095068,2015-10-22 09:54:05,10123,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_146
3095767,2015-10-22 09:58:09,10123,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_148
3095796,2015-10-22 09:52:34,10123,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_148
...,...,...,...,...,...,...,...,...,...
3897536,2015-09-17 00:11:49,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3897540,2015-09-17 00:11:46,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3897544,2015-09-17 00:11:43,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3897548,2015-09-17 00:11:40,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3897552,2015-09-17 00:11:31,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3897556,2015-09-17 00:11:28,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3897566,2015-09-17 00:09:23,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3922906,2015-09-24 14:04:23,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_177
3922910,2015-09-24 14:04:14,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_177
3923279,2015-11-24 16:56:19,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_176
3923300,2015-11-24 17:07:07,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_176
3923352,2015-11-24 16:57:23,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_176
3923356,2015-11-24 16:57:21,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_176
3923360,2015-11-24 16:57:18,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_176
3923364,2015-11-24 16:56:59,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_176
3923368,2015-11-24 16:56:58,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_176
3923373,2015-11-24 16:56:31,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_176
3923377,2015-11-24 16:56:21,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_176
3923387,2015-11-24 16:56:10,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_176
3923633,2015-11-24 07:27:52,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_176
3923637,2015-11-24 07:27:20,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_176
3923641,2015-11-24 07:27:06,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_176
3942681,2015-08-31 12:38:05,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3942685,2015-08-31 12:37:48,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3942689,2015-08-31 12:37:19,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3942738,2015-08-31 12:33:37,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3942778,2015-08-31 12:31:57,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3942785,2015-08-31 12:31:29,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3942809,2015-08-31 12:29:32,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3942816,2015-08-31 12:29:15,10123,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178

In [113]:
# Überprüfe, ob message 10122 auch zu Kategorei Information gehört

X.loc[X['message_number'] == '10122', "message_severity"].unique()

array(['Information', 'Programm gestoppt'], dtype=object)

In [114]:
X[X.message_number == '10122'][X.message_severity == 'Programm gestoppt'] # -> 32  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
341731,2015-08-24 06:38:41,10122,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_22
654779,2015-08-18 16:15:27,10122,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
1118290,2015-08-24 07:22:33,10122,Operational,Programm gestoppt,NaN,NaN,line_4,cell_3,robot_90
3005566,2015-10-20 20:04:08,10122,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_142
3005573,2015-10-20 20:03:30,10122,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_142
3095030,2015-10-22 10:01:46,10122,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_146
3739877,2015-09-09 04:39:58,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_3,robot_170
3771201,2015-12-16 18:17:21,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_175
3771599,2015-12-16 18:40:53,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_173
3771629,2015-12-16 18:43:55,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_173
3772050,2015-12-16 18:53:00,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_3,robot_168
3772293,2015-12-16 18:58:57,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_3,robot_170
3772535,2015-12-16 19:26:26,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_169
3772836,2015-12-16 19:31:21,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3794917,2015-08-21 03:16:02,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3794934,2015-08-21 03:14:49,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3794939,2015-08-21 03:13:48,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3794998,2015-08-21 03:00:08,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3795022,2015-08-21 02:58:26,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3795061,2015-08-21 02:35:31,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3795221,2015-08-21 02:15:39,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3795296,2015-08-21 02:09:43,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3795384,2015-08-21 02:03:00,10122,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3876914,2015-10-13 23:24:21,10122,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3876950,2015-10-13 23:12:24,10122,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3876962,2015-10-13 23:07:38,10122,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3877361,2015-10-13 21:07:22,10122,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3896330,2015-09-17 00:43:47,10122,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_177
3896611,2015-09-17 00:33:14,10122,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_177
3897228,2015-09-17 00:18:24,10122,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3922872,2015-09-24 14:12:54,10122,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_177
3922891,2015-09-24 14:10:32,10122,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_177

In [115]:
# Überprüfe, ob message 10130 auch zu Kategorei Information gehört

X.loc[X['message_number'] == '10130', "message_severity"].unique()

array(['Information', 'Programm gestoppt'], dtype=object)

In [116]:
X[X.message_number == '10130'][X.message_severity == 'Programm gestoppt'] # -> 211  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
341747,2015-08-24 06:36:34,10130,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_22
341755,2015-08-24 06:36:30,10130,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_22
341759,2015-08-24 06:36:27,10130,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_22
341767,2015-08-24 06:36:10,10130,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_22
341781,2015-08-24 06:35:28,10130,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_22
341819,2015-08-24 06:28:31,10130,Operational,Programm gestoppt,NaN,NaN,line_6,cell_11,robot_22
646832,2015-08-17 18:49:23,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_76
646836,2015-08-17 18:49:16,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_76
646840,2015-08-17 18:49:11,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_76
646850,2015-08-17 18:48:36,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_76
646854,2015-08-17 18:48:08,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_76
646858,2015-08-17 18:47:58,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_76
646869,2015-08-17 18:47:09,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_76
654818,2015-08-18 16:11:33,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
654822,2015-08-18 16:11:31,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
654826,2015-08-18 16:11:29,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
654841,2015-08-18 16:09:58,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
654845,2015-08-18 16:09:55,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
654852,2015-08-18 16:09:49,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
654867,2015-08-18 16:08:14,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
654879,2015-08-18 16:07:36,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
654883,2015-08-18 16:07:34,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
654897,2015-08-18 16:06:53,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
654918,2015-08-18 16:05:52,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
654920,2015-08-18 16:05:49,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
654928,2015-08-18 16:05:44,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
654942,2015-08-18 16:04:03,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
654946,2015-08-18 16:03:58,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
654952,2015-08-18 16:03:50,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
654962,2015-08-18 16:01:58,10130,Operational,Programm gestoppt,NaN,NaN,line_11,cell_3,robot_67
...,...,...,...,...,...,...,...,...,...
3772840,2015-12-16 19:31:05,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772844,2015-12-16 19:30:53,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772849,2015-12-16 19:30:35,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772853,2015-12-16 19:30:31,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772857,2015-12-16 19:30:19,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772861,2015-12-16 19:30:08,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772867,2015-12-16 19:29:58,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772871,2015-12-16 19:29:53,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772878,2015-12-16 19:29:33,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772882,2015-12-16 19:29:30,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772886,2015-12-16 19:29:28,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772890,2015-12-16 19:29:21,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772894,2015-12-16 19:29:18,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772898,2015-12-16 19:29:16,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772902,2015-12-16 19:29:14,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772906,2015-12-16 19:29:11,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772910,2015-12-16 19:29:08,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772914,2015-12-16 19:29:06,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772919,2015-12-16 19:28:59,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772923,2015-12-16 19:28:55,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772927,2015-12-16 19:28:53,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772931,2015-12-16 19:28:50,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772935,2015-12-16 19:28:48,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772939,2015-12-16 19:28:45,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772943,2015-12-16 19:28:42,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772947,2015-12-16 19:28:40,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772951,2015-12-16 19:28:37,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772955,2015-12-16 19:28:29,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3772962,2015-12-16 19:28:15,10130,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3860725,2015-11-09 11:50:54,10130,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178

In [117]:
# Überprüfe, ob message 10126 auch zu Kategorei Information gehört

X.loc[X['message_number'] == '10126', "message_severity"].unique()

array(['Information', 'Programm gestoppt'], dtype=object)

In [118]:
X[X.message_number == '10126'][X.message_severity == 'Programm gestoppt'] # -> 3  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
654251,2015-08-18 09:53:42,10126,Operational,Programm gestoppt,NaN,NaN,line_11,cell_11,robot_66
3795072,2015-08-21 02:32:36,10126,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3795354,2015-08-21 02:04:02,10126,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172

In [119]:
# Überprüfe, ob message 10129 auch zu Kategorei Information gehört

X.loc[X['message_number'] == '10129', "message_severity"].unique()

array(['Information', 'Programm gestoppt'], dtype=object)

In [120]:
X[X.message_number == '10129'][X.message_severity == 'Programm gestoppt'] # -> 58  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
2967770,2015-08-19 19:11:16,10129,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_143
3236671,2015-08-26 18:38:51,10129,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_143
3236764,2015-08-26 18:43:42,10129,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_142
3237035,2015-08-26 00:39:28,10129,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_142
3237426,2015-08-26 18:42:17,10129,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_145
3238762,2015-08-26 18:39:08,10129,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_144
3240390,2015-08-26 18:44:16,10129,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_146
3241444,2015-08-26 18:44:13,10129,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_148
3242429,2015-08-26 18:43:47,10129,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_149
3243478,2015-08-26 18:44:29,10129,Operational,Programm gestoppt,NaN,NaN,line_19,cell_14,robot_147
3668860,2015-08-20 23:51:23,10129,Operational,Programm gestoppt,NaN,NaN,line_22,cell_6,robot_165
3669010,2015-08-20 23:53:05,10129,Operational,Programm gestoppt,NaN,NaN,line_22,cell_6,robot_164
3669144,2015-08-20 23:55:00,10129,Operational,Programm gestoppt,NaN,NaN,line_22,cell_6,robot_162
3669273,2015-08-20 23:51:51,10129,Operational,Programm gestoppt,NaN,NaN,line_22,cell_6,robot_166
3669383,2015-08-20 23:56:28,10129,Operational,Programm gestoppt,NaN,NaN,line_22,cell_6,robot_163
3672157,2015-08-21 00:07:55,10129,Operational,Programm gestoppt,NaN,NaN,line_22,cell_6,robot_165
3672352,2015-08-21 00:09:34,10129,Operational,Programm gestoppt,NaN,NaN,line_22,cell_6,robot_164
3672555,2015-08-21 00:11:28,10129,Operational,Programm gestoppt,NaN,NaN,line_22,cell_6,robot_162
3672757,2015-08-21 00:08:23,10129,Operational,Programm gestoppt,NaN,NaN,line_22,cell_6,robot_166
3672964,2015-08-21 00:13:01,10129,Operational,Programm gestoppt,NaN,NaN,line_22,cell_6,robot_163
3739138,2015-09-09 16:39:09,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_175
3739222,2015-09-09 03:41:42,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_175
3739244,2015-09-09 03:35:10,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_175
3739323,2015-09-09 16:39:12,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_173
3739406,2015-09-09 03:35:18,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_173
3739577,2015-09-09 16:39:17,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_3,robot_168
3739660,2015-09-09 03:34:40,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_3,robot_168
3739732,2015-09-09 16:39:22,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_3,robot_170
3739909,2015-09-09 03:34:39,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_3,robot_170
3740107,2015-09-09 16:40:29,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_169
3740180,2015-09-09 03:35:36,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_169
3740253,2015-09-09 16:40:06,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3740331,2015-09-09 03:35:21,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3794958,2015-08-21 03:12:10,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3795043,2015-08-21 02:53:56,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3795182,2015-08-21 02:25:28,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3795413,2015-08-21 01:57:48,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3795464,2015-08-21 01:50:30,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3795486,2015-08-21 01:25:01,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3795508,2015-08-21 01:21:19,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3795559,2015-08-21 01:00:51,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_172
3795662,2015-08-21 00:59:27,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_175
3795765,2015-08-21 00:59:41,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_11,robot_173
3795872,2015-08-21 00:57:58,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_3,robot_174
3795988,2015-08-21 00:58:28,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_3,robot_168
3796113,2015-08-21 00:58:34,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_3,robot_170
3796237,2015-08-21 00:57:53,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_167
3796348,2015-08-21 00:58:46,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_169
3796455,2015-08-21 00:58:35,10129,Operational,Programm gestoppt,NaN,NaN,line_23,cell_13,robot_171
3859819,2015-09-09 16:40:06,10129,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_177
3859984,2015-09-09 16:41:01,10129,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3860085,2015-09-09 03:36:02,10129,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3877109,2015-10-13 22:47:57,10129,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3877206,2015-10-13 22:29:52,10129,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179
3913952,2015-08-21 05:31:18,10129,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_176
3914165,2015-08-21 05:30:44,10129,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_177
3914382,2015-08-21 05:31:15,10129,Operational,Programm gestoppt,NaN,NaN,line_24,cell_17,robot_178
3914598,2015-08-21 05:30:26,10129,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179

In [121]:
# Überprüfe, ob message 10133 auch zu Kategorei Information gehört

X.loc[X['message_number'] == '10133', "message_severity"].unique()

array(['Information', 'Programm gestoppt'], dtype=object)

In [122]:
X[X.message_number == '10133'][X.message_severity == 'Programm gestoppt'] # -> 1  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3873596,2015-10-12 01:43:27,10133,Operational,Programm gestoppt,NaN,NaN,line_24,cell_14,robot_179

In [123]:
# => können alle auf einmal ersetzt werden

# Ersetzen von allen 'Programm gestoppt' und überprüfen

In [124]:
# Ersetze alle 'Programm gestoppt' durch 'Information'
df1['message_severity'] = df1.message_severity.replace({'Programm gestoppt': 'Information'})

# Überprüfe message_severity von message_number=10129
df1.loc[df1['message_number'] == '10129', "message_severity"].unique()

array(['Information'], dtype=object)

In [127]:
# Überprüfe message_severity von message_number=10123
df1.loc[df1['message_number'] == '10123', "message_severity"].unique()

array(['Information'], dtype=object)

In [128]:
# Überprüfe message_severity von message_number=10125
df1.loc[df['message_number'] == '10125', "message_severity"].unique()

NameError: name 'df' is not defined

In [ ]:
# Überprüfe message_severity von message_number=10122
df1.loc[df['message_number'] == '10122', "message_severity"].unique()

In [ ]:
# Überprüfe message_severity von message_number=10130
df1.loc[df['message_number'] == '10130', "message_severity"].unique()

In [ ]:
# Überprüfe message_severity von message_number=10133
df1.loc[df1['message_number'] == '10133', "message_severity"].unique()

In [ ]:
# Überprüfe message_severity von message_number=10126
df1.loc[df1['message_number'] == '10126', "message_severity"].unique()

In [ ]:
# Überprüfe message_severity von message number=10131

X.loc[X['message_number'] == '10131', "message_severity"].unique()

In [ ]:
# Überprüfe message_severity von message number=10121

X.loc[X['message_number'] == '10121', "message_severity"].unique()

# message_number=10150

In [ ]:
# Überprüfe message_severity von message number=10150

X.loc[X['message_number'] == '10150', "message_severity"].unique()

In [ ]:
# Überprüfe ob es außer 10150 andere message_numbers gibt, welche auch  'Programm gestartet' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Programm gestartet', "message_number"].unique()

In [ ]:
X[X.message_number == '10150'][X.message_severity == 'Programm gestartet'] # -> 216  mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'Programm gestartet': 'Information'})

# Überprüfe message_severity von message_number=10150
df1.loc[df1['message_number'] == '10150', "message_severity"].unique()

# message_number=10002

In [ ]:
# Überprüfe message_severity von message number=10002

X.loc[X['message_number'] == '10002', "message_severity"].unique()

In [ ]:
# Überprüfe ob es außer 10002 andere message_numbers gibt, welche auch  'Programmzeiger wurde zurückgesetzt' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Programmzeiger wurde zurückgesetzt', "message_number"].unique()

In [ ]:
X[X.message_number == '10002'][X.message_severity == 'Programmzeiger wurde zurückgesetzt'] # -> 397  mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'Programmzeiger wurde zurückgesetzt': 'Information'})

# Überprüfe message_severity von message_number=10002
df1.loc[df1['message_number'] == '10002', "message_severity"].unique()

# message_number=50024

In [ ]:
# Überprüfe message_severity von message number=50024

X.loc[X['message_number'] == '50024', "message_severity"].unique()

In [ ]:
# Überprüfe ob es außer 50024 andere message_numbers gibt, welche auch  'Zonenbahn-Fehler ' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Zonenbahn-Fehler ', "message_number"].unique()

In [ ]:
X[X.message_number == '50024'][X.message_severity == 'Zonenbahn-Fehler '] # -> 163587  mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'Zonenbahn-Fehler ': 'Warning'})

# Überprüfe message_severity von message_number=50024
df1.loc[df1['message_number'] == '50024', "message_severity"].unique()

# message_number=10155

In [ ]:
# Überprüfe message_severity von message number=10155

X.loc[X['message_number'] == '10155', "message_severity"].unique()

In [ ]:
X[X.message_number == '10155'][X.message_severity == 'Programm neu gestartet'] # -> 57  mal falsch zugeordnet

In [ ]:
# Überprüfe ob es außer 10155 andere message_numbers gibt, welche auch  'Programm neu gestartet' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Programm neu gestartet', "message_number"].unique()

In [ ]:
# Überprüfe message_severity von message number=10156

X.loc[X['message_number'] == '10156', "message_severity"].unique()

In [ ]:
X[X.message_number == '10156'][X.message_severity == 'Programm neu gestartet'] # -> 11829  mal falsch zugeordnet

In [ ]:
# Überprüfe message_severity von message number=10157

X.loc[X['message_number'] == '10157', "message_severity"].unique()
#-> mann kann alle drei: 10156, 10155, 10157 umwandeln

In [ ]:
X[X.message_number == '10157'][X.message_severity == 'Programm neu gestartet'] # ->  1 mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'Programm neu gestartet': 'Information'})

# Überprüfe message_severity von message_number=10155
df1.loc[df['message_number'] == '10155', "message_severity"].unique()

In [ ]:
# Überprüfe message_severity von message_number=10156
df1.loc[df1['message_number'] == '10156', "message_severity"].unique()

In [ ]:
# Überprüfe message_severity von message_number=10157
df1.loc[df1['message_number'] == '10157', "message_severity"].unique()

# message_number=71201

In [ ]:
# Überprüfe message_severity von message number=71201

X.loc[X['message_number'] == '71201', "message_severity"].unique()

# message_number=10045

In [ ]:
# Überprüfe message_severity von message number=10045

X.loc[X['message_number'] == '10045', "message_severity"].unique()

In [ ]:
# Überprüfe ob es außer 10045 andere message_numbers gibt, welche auch  'System neu gestartet' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'System neu gestartet', "message_number"].unique()

In [ ]:
X[X.message_number == '10045'][X.message_severity == 'System neu gestartet'] # -> 58  mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'System neu gestartet': 'Information'})

# Überprüfe message_severity von message_number=10045
df1.loc[df1['message_number'] == '10045', "message_severity"].unique()

# message_number=10151

In [ ]:
# Überprüfe message_severity von message number=10151

X.loc[X['message_number'] == '10151', "message_severity"].unique()

In [ ]:
# Überprüfe ob es außer 10151 andere message_numbers gibt, welche auch  'Programm gestartet. ' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Programm gestartet.', "message_number"].unique()
#-> können alle umgewndelt werden

In [ ]:
X[X.message_number == '10151'][X.message_severity == 'Programm gestartet.'] # -> 162  mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'Programm gestartet.': 'Information'})

# Überprüfe message_severity von message_number=10151
df1.loc[df1['message_number'] == '10151', "message_severity"].unique()

# message_number=10053

In [ ]:
# Überprüfe message_severity von message number=10053

X.loc[X['message_number'] == '10053', "message_severity"].unique()

In [ ]:
# Überprüfe ob es außer 10053 andere message_numbers gibt, welche auch  'Wiederanfahren fertig' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Wiederanfahren fertig', "message_number"].unique()

In [ ]:
X[X.message_number == '10053'][X.message_severity == 'Wiederanfahren fertig'] # ->  11909  mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'Wiederanfahren fertig': 'Information'})

# Überprüfe message_severity von message_number=10153
df1.loc[df1['message_number'] == '10053', "message_severity"].unique()

# message_number=10052

In [ ]:
# Überprüfe message_severity von message number=10052

X.loc[X['message_number'] == '10052', "message_severity"].unique()

In [ ]:
# Überprüfe ob es außer 10052 andere message_numbers gibt, welche auch  'Wiederanfahren gestartet' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Wiederanfahren gestartet', "message_number"].unique()

In [ ]:
X[X.message_number == '10052'][X.message_severity == 'Wiederanfahren gestartet'] # ->  11907  mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'Wiederanfahren gestartet': 'Information'})

# Überprüfe message_severity von message_number=10052
df1.loc[df1['message_number'] == '10052', "message_severity"].unique()

# message_number=20205

In [ ]:
# Überprüfe message_severity von message number=20205

X.loc[X['message_number'] == '20205', "message_severity"].unique()

In [ ]:
# Überprüfe ob es außer 20205 andere message_numbers gibt, welche auch  'Automatik-Sicherheitshalt offen' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Automatik-Sicherheitshalt offen', "message_number"].unique()

In [ ]:
X[X.message_number == '20205'][X.message_severity == 'Automatik-Sicherheitshalt offen'] # ->  8761   mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'Automatik-Sicherheitshalt offen': 'Error'})

# Überprüfe message_severity von message_number=20205
df1.loc[df1['message_number'] == '20205', "message_severity"].unique()

# message_number=10232

In [ ]:
# Überprüfe message_severity von message number=10232

X.loc[X['message_number'] == '10232', "message_severity"].unique()

In [ ]:
X[X.message_number == '10232'][X.message_severity == 'Backup-Schritt fertig'] # ->  1233  mal falsch zugeordnet

In [ ]:
# Überprüfe ob es außer 10232 andere message_numbers gibt, welche auch  'Backup-Schritt fertig' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Backup-Schritt fertig', "message_number"].unique()

In [ ]:
# Überprüfe message_severity von message number=10230

X.loc[X['message_number'] == '10230', "message_severity"].unique()

In [ ]:
X[X.message_number == '10230'][X.message_severity == 'Backup-Schritt fertig'] # -> 1233    mal falsch zugeordnet

In [ ]:
# Überprüfe message_severity von message number=10231

X.loc[X['message_number'] == '10231', "message_severity"].unique()

In [ ]:
X[X.message_number == '10231'][X.message_severity == 'Backup-Schritt fertig'] # ->  1233  mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'Backup-Schritt fertig': 'Information'})

# Überprüfe message_severity von message_number=10232
df1.loc[df1['message_number'] == '10232', "message_severity"].unique()

In [ ]:
df1.loc[df1['message_number'] == '10230', "message_severity"].unique()

In [ ]:
df1.loc[df1['message_number'] == '10231', "message_severity"].unique()

# message_number=50036

In [ ]:
# Überprüfe message_severity von message number=50036

X.loc[X['message_number'] == '50036', "message_severity"].unique()

# message_number=50050

In [ ]:
# Überprüfe message_severity von message number=50050

X.loc[X['message_number'] == '50050', "message_severity"].unique()

# message_number=10020

In [ ]:
# Überprüfe message_severity von message number=10020

X.loc[X['message_number'] == '10020', "message_severity"].unique()

In [ ]:
# Überprüfe ob es außer 10020 andere message_numbers gibt, welche auch  'Status Abarbeitungsfehler' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Status Abarbeitungsfehler', "message_number"].unique()

In [ ]:
X[X.message_number == '10020'][X.message_severity == 'Status Abarbeitungsfehler'] # ->  7  mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'Status Abarbeitungsfehler': 'Information'})

# Überprüfe message_severity von message_number=10020
df1.loc[df1['message_number'] == '10020', "message_severity"].unique()

# message_number=50163

In [ ]:
# Überprüfe message_severity von message number=50163

X.loc[X['message_number'] == '50163', "message_severity"].unique()

# message_number=100000

In [ ]:
# Überprüfe message_severity von message number=100000

X.loc[X['message_number'] == '100000', "message_severity"].unique()

In [ ]:
# Überprüfe ob es außer 100000 andere message_numbers gibt, welche auch  'Interner Fehler' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Interner Fehler', "message_number"].unique()

In [ ]:
X[X.message_number == '100000'][X.message_severity == 'Interner Fehler'] # ->  11  mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'Interner Fehler': 'Error'})

# Überprüfe message_severity von message_number=100000
df1.loc[df1['message_number'] == '100000', "message_severity"].unique()

# message_number=20074

In [ ]:
# Überprüfe message_severity von message number=20074

X.loc[X['message_number'] == '20074', "message_severity"].unique()

In [ ]:
X[X.message_number == '20074'][X.message_severity == 'Befehl nicht zulässig'] # ->  18  mal falsch zugeordnet

In [ ]:
# Überprüfe ob es außer 20074 andere message_numbers gibt, welche auch  'Befehl nicht zulässig' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Befehl nicht zulässig', "message_number"].unique()

In [ ]:
# Überprüfe message_severity von message number=20072

X.loc[X['message_number'] == '20072', "message_severity"].unique()

In [ ]:
X[X.message_number == '20072'][X.message_severity == 'Befehl nicht zulässig'] # ->  12  mal falsch zugeordnet

In [ ]:
# Überprüfe message_severity von message number=20070???? --> soll Error sein

X.loc[X['message_number'] == '20070', "message_severity"].unique()

In [ ]:
# Überprüfe message_severity von message number=20082

X.loc[X['message_number'] == '20082', "message_severity"].unique()

In [ ]:
X[X.message_number == '20082'][X.message_severity == 'Befehl nicht zulässig'] # ->  3  mal falsch zugeordnet

In [ ]:
# Überprüfe message_severity von message number=20061

X.loc[X['message_number'] == '20061', "message_severity"].unique()

In [ ]:
X[X.message_number == '20061'][X.message_severity == 'Befehl nicht zulässig'] # ->  5  mal falsch zugeordnet

In [ ]:
# Überprüfe message_severity von message number=20054

X.loc[X['message_number'] == '20054', "message_severity"].unique()
# --> können alle umgeandelt werden

In [ ]:
X[X.message_number == '20054'][X.message_severity == 'Befehl nicht zulässig'] # -> 1   mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'Befehl nicht zulässig': 'Error'})

# Überprüfe message_severity von message_number=20074
df1.loc[df1['message_number'] == '20074', "message_severity"].unique()

# message_number=20066

In [ ]:
# Überprüfe message_severity von message number=20066

X.loc[X['message_number'] == '20066', "message_severity"].unique()

# message_number=20067

In [ ]:
# Überprüfe message_severity von message number=20067

X.loc[X['message_number'] == '20067', "message_severity"].unique()

# message_number=20051

In [ ]:
# Überprüfe message_severity von message number=20051

X.loc[X['message_number'] == '20051', "message_severity"].unique()

# message_number=20075

In [ ]:
# Überprüfe message_severity von message number=20075

X.loc[X['message_number'] == '20075', "message_severity"].unique()

# message_number=20064

In [ ]:
# Überprüfe message_severity von message number=20064

X.loc[X['message_number'] == '20064', "message_severity"].unique()

# message_number=10019

In [ ]:
# Überprüfe message_severity von message number=10019

X.loc[X['message_number'] == '10019', "message_severity"].unique()

# message_number=10018

In [ ]:
# Überprüfe message_severity von message number=10018

X.loc[X['message_number'] == '10018', "message_severity"].unique()

# message_number=80002

# Annahme: Um eine konsistente Zuordnung von jedem message_number nur zu einer bestimmten message_severity aufzubewahren, werden alle vorkommenden Titeln von message_number=80002 zu berets zugeordneten Warning zugeordnet.

In [ ]:
# Überprüfe message_severity von message number=80002

X.loc[X['message_number'] == '80002', "message_severity"].unique()

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch  ' Schweißsteuerung Fehler!! ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Schweißsteuerung Fehler!! ', "message_number"].unique()

In [ ]:
X[X.message_number == '80002'][X.message_severity == ' Schweißsteuerung Fehler!! '] # -> 79 mal falsch zugeordnet

In [ ]:
# Ersetze die Kategorie
df1['message_severity'] = df1.message_severity.replace({' Schweißsteuerung Fehler!! ': 'Warning'})

In [ ]:
X[X.message_number == '80002'][X.message_severity == 'Warning'] # ->  mal 26226 richtig zugeordnet

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch  ' Schweißzangen Fehler!! ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Schweißzangen Fehler!! ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Schweißzangen Fehler!! ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch  ' Warte auf Fraeser Umdrehungszaehler ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Fraeser Umdrehungszaehler ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Fraeser Umdrehungszaehler ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch  ' Warte auf E.-Kappe vorhanden ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf E.-Kappe vorhanden ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf E.-Kappe vorhanden ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch  ' Warte auf Kühlwasser!! ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Kühlwasser!! ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Kühlwasser!! ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch  ' Warte auf Schweißzangen Kraft Signal ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Schweißzangen Kraft Signal ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Schweißzangen Kraft Signal ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch  ' Warte auf Zange MotionCompl Signal ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Zange MotionCompl Signal ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Zange MotionCompl Signal ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch  ' Servozange FS1 Error: 18813 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Servozange FS1 Error: 18813 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Servozange FS1 Error: 18813 ': 'Warning'})

In [ ]:
X[X.message_severity == 'NaN']

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Schweißzangen Motion/Ready Signal ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Schweißzangen Motion/Ready Signal ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Schweißzangen Motion/Ready Signal ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Kopf rueck muss low sein ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Kopf rueck muss low sein ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Kopf rueck muss low sein ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Kappe abgezogen ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Kappe abgezogen ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Kappe abgezogen ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Eingang Positionierbereit fehlt ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Eingang Positionierbereit fehlt ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Eingang Positionierbereit fehlt ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Eingang Kontakt muss low sein ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Eingang Kontakt muss low sein ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Eingang Kontakt muss low sein ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Falscher oder kein Bolzen ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Falscher oder kein Bolzen ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Falscher oder kein Bolzen ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf FK ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf FK ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf FK ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Schweisskopf muss rueck sein ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Schweisskopf muss rueck sein ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Schweisskopf muss rueck sein ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Bauteilkontrolle: -B04TK ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Bauteilkontrolle: -B04TK ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Bauteilkontrolle: -B04TK ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' HemQC: Kommunikationsfehler! ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' HemQC: Kommunikationsfehler! ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' HemQC: Kommunikationsfehler! ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Abdeckung Station 2 wird geschlossen. ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Abdeckung Station 2 wird geschlossen. ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Abdeckung Station 2 wird geschlossen. ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Abdeckung Station 1 wird geöffnet. ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Abdeckung Station 1 wird geöffnet. ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Abdeckung Station 1 wird geöffnet. ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Abdeckung Station 2 wird geöffnet. ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Abdeckung Station 2 wird geöffnet. ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Abdeckung Station 2 wird geöffnet. ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Abdeckung Station 1 wird geschlossen. ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Abdeckung Station 1 wird geschlossen. ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Abdeckung Station 1 wird geschlossen. ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' ' Station Belegt Meldung fehlt ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Station Belegt Meldung fehlt ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Station Belegt Meldung fehlt ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Kuehlwasser!! ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Kuehlwasser!! ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Kuehlwasser!! ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Schweißzange Kraft erreicht ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Schweißzange Kraft erreicht ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Schweißzange Kraft erreicht ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Wasser &lt' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Wasser &lt', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Wasser &lt': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B22V2 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B22V2 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B22V2 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B22V1 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B22V1 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B22V1 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B12R1 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B12R1 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B12R1 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B12V2 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B12V2 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B12V2 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte Bestätigung SPS Elektrodenwechsel fertig? ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte Bestätigung SPS Elektrodenwechsel fertig? ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte Bestätigung SPS Elektrodenwechsel fertig? ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Fehler bei IOEnable ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Fehler bei IOEnable ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Fehler bei IOEnable ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Unit nicht bereit ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Unit nicht bereit ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Unit nicht bereit ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Kein Kontakt zu EA Einheit ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Kein Kontakt zu EA Einheit ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Kein Kontakt zu EA Einheit ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Fehler bei IODisable ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Fehler bei IODisable ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Fehler bei IODisable ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Druckschalterüberwachung n.i.O ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Druckschalterüberwachung n.i.O ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Druckschalterüberwachung n.i.O ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B12V1 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B12V1 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B12V1 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Schweißza. MotionCompl Signal ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Schweißza. MotionCompl Signal ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Schweißza. MotionCompl Signal ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Bauteilkontrolle: -B4TK ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Bauteilkontrolle: -B4TK ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Bauteilkontrolle: -B4TK ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Zangenfehler ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Zangenfehler ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Zangenfehler ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Festo Controller wird von einem anderen Client benutzt/ PC? ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Festo Controller wird von einem anderen Client benutzt/ PC? ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Festo Controller wird von einem anderen Client benutzt/ PC? ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Pal, Bauteilzaehler ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Pal, Bauteilzaehler ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Pal, Bauteilzaehler ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B11R1 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B11R1 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B11R1 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B11V1 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B11V1 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B11V1 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B13R1 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B13R1 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B13R1 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Fehler bei Überprüfung ToolCode ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Fehler bei Überprüfung ToolCode ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Fehler bei Überprüfung ToolCode ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B17R1 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B17R1 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B17R1 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B15V2 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B15V2 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B15V2 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B13V1 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B13V1 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B13V1 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B15R1 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B15R1 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B15R1 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B15V1 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B15V1 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B15V1 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B15R2 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B15R2 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B15R2 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Bauteilkontrolle: -B1TK ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Bauteilkontrolle: -B1TK ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Bauteilkontrolle: -B1TK ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Servozange FS2 Error: 18813 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Servozange FS2 Error: 18813 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Servozange FS2 Error: 18813 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B13R2 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B13R2 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B13R2 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B13V2 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B13V2 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B13V2 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Bauteilkontrolle: -B3TK ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Bauteilkontrolle: -B3TK ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Bauteilkontrolle: -B3TK ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B16R1 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B16R1 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B16R1 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Endlage: -B16V1 ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Endlage: -B16V1 ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Endlage: -B16V1 ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' LSP -Identischer Schweißpunkt! ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' LSP -Identischer Schweißpunkt! ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' LSP -Identischer Schweißpunkt! ': 'Warning'})

In [ ]:
# Überprüfe ob es außer 80002 andere message_numbers gibt, welche auch ' Warte auf Schweißsteuerung Bereit Steuerteil ' als message_severity Kategorie haben

X.loc[X['message_severity'] == ' Warte auf Schweißsteuerung Bereit Steuerteil ', "message_number"].unique()

In [ ]:
# Ersetze die vorhandene falsche Kategorie
df1['message_severity'] = df1.message_severity.replace({' Warte auf Schweißsteuerung Bereit Steuerteil ': 'Warning'})

# Überprüfe, ob die message_severity Korrektur von message_number=80002 erfolgreich war

In [ ]:
# Überprüfe message_severity von message number=80002 in df1

df1.loc[df1['message_number'] == '80002', "message_severity"].unique() # -> alles erfolgreich korregiert

# message_number=50026

In [ ]:
# Überprüfe message_severity von message number=50026

X.loc[X['message_number'] == '50026', "message_severity"].unique()

# message_number=10152

In [ ]:
# Überprüfe message_severity von message number=10152

X.loc[X['message_number'] == '10152', "message_severity"].unique()

# message_number=10021

In [ ]:
# Überprüfe message_severity von message number=10021

X.loc[X['message_number'] == '10021', "message_severity"].unique()

In [ ]:
# Überprüfe ob es außer 10021 andere message_numbers gibt, welche auch  'Rücksetzen Abarbeitungsfehler' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Rücksetzen Abarbeitungsfehler', "message_number"].unique()

In [ ]:
X[X.message_number == '10021'][X.message_severity == 'Rücksetzen Abarbeitungsfehler'] # -> 6 mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'Rücksetzen Abarbeitungsfehler': 'Information'})

# Überprüfe message_severity von message_number=10021
df1.loc[df1['message_number'] == '10021', "message_severity"].unique()

# message_number=10097

In [ ]:
# Überprüfe message_severity von message number=10097

X.loc[X['message_number'] == '10097', "message_severity"].unique()

# message_number=50143

In [ ]:
# Überprüfe message_severity von message number=50143

X.loc[X['message_number'] == '50143', "message_severity"].unique()

# message_number=20010

In [ ]:
# Überprüfe message_severity von message number=20010

X.loc[X['message_number'] == '20010', "message_severity"].unique()

# message_number=10013

In [ ]:
# Überprüfe message_severity von message number=10013

X.loc[X['message_number'] == '10013', "message_severity"].unique()

In [ ]:
# Überprüfe ob es außer 10013 andere message_numbers gibt, welche auch  'Not-Aus-Status ' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Not-Aus-Status ', "message_number"].unique()

In [ ]:
X[X.message_number == '10013'][X.message_severity == 'Not-Aus-Status '] # -> 1 mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'Not-Aus-Status ': 'Information'})

# Überprüfe message_severity von message_number=10013
df1.loc[df1['message_number'] == '10013', "message_severity"].unique()

# message_number=10084

In [ ]:
# Überprüfe message_severity von message number=10084

X.loc[X['message_number'] == '10084', "message_severity"].unique()

# message_number=10048

In [ ]:
# Überprüfe message_severity von message number=10048

X.loc[X['message_number'] == '10048', "message_severity"].unique()

# message_number=40228

In [ ]:
# Überprüfe message_severity von message number=40228

X.loc[X['message_number'] == '40228', "message_severity"].unique()

In [ ]:
# Überprüfe ob es außer 40228 andere message_numbers gibt, welche auch  'Abarbeitungsfehler' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Abarbeitungsfehler', "message_number"].unique()

In [ ]:
X[X.message_number == '40228'][X.message_severity == 'Abarbeitungsfehler'] # -> 4  mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'Abarbeitungsfehler': 'Error'})

# Überprüfe message_severity von message_number=40228
df1.loc[df1['message_number'] == '40228', "message_severity"].unique()

# message_number=10253

In [ ]:
# Überprüfe message_severity von message number=10253

X.loc[X['message_number'] == '10253', "message_severity"].unique()

# message_number=10252

In [ ]:
# Überprüfe message_severity von message number=10252

X.loc[X['message_number'] == '10252', "message_severity"].unique()

# message_number=10251

In [ ]:
# Überprüfe message_severity von message number=10251

X.loc[X['message_number'] == '10251', "message_severity"].unique()

# message_number=10250

In [ ]:
# Überprüfe message_severity von message number=10250

X.loc[X['message_number'] == '10250', "message_severity"].unique()

# message_number=50316

In [ ]:
# Überprüfe message_severity von message number=50316

X.loc[X['message_number'] == '50316', "message_severity"].unique()

In [ ]:
# Überprüfe ob es außer 50316 andere message_numbers gibt, welche auch  'Absolutgenauigkeit nicht aktiviert' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Absolutgenauigkeit nicht aktiviert', "message_number"].unique()

In [ ]:
X[X.message_number == '50316'][X.message_severity == 'Absolutgenauigkeit nicht aktiviert'] # -> 1  mal falsch zugeordnet

In [ ]:
df1['message_severity'] = df1.message_severity.replace({'Absolutgenauigkeit nicht aktiviert': 'Warning'})

# Überprüfe message_severity von message_number=50316
df1.loc[df1['message_number'] == '50316', "message_severity"].unique()

# message_number=10046

In [ ]:
# Überprüfe message_severity von message number=10046

X.loc[X['message_number'] == '10046', "message_severity"].unique()

# message_number=20206

In [ ]:
# Überprüfe message_severity von message number=20206

X.loc[X['message_number'] == '20206', "message_severity"].unique()

In [ ]:
# Überprüfe ob es außer 20206 andere message_numbers gibt, welche auch  'Allgemeiner Sicherheitshalt offen als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Allgemeiner Sicherheitshalt offen', "message_number"].unique()

In [129]:
X[X.message_number == '20206'][X.message_severity == 'Allgemeiner Sicherheitshalt offen'] # -> 116  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3237036,2015-08-26 00:39:25,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_19,cell_14,robot_142
3672095,2015-08-21 05:09:17,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_22,cell_6,robot_165
3672153,2015-08-21 00:57:32,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_22,cell_6,robot_165
3672154,2015-08-21 00:53:39,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_22,cell_6,robot_165
3672306,2015-08-21 05:11:16,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_22,cell_6,robot_164
3672344,2015-08-21 00:59:31,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_22,cell_6,robot_164
3672345,2015-08-21 00:55:37,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_22,cell_6,robot_164
3672509,2015-08-21 05:13:06,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_22,cell_6,robot_162
3672546,2015-08-21 01:01:21,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_22,cell_6,robot_162
3672547,2015-08-21 00:57:27,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_22,cell_6,robot_162
3672711,2015-08-21 05:09:51,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_22,cell_6,robot_166
3672748,2015-08-21 00:58:07,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_22,cell_6,robot_166
3672749,2015-08-21 00:54:13,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_22,cell_6,robot_166
3672909,2015-08-21 05:14:17,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_22,cell_6,robot_163
3672953,2015-08-21 01:02:32,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_22,cell_6,robot_163
3672955,2015-08-21 00:58:39,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_22,cell_6,robot_163
3739224,2015-09-09 03:41:40,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_11,robot_175
3739245,2015-09-09 03:35:08,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_11,robot_175
3739407,2015-09-09 03:35:16,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_11,robot_173
3739661,2015-09-09 03:34:38,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_3,robot_168
3739911,2015-09-09 03:34:37,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_3,robot_170
3740181,2015-09-09 03:35:34,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_13,robot_169
3740332,2015-09-09 03:35:19,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_13,robot_171
3742834,2015-09-10 04:26:44,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_11,robot_172
3742902,2015-09-10 04:25:02,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_11,robot_175
3742970,2015-09-10 04:25:12,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_11,robot_173
3743052,2015-09-10 04:23:49,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_3,robot_174
3743125,2015-09-10 04:24:17,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_3,robot_168
3743201,2015-09-10 04:24:18,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_3,robot_170
3743317,2015-09-10 04:24:07,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_13,robot_167
...,...,...,...,...,...,...,...,...,...
3797407,2015-10-21 06:39:26,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_13,robot_167
3797411,2015-10-21 06:38:59,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_13,robot_167
3797622,2015-10-21 06:40:09,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_13,robot_169
3797746,2015-10-21 06:39:49,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_23,cell_13,robot_171
3836915,2015-10-01 13:03:51,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_176
3836984,2015-10-01 13:02:55,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_177
3837045,2015-10-01 13:03:52,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_178
3837106,2015-10-01 13:02:14,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_14,robot_179
3860086,2015-09-09 03:36:00,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_178
3862993,2015-09-10 04:25:20,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_176
3863256,2015-09-10 04:24:32,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_177
3863511,2015-09-10 04:25:21,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_178
3863779,2015-09-10 04:23:56,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_14,robot_179
3877205,2015-10-13 22:31:47,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_14,robot_179
3913976,2015-08-21 05:11:34,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_176
3913994,2015-08-21 00:55:56,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_176
3914191,2015-08-21 05:10:52,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_177
3914209,2015-08-21 00:55:14,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_177
3914407,2015-08-21 05:11:35,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_178
3914426,2015-08-21 00:55:57,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_178
3914622,2015-08-21 05:10:21,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_14,robot_179
3914640,2015-08-21 00:54:43,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_14,robot_179
3915417,2015-10-21 06:40:30,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_176
3915540,2015-10-21 06:39:29,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_177
3915654,2015-10-21 06:40:32,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_178
3915755,2015-10-21 06:38:43,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_14,robot_179
3928458,2015-11-25 11:27:26,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_176
3928581,2015-11-25 11:26:14,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_177
3928664,2015-11-25 11:27:29,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_17,robot_178
3928743,2015-11-25 11:25:20,20206,System,Allgemeiner Sicherheitshalt offen,NaN,NaN,line_24,cell_14,robot_179

In [130]:
df1['message_severity'] = df1.message_severity.replace({'Allgemeiner Sicherheitshalt offen': 'Error'})

# Überprüfe message_severity von message_number=20206
df1.loc[df1['message_number'] == '20206', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=71439

In [131]:
# Überprüfe message_severity von message number=71439

X.loc[X['message_number'] == '71439', "message_severity"].unique()

array(['Diagnose der Profinet-E/A-Einheit', 'Warning'], dtype=object)

In [132]:
# Überprüfe ob es außer 71439 andere message_numbers gibt, welche auch  'Diagnose der Profinet-E/A-Einheit' offen als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Diagnose der Profinet-E/A-Einheit', "message_number"].unique()

array(['71439'], dtype=object)

In [133]:
X[X.message_number == '71439'][X.message_severity == 'Diagnose der Profinet-E/A-Einheit'] # -> 3795 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3499,2015-05-08 12:35:32,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
7455,2015-05-08 12:35:25,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
7712,2015-05-08 12:11:48,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
8926,2015-05-08 12:11:41,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
9576,2015-05-08 11:13:09,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
11103,2015-05-08 11:09:50,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
11557,2015-05-08 11:09:43,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
13114,2015-05-08 11:05:44,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
13518,2015-05-08 11:05:38,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
14283,2015-05-08 11:00:03,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
14659,2015-05-08 10:59:56,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
16057,2015-05-08 10:57:42,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
16342,2015-05-08 10:57:36,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
18064,2015-05-08 10:54:37,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
18275,2015-05-08 10:54:30,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
19430,2015-05-08 10:43:11,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
20445,2015-05-08 10:43:04,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
20895,2015-05-08 10:40:05,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
21210,2015-05-08 10:39:58,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
22764,2015-05-08 10:25:55,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
23118,2015-05-08 10:25:48,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
23974,2015-05-08 10:23:15,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
25618,2015-05-08 10:23:08,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
27538,2015-05-08 10:21:34,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
27749,2015-05-08 10:21:27,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
27990,2015-05-08 10:15:53,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
30669,2015-05-08 10:15:46,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
32293,2015-05-08 10:14:12,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
32574,2015-05-08 10:14:05,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
33686,2015-05-08 10:08:51,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
...,...,...,...,...,...,...,...,...,...
3832035,2015-08-31 10:45:36,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832038,2015-08-31 10:45:27,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832054,2015-08-31 10:44:10,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832058,2015-08-31 10:44:01,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832066,2015-08-31 10:43:22,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832081,2015-08-31 10:42:48,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832096,2015-08-31 10:42:01,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832102,2015-08-31 10:40:12,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832118,2015-08-31 10:39:58,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832127,2015-08-31 10:38:43,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832156,2015-08-31 00:28:13,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3849426,2015-10-06 15:42:57,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3853248,2015-10-07 09:54:45,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3856385,2015-10-08 07:21:48,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3856522,2015-11-08 09:11:32,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_177
3856559,2015-11-08 09:12:38,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3860746,2015-11-09 11:48:36,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3861064,2015-12-09 10:34:06,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_177
3864159,2015-11-10 07:29:03,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_177
3868635,2015-09-11 17:53:56,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3868706,2015-09-11 12:31:06,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3869440,2015-12-11 08:03:02,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_177
3882535,2015-09-14 22:42:09,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3882849,2015-09-14 07:11:05,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3891300,2015-09-16 06:59:02,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3896951,2015-09-17 00:20:04,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_177
3897054,2015-09-17 12:30:35,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3897206,2015-09-17 07:23:56,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3897580,2015-09-17 00:08:24,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3915541,2015-10-21 06:38:45,71439,IOCommunication,Diagnose der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_177

In [134]:
df1['message_severity'] = df1.message_severity.replace({'Diagnose der Profinet-E/A-Einheit': 'Warning'})

# Überprüfe message_severity von message_number=71439
df1.loc[df1['message_number'] == '71439', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=71518

In [135]:
# Überprüfe message_severity von message number=71518

X.loc[X['message_number'] == '71518', "message_severity"].unique()

array(['Warning', 'Profinet-Konfigurationskonflikt'], dtype=object)

In [136]:
# Überprüfe ob es außer 71518 andere message_numbers gibt, welche auch  'Profinet-Konfigurationskonflikt' offen als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Profinet-Konfigurationskonflikt', "message_number"].unique()

array(['71518'], dtype=object)

In [137]:
X[X.message_number == '71518'][X.message_severity == 'Profinet-Konfigurationskonflikt'] # -> 7322  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
869176,2015-05-08 19:32:53,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869179,2015-05-08 17:39:51,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869180,2015-05-08 17:35:50,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869181,2015-05-08 17:30:07,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869182,2015-05-08 17:21:46,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869183,2015-05-08 17:16:23,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869184,2015-05-08 16:19:32,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869185,2015-05-08 16:14:16,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869190,2015-05-08 15:55:43,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869196,2015-05-08 14:26:21,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869200,2015-05-08 13:35:49,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869201,2015-05-08 12:57:24,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869202,2015-05-08 12:36:43,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869205,2015-05-08 11:53:13,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869206,2015-05-08 11:17:30,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869207,2015-05-08 11:13:03,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869208,2015-05-08 11:01:12,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869209,2015-05-08 10:55:45,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869210,2015-05-08 10:43:00,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869211,2015-05-08 10:24:44,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869212,2015-05-08 10:17:21,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869213,2015-05-08 10:09:59,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869214,2015-05-08 10:07:01,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869217,2015-05-08 08:59:12,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869218,2015-05-08 08:18:14,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869219,2015-05-08 08:15:35,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869220,2015-05-08 08:08:11,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869221,2015-05-08 08:04:10,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869222,2015-05-08 08:01:31,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
869223,2015-05-08 07:58:52,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_4,cell_11,robot_88
...,...,...,...,...,...,...,...,...,...
3910482,2015-08-20 13:30:20,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910484,2015-08-20 12:26:41,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910485,2015-08-20 12:13:34,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910486,2015-08-20 12:08:29,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910487,2015-08-20 12:04:04,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910488,2015-08-20 11:41:25,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910489,2015-08-20 11:36:45,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910494,2015-08-20 10:08:56,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910495,2015-08-20 09:57:11,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910496,2015-08-20 09:53:44,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910497,2015-08-20 09:48:38,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910502,2015-08-20 08:06:52,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910503,2015-08-20 08:05:06,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910504,2015-08-20 07:45:17,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910505,2015-08-20 07:42:11,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910506,2015-08-20 07:37:01,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910507,2015-08-20 07:32:33,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910508,2015-08-20 07:14:42,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910509,2015-08-20 07:10:01,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910510,2015-08-20 07:06:34,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910511,2015-08-20 06:56:42,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3910512,2015-08-20 06:16:40,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3913922,2015-08-21 05:38:32,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_17,robot_177
3913970,2015-08-21 05:19:03,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_17,robot_176
3914057,2015-08-21 05:37:02,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179
3914185,2015-08-21 05:17:08,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_17,robot_177
3914395,2015-08-21 05:30:52,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_17,robot_178
3914402,2015-08-21 05:17:11,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_17,robot_178
3914403,2015-08-21 05:17:06,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_17,robot_178
3914617,2015-08-21 05:17:50,71518,IOCommunication,Profinet-Konfigurationskonflikt,NaN,NaN,line_24,cell_14,robot_179

In [138]:
df1['message_severity'] = df1.message_severity.replace({'Profinet-Konfigurationskonflikt': 'Warning'})

# Überprüfe message_severity von message_number=71518
df1.loc[df1['message_number'] == '71518', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=50376 !!!!!!! ACHTUNG GLEICHZEITIG WARNING UND ERROR ZUGEORDNET!!!!!!

In [139]:
# Überprüfe message_severity von message number=50376

X.loc[X['message_number'] == '50376', "message_severity"].unique()

array(['Warning', 'Error'], dtype=object)

In [140]:
X[X.message_number == '50376'][X.message_severity == 'Warning'] # -> 213 mal zu Warning zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
4546,2016-06-25 09:49:54,50376,Motion,Warning,NaN,NaN,line_3,cell_8,robot_15
5603,2016-06-25 13:18:19,50376,Motion,Warning,NaN,NaN,line_3,cell_8,robot_15
5740,2016-06-25 12:31:07,50376,Motion,Warning,NaN,NaN,line_3,cell_8,robot_15
6083,2016-06-25 10:35:34,50376,Motion,Warning,NaN,NaN,line_3,cell_8,robot_15
6212,2016-06-25 09:37:56,50376,Motion,Warning,NaN,NaN,line_3,cell_8,robot_15
6256,2016-06-25 09:30:56,50376,Motion,Warning,NaN,NaN,line_3,cell_8,robot_15
6280,2016-06-25 09:27:26,50376,Motion,Warning,NaN,NaN,line_3,cell_8,robot_15
6367,2016-06-25 09:11:26,50376,Motion,Warning,NaN,NaN,line_3,cell_8,robot_15
6396,2016-06-25 09:04:59,50376,Motion,Warning,NaN,NaN,line_3,cell_8,robot_15
6466,2016-06-25 08:50:38,50376,Motion,Warning,NaN,NaN,line_3,cell_8,robot_15
3639877,2016-04-12 16:44:21,50376,Motion,Warning,NaN,NaN,line_22,cell_6,robot_166
3957470,2016-08-01 07:57:11,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3957495,2016-08-01 07:37:16,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3957516,2016-08-01 07:19:10,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3957522,2016-08-01 06:38:26,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3957546,2016-08-01 06:56:31,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3957838,2016-08-02 08:01:25,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3957861,2016-08-02 07:41:34,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3957889,2016-08-02 07:19:20,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3957911,2016-08-02 07:01:14,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3957936,2016-08-02 06:40:23,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3964232,2016-03-10 20:20:48,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3964258,2016-03-10 18:43:00,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3964279,2016-03-10 18:03:10,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3964307,2016-03-10 17:22:27,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3964327,2016-03-10 17:00:39,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3964368,2016-03-10 16:20:04,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3964397,2016-03-10 15:38:50,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3964425,2016-03-10 15:19:13,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3964468,2016-03-10 14:54:25,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
...,...,...,...,...,...,...,...,...,...
3977785,2016-07-20 07:15:06,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3977814,2016-07-20 06:52:25,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3977835,2016-07-20 06:34:19,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3978562,2016-07-25 09:57:53,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3978659,2016-07-25 07:10:36,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3978663,2016-07-25 08:59:50,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3978695,2016-07-25 08:11:23,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3978719,2016-07-25 07:51:30,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3978744,2016-07-25 07:31:37,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3978799,2016-07-25 06:50:41,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3978818,2016-07-25 06:32:35,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3979813,2016-07-27 07:58:34,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3979836,2016-07-27 07:36:46,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3979864,2016-07-27 07:14:08,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3979887,2016-07-27 06:54:14,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3979908,2016-07-27 06:36:09,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3980258,2016-07-28 09:36:16,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3980281,2016-07-28 08:57:51,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3980308,2016-07-28 07:38:47,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3980333,2016-07-28 07:01:42,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3980360,2016-07-28 06:31:18,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3980622,2016-07-29 11:13:46,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3980655,2016-07-29 10:47:27,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3980684,2016-07-29 10:04:21,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3980707,2016-07-29 09:43:43,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3980750,2016-07-29 09:15:15,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3980802,2016-07-29 07:38:08,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3980827,2016-07-29 07:17:16,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3980858,2016-07-29 06:55:09,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183
3980878,2016-07-29 06:36:31,50376,Motion,Warning,NaN,NaN,line_26,cell_13,robot_183

In [141]:
X[X.message_number == '50376'][X.message_severity == 'Error'] # -> 3 mal zu Error zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
2066280,2016-07-11 11:54:46,50376,Motion,Error,NaN,NaN,line_17,cell_17,robot_136
2066397,2016-07-11 11:55:54,50376,Motion,Error,NaN,NaN,line_17,cell_17,robot_133
2178899,2016-07-11 11:55:38,50376,Motion,Error,NaN,NaN,line_18,cell_3,robot_135

# message_number=20314

In [142]:
# Überprüfe message_severity von message number=20314

X.loc[X['message_number'] == '20314', "message_severity"].unique()

array(['Warning', 'Überwachungsfehler Sicherheitskreis 2'], dtype=object)

In [143]:
# Überprüfe ob es außer 20314 andere message_numbers gibt, welche auch  'Überwachungsfehler Sicherheitskreis 2' offen als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Überwachungsfehler Sicherheitskreis 2', "message_number"].unique()

array(['20314'], dtype=object)

In [144]:
X[X.message_number == '20314'][X.message_severity == 'Überwachungsfehler Sicherheitskreis 2'] # -> 36  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
293605,2015-05-04 21:50:00,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_6,cell_11,robot_21
341317,2015-08-24 20:50:38,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_6,cell_11,robot_23
646406,2015-08-17 18:43:11,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_11,cell_11,robot_70
869316,2015-05-08 21:34:23,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_4,cell_3,robot_90
1032661,2015-08-18 07:19:26,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_4,cell_11,robot_89
1032857,2015-08-18 22:43:24,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_4,cell_3,robot_90
1042679,2015-05-19 15:53:07,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_4,cell_11,robot_89
1046068,2015-08-19 13:37:03,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_4,cell_6,robot_20
1076567,2015-05-21 07:54:45,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_4,cell_3,robot_87
1076593,2015-05-21 14:13:04,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_4,cell_3,robot_90
1094139,2015-05-22 10:22:41,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_4,cell_3,robot_87
2788994,2015-10-13 21:57:07,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_19,cell_14,robot_147
3660805,2015-08-18 21:42:50,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_22,cell_6,robot_163
3669302,2015-08-20 22:42:09,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_22,cell_6,robot_166
3715891,2015-09-03 22:48:13,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_23,cell_11,robot_173
3740776,2015-12-09 18:33:07,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_23,cell_11,robot_173
3742768,2015-09-10 23:16:02,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_23,cell_11,robot_172
3760143,2015-09-14 19:35:02,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_23,cell_11,robot_172
3770493,2015-10-16 02:09:43,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_23,cell_13,robot_167
3771125,2015-11-16 01:57:52,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_23,cell_13,robot_171
3772786,2015-12-16 18:48:33,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_23,cell_13,robot_169
3786431,2015-10-19 19:37:47,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_23,cell_13,robot_167
3786800,2015-11-19 10:22:25,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_23,cell_11,robot_175
3791149,2015-10-20 00:52:10,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_23,cell_11,robot_173
3796693,2015-10-21 06:20:25,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_23,cell_11,robot_175
3800964,2015-10-22 23:36:10,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_23,cell_3,robot_168
3816291,2015-08-26 22:33:55,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_23,cell_13,robot_169
3850089,2015-11-06 12:59:56,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_24,cell_17,robot_178
3860347,2015-10-09 06:15:27,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_24,cell_17,robot_176
3872958,2015-10-12 16:16:54,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_24,cell_17,robot_177
3887815,2015-09-15 14:06:59,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_24,cell_17,robot_176
3891124,2015-09-16 15:41:17,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_24,cell_17,robot_177
3915243,2015-09-21 10:29:20,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_24,cell_14,robot_179
3918722,2015-10-22 21:46:18,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_24,cell_14,robot_179
3923463,2015-11-24 13:34:08,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_24,cell_17,robot_176
3931638,2015-11-26 00:07:04,20314,System,Überwachungsfehler Sicherheitskreis 2,NaN,NaN,line_24,cell_17,robot_177

In [145]:
df1['message_severity'] = df1.message_severity.replace({'Überwachungsfehler Sicherheitskreis 2': 'Warning'})

# Überprüfe message_severity von message_number=20314
df1.loc[df1['message_number'] == '20314', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=10270

In [146]:
# Überprüfe message_severity von message number=10270

X.loc[X['message_number'] == '10270', "message_severity"].unique()

array(['Information', 'Zyklische Bremsenüberprüfung durchgeführt'],
      dtype=object)

In [147]:
# Überprüfe ob es außer 10270 andere message_numbers gibt, welche auch  'Zyklische Bremsenüberprüfung durchgeführt' offen als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Zyklische Bremsenüberprüfung durchgeführt', "message_number"].unique()

array(['10270'], dtype=object)

In [148]:
X[X.message_number == '10270'][X.message_severity == 'Zyklische Bremsenüberprüfung durchgeführt'] # -> 1298   mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
324402,2015-08-17 18:47:33,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_24
324499,2015-08-17 18:47:45,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_21
324579,2015-08-17 18:46:39,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_23
324673,2015-08-17 18:50:08,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_22
324762,2015-08-17 18:48:45,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_25
324852,2015-08-17 18:49:45,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_33
327218,2015-08-18 18:47:34,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_24
327267,2015-08-18 18:47:45,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_21
327315,2015-08-18 18:46:39,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_23
327358,2015-08-18 18:50:10,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_22
327408,2015-08-18 18:48:46,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_25
327447,2015-08-18 18:49:46,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_33
329762,2015-08-19 18:47:34,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_24
329797,2015-08-19 18:47:46,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_21
329839,2015-08-19 18:46:40,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_23
329875,2015-08-19 18:50:13,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_22
329920,2015-08-19 18:48:49,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_25
329955,2015-08-19 18:49:49,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_33
331783,2015-08-20 18:47:37,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_24
331917,2015-08-20 18:47:47,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_21
332003,2015-08-20 18:46:42,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_23
332088,2015-08-20 18:50:16,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_22
332168,2015-08-20 18:48:51,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_25
332251,2015-08-20 18:49:52,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_33
334120,2015-08-21 18:47:42,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_24
334145,2015-08-21 18:47:52,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_21
334175,2015-08-21 18:46:58,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_23
334198,2015-08-21 18:50:34,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_22
334225,2015-08-21 18:48:56,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_25
334248,2015-08-21 18:49:59,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_6,cell_11,robot_33
...,...,...,...,...,...,...,...,...,...
3934206,2015-11-27 19:47:41,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_177
3934268,2015-11-27 19:48:57,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_178
3934318,2015-11-27 19:46:57,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_14,robot_179
3936029,2015-08-28 19:26:58,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_176
3936171,2015-08-28 18:47:04,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_177
3936308,2015-08-28 18:47:42,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_178
3936454,2015-08-28 18:46:35,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_14,robot_179
3936589,2015-09-28 19:28:26,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_176
3936729,2015-09-28 18:47:09,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_177
3936868,2015-09-28 18:48:05,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_178
3937010,2015-09-28 19:25:01,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_14,robot_179
3939119,2015-08-29 18:46:57,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_177
3939124,2015-08-29 18:47:43,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_178
3939129,2015-08-29 18:46:35,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_14,robot_179
3939134,2015-09-29 19:28:02,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_176
3939253,2015-09-29 18:47:10,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_177
3939358,2015-09-29 18:48:05,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_178
3939466,2015-09-29 19:24:41,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_14,robot_179
3940691,2015-08-30 23:24:35,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_176
3940699,2015-08-30 18:46:58,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_177
3940705,2015-08-30 18:47:44,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_178
3940714,2015-08-30 18:46:35,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_14,robot_179
3940722,2015-09-30 18:48:05,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_176
3940781,2015-09-30 18:47:11,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_177
3940835,2015-09-30 18:48:07,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_178
3940890,2015-09-30 18:46:40,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_14,robot_179
3942004,2015-08-31 19:37:30,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_176
3942304,2015-08-31 18:46:58,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_177
3942543,2015-08-31 18:47:44,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_17,robot_178
3942924,2015-08-31 19:34:42,10270,Operational,Zyklische Bremsenüberprüfung durchgeführt,NaN,NaN,line_24,cell_14,robot_179

In [149]:
df1['message_severity'] = df1.message_severity.replace({'Zyklische Bremsenüberprüfung durchgeführt': 'Information'})

# Überprüfe message_severity von message_number=10270
df1.loc[df1['message_number'] == '10270', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=10271

In [150]:
# Überprüfe message_severity von message number=10271

X.loc[X['message_number'] == '10271', "message_severity"].unique()

array(['Information', 'Cyclic Brake Check gestartet'], dtype=object)

In [151]:
# Überprüfe ob es außer 10271 andere message_numbers gibt, welche auch  'Cyclic Brake Check gestartet' offen als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Cyclic Brake Check gestartet', "message_number"].unique()

array(['10271'], dtype=object)

In [152]:
X[X.message_number == '10271'][X.message_severity == 'Cyclic Brake Check gestartet'] # ->  1296   mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
319813,2015-08-21 18:49:30,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_22
321117,2015-08-23 18:48:53,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_33
324403,2015-08-17 18:46:31,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_24
324469,2015-08-17 18:46:42,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_21
324580,2015-08-17 18:45:36,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_23
324674,2015-08-17 18:49:05,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_22
324763,2015-08-17 18:47:42,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_25
324853,2015-08-17 18:48:42,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_33
327219,2015-08-18 18:46:31,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_24
327268,2015-08-18 18:46:43,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_21
327316,2015-08-18 18:45:37,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_23
327359,2015-08-18 18:49:07,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_22
327409,2015-08-18 18:47:43,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_25
327448,2015-08-18 18:48:44,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_33
329763,2015-08-19 18:46:32,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_24
329798,2015-08-19 18:46:44,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_21
329840,2015-08-19 18:45:37,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_23
329876,2015-08-19 18:49:10,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_22
329921,2015-08-19 18:47:45,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_25
329956,2015-08-19 18:48:46,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_33
331784,2015-08-20 18:46:33,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_24
331918,2015-08-20 18:46:45,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_21
332004,2015-08-20 18:45:38,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_23
332089,2015-08-20 18:49:12,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_22
332169,2015-08-20 18:47:46,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_25
332252,2015-08-20 18:48:48,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_33
334109,2015-08-21 18:45:54,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_23
334121,2015-08-21 18:46:37,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_24
334146,2015-08-21 18:46:49,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_21
334226,2015-08-21 18:47:53,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_6,cell_11,robot_25
...,...,...,...,...,...,...,...,...,...
3934207,2015-11-27 19:46:37,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_177
3934269,2015-11-27 19:47:53,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_178
3934319,2015-11-27 19:45:42,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_14,robot_179
3936030,2015-08-28 19:25:54,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_176
3936172,2015-08-28 18:46:00,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_177
3936309,2015-08-28 18:46:38,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_178
3936455,2015-08-28 18:45:20,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_14,robot_179
3936590,2015-09-28 19:27:22,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_176
3936730,2015-09-28 18:46:05,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_177
3936869,2015-09-28 18:47:01,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_178
3937011,2015-09-28 19:23:47,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_14,robot_179
3939120,2015-08-29 18:45:54,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_177
3939125,2015-08-29 18:46:39,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_178
3939130,2015-08-29 18:45:21,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_14,robot_179
3939135,2015-09-29 19:26:58,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_176
3939254,2015-09-29 18:46:06,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_177
3939359,2015-09-29 18:47:02,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_178
3939467,2015-09-29 19:23:26,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_14,robot_179
3940692,2015-08-30 23:23:31,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_176
3940700,2015-08-30 18:45:54,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_177
3940706,2015-08-30 18:46:40,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_178
3940715,2015-08-30 18:45:21,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_14,robot_179
3940723,2015-09-30 18:47:01,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_176
3940782,2015-09-30 18:46:06,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_177
3940836,2015-09-30 18:47:03,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_178
3940891,2015-09-30 18:45:25,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_14,robot_179
3942005,2015-08-31 19:36:26,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_176
3942305,2015-08-31 18:45:54,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_177
3942544,2015-08-31 18:46:41,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_17,robot_178
3942925,2015-08-31 19:33:27,10271,Operational,Cyclic Brake Check gestartet,NaN,NaN,line_24,cell_14,robot_179

In [153]:
df1['message_severity'] = df1.message_severity.replace({'Cyclic Brake Check gestartet': 'Information'})

# Überprüfe message_severity von message_number=10271
df1.loc[df1['message_number'] == '10271', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=71444 ACHTUNG GLEICHZEITIG ZU INFORMATION, WARNING UND 'Alarm der Profinet-E/A-Einheit' ZUGEORDNET!!!!!!

In [154]:
# Überprüfe message_severity von message number=71444

X.loc[X['message_number'] == '71444', "message_severity"].unique()

array(['Alarm der Profinet-E/A-Einheit', 'Information', 'Warning'],
      dtype=object)

In [155]:
X[X.message_number == '71444'][X.message_severity == 'Alarm der Profinet-E/A-Einheit'] # -> 3853  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
7314,2015-05-08 12:35:25,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
7596,2015-05-08 12:11:48,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
8404,2015-05-08 12:11:41,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
9366,2015-05-08 11:13:09,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
10916,2015-05-08 11:09:50,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
11294,2015-05-08 11:09:43,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
12948,2015-05-08 11:05:44,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
13236,2015-05-08 11:05:38,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
13900,2015-05-08 11:00:03,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
14566,2015-05-08 10:59:56,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
15727,2015-05-08 10:57:42,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
16175,2015-05-08 10:57:36,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
17538,2015-05-08 10:54:37,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
18205,2015-05-08 10:54:30,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
19217,2015-05-08 10:43:11,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
20205,2015-05-08 10:43:04,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
20610,2015-05-08 10:40:05,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
21120,2015-05-08 10:39:58,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
22397,2015-05-08 10:25:55,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
22949,2015-05-08 10:25:48,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
23189,2015-05-08 10:23:15,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
25118,2015-05-08 10:23:08,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
27279,2015-05-08 10:21:34,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
27677,2015-05-08 10:21:27,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
27796,2015-05-08 10:15:53,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
28451,2015-05-08 10:15:46,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
32039,2015-05-08 10:14:12,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
32504,2015-05-08 10:14:05,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
32806,2015-05-08 10:08:51,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
34161,2015-05-08 10:08:44,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_4,cell_6,robot_13
...,...,...,...,...,...,...,...,...,...
3832040,2015-08-31 10:44:53,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832056,2015-08-31 10:44:06,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832057,2015-08-31 10:44:01,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832068,2015-08-31 10:43:19,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832091,2015-08-31 10:42:43,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832101,2015-08-31 10:40:12,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832117,2015-08-31 10:39:58,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832122,2015-08-31 10:39:56,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3832153,2015-08-31 00:30:11,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3849785,2015-10-06 15:44:27,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3853245,2015-10-07 09:59:54,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3856382,2015-10-08 07:26:59,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3856518,2015-11-08 09:18:56,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_177
3856555,2015-11-08 09:21:24,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3860741,2015-11-09 11:50:31,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3861061,2015-12-09 10:38:15,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_177
3864151,2015-11-10 07:31:02,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_177
3868630,2015-09-11 17:55:17,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3868703,2015-09-11 12:33:41,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3869437,2015-12-11 08:04:28,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_177
3882532,2015-09-14 22:44:20,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3882848,2015-09-14 07:12:41,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3891297,2015-09-16 07:01:38,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3896943,2015-09-17 00:20:45,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_177
3897051,2015-09-17 12:32:04,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3897170,2015-09-17 07:24:58,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3897575,2015-09-17 00:09:03,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_178
3914157,2015-08-21 05:38:34,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_177
3914588,2015-08-21 05:37:03,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_14,robot_179
3915531,2015-10-21 06:45:53,71444,IOCommunication,Alarm der Profinet-E/A-Einheit,NaN,NaN,line_24,cell_17,robot_177

In [156]:
X[X.message_number == '71444'][X.message_severity == 'Information'] # -> 59150 mal Information zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
16325,2016-05-02 20:27:35,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_18
17471,2016-06-02 06:17:02,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_1
21402,2016-03-03 14:30:47,71444,IOCommunication,Information,NaN,NaN,line_1,cell_2,robot_4
23557,2016-05-03 06:17:40,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_18
30197,2016-04-04 18:32:51,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_7
30223,2016-04-04 18:31:12,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_7
30238,2016-04-04 18:28:57,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_7
30245,2016-04-04 18:28:50,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_7
30280,2016-04-04 18:25:56,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_7
30284,2016-04-04 18:25:51,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_7
32640,2016-05-04 06:13:05,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_18
35034,2016-07-04 13:57:14,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_7
38350,2016-04-05 22:39:33,71444,IOCommunication,Information,NaN,NaN,line_1,cell_2,robot_6
41566,2016-04-06 17:40:39,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_18
62268,2016-04-08 17:51:42,71444,IOCommunication,Information,NaN,NaN,line_1,cell_2,robot_3
62275,2016-04-08 17:51:27,71444,IOCommunication,Information,NaN,NaN,line_1,cell_2,robot_3
62279,2016-04-08 17:51:22,71444,IOCommunication,Information,NaN,NaN,line_1,cell_2,robot_3
63910,2016-06-08 06:15:40,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_18
64810,2016-07-08 12:05:01,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_1
65019,2016-03-09 21:54:32,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_1
74603,2016-03-10 09:58:30,71444,IOCommunication,Information,NaN,NaN,line_1,cell_2,robot_6
83746,2016-04-11 06:11:27,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_18
87260,2016-06-11 06:20:09,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_1
89738,2016-04-12 16:14:25,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_1
90088,2016-04-12 16:15:19,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_7
90393,2016-04-12 16:11:27,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_18
91018,2016-04-12 16:09:32,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_18
91115,2016-04-12 16:12:22,71444,IOCommunication,Information,NaN,NaN,line_1,cell_1,robot_2
91185,2016-04-12 16:14:54,71444,IOCommunication,Information,NaN,NaN,line_1,cell_2,robot_4
91258,2016-04-12 16:13:23,71444,IOCommunication,Information,NaN,NaN,line_1,cell_2,robot_6
...,...,...,...,...,...,...,...,...,...
3945458,2016-03-18 21:03:52,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3945463,2016-03-18 21:03:14,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3945975,2016-03-18 19:21:05,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3945980,2016-03-18 19:20:58,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3945989,2016-03-18 19:20:52,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3945993,2016-03-18 19:20:40,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946113,2016-03-24 15:24:15,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946126,2016-03-24 15:16:26,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946140,2016-03-24 14:59:11,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946157,2016-03-24 14:45:48,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946175,2016-03-24 13:59:53,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946210,2016-03-29 16:06:45,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946212,2016-03-29 15:27:38,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946214,2016-03-29 16:02:05,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946217,2016-03-29 15:57:27,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946219,2016-03-29 15:57:21,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946224,2016-03-29 15:55:04,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946242,2016-03-29 15:27:02,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946249,2016-03-29 15:47:03,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946252,2016-03-29 15:42:44,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946284,2016-03-29 15:28:52,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946288,2016-03-29 15:28:20,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946291,2016-03-29 15:28:12,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946293,2016-03-29 15:27:55,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946296,2016-03-29 15:27:16,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946310,2016-03-29 15:24:24,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946322,2016-03-29 15:22:55,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946573,2016-03-29 08:30:10,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946579,2016-03-30 16:16:17,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180
3946583,2016-03-30 16:16:09,71444,IOCommunication,Information,NaN,NaN,line_25,cell_21,robot_180

In [157]:
X[X.message_number == '71444'][X.message_severity == 'Warning'] # ->  150  mal zu Warning zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
228271,2016-08-01 16:02:12,71444,IOCommunication,Warning,NaN,NaN,line_7,cell_12,robot_27
385080,2015-11-12 11:39:32,71444,IOCommunication,Warning,NaN,NaN,line_8,cell_11,robot_36
804167,2016-03-02 18:21:53,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_87
823739,2015-09-03 06:37:02,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_90
872820,2015-10-08 12:57:08,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_90
879117,2016-02-09 10:35:55,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_90
899509,2015-11-10 05:22:26,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_90
909346,2016-04-11 09:08:54,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_87
909376,2016-04-11 08:51:57,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_87
915963,2015-10-11 12:04:29,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_90
931884,2015-11-12 21:26:27,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_90
964007,2015-12-14 16:12:55,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_87
970947,2016-03-15 23:45:46,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_87
974518,2016-04-15 04:40:16,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_90
974718,2016-04-15 04:22:35,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_90
976981,2016-06-15 16:41:54,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_87
999745,2015-11-16 22:40:38,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_90
1000473,2015-11-16 02:56:23,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_90
1013899,2015-11-17 15:22:51,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_90
1016882,2016-01-18 18:25:38,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_87
1027582,2016-07-18 19:33:06,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_6,robot_13
1027584,2016-07-18 19:29:17,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_6,robot_13
1033487,2015-10-18 23:41:34,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_90
1034926,2016-01-19 06:37:14,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_87
1035020,2016-01-19 05:07:17,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_87
1035220,2016-01-19 04:35:10,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_87
1039607,2016-03-19 07:46:22,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_87
1063118,2016-07-20 19:55:08,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_6,robot_13
1063120,2016-07-20 19:54:51,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_6,robot_13
1103069,2016-02-23 22:55:29,71444,IOCommunication,Warning,NaN,NaN,line_4,cell_3,robot_87
...,...,...,...,...,...,...,...,...,...
2352454,2016-06-29 10:17:53,71444,IOCommunication,Warning,NaN,NaN,line_18,cell_3,robot_135
2352625,2016-06-29 10:04:29,71444,IOCommunication,Warning,NaN,NaN,line_18,cell_3,robot_134
2352626,2016-06-29 10:02:56,71444,IOCommunication,Warning,NaN,NaN,line_18,cell_3,robot_134
2352629,2016-06-29 08:01:42,71444,IOCommunication,Warning,NaN,NaN,line_18,cell_3,robot_134
2352630,2016-06-29 08:00:44,71444,IOCommunication,Warning,NaN,NaN,line_18,cell_3,robot_134
2358570,2016-05-30 16:06:14,71444,IOCommunication,Warning,NaN,NaN,line_18,cell_3,robot_140
2358571,2016-05-30 16:05:16,71444,IOCommunication,Warning,NaN,NaN,line_18,cell_3,robot_140
2358666,2016-05-30 16:08:30,71444,IOCommunication,Warning,NaN,NaN,line_18,cell_3,robot_141
2358667,2016-05-30 16:07:36,71444,IOCommunication,Warning,NaN,NaN,line_18,cell_3,robot_141
2358768,2016-05-30 16:07:24,71444,IOCommunication,Warning,NaN,NaN,line_18,cell_3,robot_135
2358769,2016-05-30 16:06:29,71444,IOCommunication,Warning,NaN,NaN,line_18,cell_3,robot_135
2358863,2016-05-30 16:07:28,71444,IOCommunication,Warning,NaN,NaN,line_18,cell_3,robot_134
2359139,2016-05-30 16:08:23,71444,IOCommunication,Warning,NaN,NaN,line_18,cell_3,robot_134
3362615,2016-03-07 20:22:51,71444,IOCommunication,Warning,NaN,NaN,line_20,cell_6,robot_154
3476851,2016-07-29 00:22:05,71444,IOCommunication,Warning,NaN,NaN,line_20,cell_6,robot_154
3695316,2016-06-28 09:47:25,71444,IOCommunication,Warning,NaN,NaN,line_22,cell_6,robot_163
3695322,2016-06-28 09:47:14,71444,IOCommunication,Warning,NaN,NaN,line_22,cell_6,robot_163
3696988,2016-01-29 22:08:22,71444,IOCommunication,Warning,NaN,NaN,line_22,cell_6,robot_163
3697124,2016-01-29 21:12:45,71444,IOCommunication,Warning,NaN,NaN,line_22,cell_6,robot_163
3943529,2016-03-03 08:50:47,71444,IOCommunication,Warning,NaN,NaN,line_25,cell_21,robot_180
3943569,2016-03-03 08:38:26,71444,IOCommunication,Warning,NaN,NaN,line_25,cell_21,robot_180
3943575,2016-03-03 08:38:08,71444,IOCommunication,Warning,NaN,NaN,line_25,cell_21,robot_180
3943935,2016-07-05 11:56:20,71444,IOCommunication,Warning,NaN,NaN,line_25,cell_21,robot_181
3943946,2016-07-05 11:53:48,71444,IOCommunication,Warning,NaN,NaN,line_25,cell_21,robot_181
3943956,2016-07-05 11:53:07,71444,IOCommunication,Warning,NaN,NaN,line_25,cell_21,robot_181
3943979,2016-07-05 11:50:22,71444,IOCommunication,Warning,NaN,NaN,line_25,cell_21,robot_181
3943986,2016-07-05 11:49:29,71444,IOCommunication,Warning,NaN,NaN,line_25,cell_21,robot_181
3944000,2016-07-05 11:42:32,71444,IOCommunication,Warning,NaN,NaN,line_25,cell_21,robot_181
3944004,2016-07-05 11:42:04,71444,IOCommunication,Warning,NaN,NaN,line_25,cell_21,robot_181
3944120,2016-07-05 12:29:01,71444,IOCommunication,Warning,NaN,NaN,line_25,cell_6,robot_182

# message_number=40538

In [158]:
# Überprüfe message_severity von message number=40538

X.loc[X['message_number'] == '40538', "message_severity"].unique()

array(['Warning', 'Max. Wartezeit abgelaufen'], dtype=object)

In [159]:
# Überprüfe ob es außer 40538 andere message_numbers gibt, welche auch  'Max. Wartezeit abgelaufen' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Max. Wartezeit abgelaufen', "message_number"].unique()

array(['40538'], dtype=object)

In [160]:
X[X.message_number == '40538'][X.message_severity == 'Max. Wartezeit abgelaufen'] # -> 1217   mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
291797,2015-06-04 21:30:02,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_24
291802,2015-06-04 20:25:03,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_24
291803,2015-06-04 21:29:32,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_21
291808,2015-06-04 18:31:38,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_21
291809,2015-06-04 14:34:18,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_21
293579,2015-05-04 21:56:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_21
293598,2015-05-04 21:56:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_21
293600,2015-05-04 21:53:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_21
293601,2015-05-04 21:52:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_21
293616,2015-05-05 11:50:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_23
293617,2015-05-05 10:03:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_23
293639,2015-05-04 22:01:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_22
293640,2015-05-04 21:59:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_22
293641,2015-05-04 21:59:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_22
293648,2015-05-04 19:42:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_22
293651,2015-05-04 19:40:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_22
293659,2015-05-05 07:10:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_25
293663,2015-05-05 07:09:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_25
293682,2015-05-04 22:05:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_33
293683,2015-05-04 22:03:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_33
293708,2015-06-05 22:04:07,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_24
293714,2015-06-05 15:03:44,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_23
295674,2015-05-06 20:47:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_24
295679,2015-05-06 20:45:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_24
295683,2015-05-06 19:46:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_24
295692,2015-05-06 06:46:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_24
295698,2015-05-06 19:45:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_21
295708,2015-05-06 21:22:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_23
295709,2015-05-06 21:21:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_23
295719,2015-05-06 09:55:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_6,cell_11,robot_23
...,...,...,...,...,...,...,...,...,...
3923721,2015-11-24 07:20:23,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3923725,2015-11-24 07:20:20,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3923727,2015-11-24 07:19:41,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3923740,2015-11-24 07:15:13,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3923746,2015-11-24 07:13:41,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3923748,2015-11-24 07:13:35,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3923752,2015-11-24 07:12:30,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3923755,2015-11-24 07:11:44,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3923764,2015-11-24 07:08:21,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3923767,2015-11-24 07:08:13,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3923769,2015-11-24 07:08:00,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3923773,2015-11-24 07:07:22,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3923778,2015-11-24 07:07:15,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3923780,2015-11-24 07:07:08,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3923782,2015-11-24 07:06:58,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3923784,2015-11-24 07:06:52,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3928498,2015-11-25 02:21:36,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3928510,2015-11-25 02:13:57,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3928512,2015-11-25 02:13:27,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3928517,2015-11-25 02:13:13,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_176
3928598,2015-11-25 08:42:24,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_177
3931175,2015-08-26 16:55:43,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_177
3931177,2015-08-26 16:28:58,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_177
3931187,2015-08-26 15:33:31,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_177
3931188,2015-08-26 14:07:38,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_177
3931292,2015-08-26 13:54:53,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_178
3934232,2015-11-27 08:42:17,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_177
3940841,2015-09-30 14:01:25,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_178
3942802,2015-08-31 12:29:46,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_178
3942836,2015-08-31 12:25:49,40538,Program,Max. Wartezeit abgelaufen,NaN,NaN,line_24,cell_17,robot_178

In [161]:
df1['message_severity'] = df1.message_severity.replace({'Max. Wartezeit abgelaufen': 'Warning'})

# Überprüfe message_severity von message_number=40538
df1.loc[df1['message_number'] == '40538', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=71414

In [162]:
# Überprüfe message_severity von message number=71414

X.loc[X['message_number'] == '71414', "message_severity"].unique()

array(['Warning', 'Gleichzeitige Änderungen des Signalwerts'],
      dtype=object)

In [163]:
# Überprüfe ob es außer 71414 andere message_numbers gibt, welche auch  'Gleichzeitige Änderungen des Signalwerts' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Gleichzeitige Änderungen des Signalwerts', "message_number"].unique()

array(['71414'], dtype=object)

In [164]:
X[X.message_number == '71414'][X.message_severity == 'Gleichzeitige Änderungen des Signalwerts'] # -> 5   mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
2493142,2015-11-04 10:07:45,71414,IOCommunication,Gleichzeitige Änderungen des Signalwerts,NaN,NaN,line_19,cell_14,robot_142
2537204,2015-10-06 11:58:59,71414,IOCommunication,Gleichzeitige Änderungen des Signalwerts,NaN,NaN,line_19,cell_14,robot_149
3238231,2015-08-26 12:13:49,71414,IOCommunication,Gleichzeitige Änderungen des Signalwerts,NaN,NaN,line_19,cell_14,robot_142
3663334,2015-08-19 10:45:56,71414,IOCommunication,Gleichzeitige Änderungen des Signalwerts,NaN,NaN,line_22,cell_6,robot_162
3830728,2015-08-31 13:52:28,71414,IOCommunication,Gleichzeitige Änderungen des Signalwerts,NaN,NaN,line_23,cell_11,robot_173

In [165]:
df1['message_severity'] = df1.message_severity.replace({'Gleichzeitige Änderungen des Signalwerts': 'Warning'})

# Überprüfe message_severity von message_number=71414
df1.loc[df1['message_number'] == '71414', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=20481

In [166]:
# Überprüfe message_severity von message number=20481

X.loc[X['message_number'] == '20481', "message_severity"].unique()

array(['Warning', 'SC 1 - OVR aktiv ', 'SC 2 - OVR aktiv '], dtype=object)

In [167]:
# Überprüfe ob es außer 20481 andere message_numbers gibt, welche auch  'SC 1 - OVR aktiv ' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'SC 1 - OVR aktiv ', "message_number"].unique()

array(['20481'], dtype=object)

In [168]:
X[X.message_number == '20481'][X.message_severity == 'SC 1 - OVR aktiv '] # -> 263   mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
293604,2015-05-04 21:51:00,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_21
293645,2015-05-04 21:58:00,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_22
293686,2015-05-04 22:02:00,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_33
295680,2015-05-06 20:44:00,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_24
295712,2015-05-06 21:20:00,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_23
295733,2015-05-06 21:24:00,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_25
299084,2015-05-07 06:34:00,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_23
299107,2015-05-07 06:30:00,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_25
299114,2015-05-07 06:27:00,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_25
324474,2015-08-17 23:30:46,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_21
331830,2015-08-20 14:24:35,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_24
331864,2015-08-20 14:04:00,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_24
341275,2015-08-24 21:45:03,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_23
341416,2015-08-24 17:47:21,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_23
341438,2015-08-24 17:39:31,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_23
341473,2015-08-24 17:30:12,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_23
341736,2015-08-24 06:37:20,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_22
341832,2015-08-24 06:27:10,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_22
345841,2015-06-26 09:32:53,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_6,cell_11,robot_23
646888,2015-08-17 18:43:10,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_11,cell_3,robot_76
654243,2015-08-18 09:54:43,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_11,cell_11,robot_66
655129,2015-08-18 15:46:07,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_11,cell_3,robot_67
868936,2015-05-08 21:31:45,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_4,cell_6,robot_13
868940,2015-05-08 20:46:10,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_4,cell_6,robot_13
868950,2015-05-08 20:40:24,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_4,cell_6,robot_13
869057,2015-05-08 21:38:10,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_4,cell_6,robot_20
910037,2015-05-11 22:44:21,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_4,cell_6,robot_20
910045,2015-05-11 22:34:53,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_4,cell_6,robot_20
910054,2015-05-11 22:29:25,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_4,cell_6,robot_20
910061,2015-05-11 22:22:51,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_4,cell_6,robot_20
...,...,...,...,...,...,...,...,...,...
3883300,2015-10-14 03:49:31,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3883330,2015-10-14 03:46:45,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3883355,2015-10-14 03:44:05,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3883502,2015-10-14 03:02:56,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3883575,2015-10-14 02:51:47,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3883977,2015-10-14 02:46:30,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_14,robot_179
3892265,2015-11-16 09:49:06,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3896952,2015-09-17 00:20:00,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_177
3897581,2015-09-17 00:08:19,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_178
3915542,2015-10-21 06:38:41,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_177
3922726,2015-09-24 13:59:37,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3922927,2015-09-24 13:59:31,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_177
3923307,2015-11-24 17:06:45,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3923330,2015-11-24 17:00:41,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3923393,2015-11-24 16:55:23,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3923411,2015-11-24 16:50:13,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3923422,2015-11-24 16:49:08,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3923544,2015-11-24 07:38:24,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3923565,2015-11-24 07:35:58,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3923589,2015-11-24 07:31:00,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3923657,2015-11-24 07:25:58,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3923689,2015-11-24 07:22:46,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3923718,2015-11-24 07:21:10,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3923788,2015-11-24 07:04:53,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3923837,2015-11-24 22:06:32,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_177
3923908,2015-11-24 14:07:06,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_177
3928522,2015-11-25 02:11:37,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_176
3942717,2015-08-31 12:35:52,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_178
3942752,2015-08-31 12:33:01,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_178
3942826,2015-08-31 12:28:09,20481,System,SC 1 - OVR aktiv,NaN,NaN,line_24,cell_17,robot_178

In [169]:
df1['message_severity'] = df1.message_severity.replace({'SC 1 - OVR aktiv ': 'Warning'})

# Überprüfe message_severity von message_number=20481
df1.loc[df1['message_number'] == '20481', "message_severity"].unique()

array(['Warning', 'SC 2 - OVR aktiv '], dtype=object)

In [170]:
# Überprüfe ob es außer 20481 andere message_numbers gibt, welche auch  'SC 2 - OVR aktiv ' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'SC 2 - OVR aktiv ', "message_number"].unique()

array(['20481'], dtype=object)

In [171]:
X[X.message_number == '20481'][X.message_severity == 'SC 2 - OVR aktiv '] # ->  4  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
1025849,2015-05-18 20:40:54,20481,System,SC 2 - OVR aktiv,NaN,NaN,line_4,cell_18,robot_91
1025852,2015-05-18 20:39:41,20481,System,SC 2 - OVR aktiv,NaN,NaN,line_4,cell_18,robot_91
1025855,2015-05-18 20:38:40,20481,System,SC 2 - OVR aktiv,NaN,NaN,line_4,cell_18,robot_91
1025895,2015-05-18 07:19:30,20481,System,SC 2 - OVR aktiv,NaN,NaN,line_4,cell_18,robot_91

In [172]:
df1['message_severity'] = df1.message_severity.replace({'SC 2 - OVR aktiv ': 'Warning'})

# Überprüfe message_severity von message_number=20481
df1.loc[df1['message_number'] == '20481', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=20140

In [173]:
# Überprüfe message_severity von message number=20140

X.loc[X['message_number'] == '20140', "message_severity"].unique()

array(['Warning', 'Motoren-EIN unzulässig'], dtype=object)

In [174]:
# Überprüfe ob es außer 20140 andere message_numbers gibt, welche auch  'Motoren-EIN unzulässig' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Motoren-EIN unzulässig', "message_number"].unique()

array(['20140'], dtype=object)

In [175]:
X[X.message_number == '20140'][X.message_severity == 'Motoren-EIN unzulässig'] # ->  253  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
324475,2015-08-17 23:30:46,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_6,cell_11,robot_21
326897,2015-08-24 17:39:31,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_6,cell_11,robot_23
331831,2015-08-20 14:24:35,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_6,cell_11,robot_24
331863,2015-08-20 14:04:00,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_6,cell_11,robot_24
341274,2015-08-24 21:45:03,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_6,cell_11,robot_23
341418,2015-08-24 17:47:21,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_6,cell_11,robot_23
341474,2015-08-24 17:30:12,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_6,cell_11,robot_23
341737,2015-08-24 06:37:20,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_6,cell_11,robot_22
341741,2015-08-24 06:36:56,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_6,cell_11,robot_22
341833,2015-08-24 06:27:10,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_6,cell_11,robot_22
646887,2015-08-17 18:43:10,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_11,cell_3,robot_76
654244,2015-08-18 09:54:43,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_11,cell_11,robot_66
655128,2015-08-18 15:46:07,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_11,cell_3,robot_67
1033012,2015-08-18 07:44:17,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_4,cell_3,robot_90
1065904,2015-08-20 17:45:49,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_4,cell_6,robot_13
1065924,2015-08-20 17:39:18,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_4,cell_6,robot_13
1118639,2015-08-24 06:13:11,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_4,cell_3,robot_90
2928178,2015-08-18 12:55:20,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_19,cell_14,robot_149
2967789,2015-08-19 19:09:54,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_19,cell_14,robot_143
2967793,2015-08-19 19:08:06,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_19,cell_14,robot_143
3005591,2015-10-20 19:58:19,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_19,cell_14,robot_142
3085295,2015-10-22 14:58:09,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_19,cell_14,robot_147
3090935,2015-10-22 09:45:40,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_19,cell_14,robot_148
3095021,2015-10-22 10:02:11,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_19,cell_14,robot_146
3095053,2015-10-22 09:59:06,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_19,cell_14,robot_146
3095756,2015-10-22 10:02:00,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_19,cell_14,robot_148
3095771,2015-10-22 09:57:34,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_19,cell_14,robot_148
3095856,2015-10-22 09:49:28,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_19,cell_14,robot_148
3096149,2015-10-22 20:36:10,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_19,cell_14,robot_147
3097844,2015-10-22 14:48:09,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_19,cell_14,robot_147
...,...,...,...,...,...,...,...,...,...
3883978,2015-10-14 02:46:30,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_14,robot_179
3892266,2015-11-16 09:49:05,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_176
3896953,2015-09-17 00:19:59,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_177
3897582,2015-09-17 00:08:19,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_178
3913954,2015-08-21 05:31:17,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_176
3914168,2015-08-21 05:30:42,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_177
3914384,2015-08-21 05:31:13,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_178
3914601,2015-08-21 05:30:24,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_14,robot_179
3914614,2015-08-21 05:23:38,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_14,robot_179
3915543,2015-10-21 06:38:41,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_177
3922727,2015-09-24 13:59:37,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_176
3922928,2015-09-24 13:59:31,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_177
3923308,2015-11-24 17:06:45,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_176
3923332,2015-11-24 17:00:41,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_176
3923394,2015-11-24 16:55:23,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_176
3923412,2015-11-24 16:50:13,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_176
3923423,2015-11-24 16:49:07,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_176
3923545,2015-11-24 07:38:24,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_176
3923566,2015-11-24 07:35:58,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_176
3923590,2015-11-24 07:31:00,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_176
3923597,2015-11-24 07:21:09,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_176
3923658,2015-11-24 07:25:58,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_176
3923690,2015-11-24 07:22:46,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_176
3923789,2015-11-24 07:04:53,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_176
3923839,2015-11-24 22:06:31,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_177
3923909,2015-11-24 14:07:06,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_177
3928523,2015-11-25 02:11:37,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_176
3942716,2015-08-31 12:35:52,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_178
3942753,2015-08-31 12:33:01,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_178
3942827,2015-08-31 12:28:09,20140,System,Motoren-EIN unzulässig,NaN,NaN,line_24,cell_17,robot_178

In [176]:
df1['message_severity'] = df1.message_severity.replace({'Motoren-EIN unzulässig': 'Warning'})

# Überprüfe message_severity von message_number=20140
df1.loc[df1['message_number'] == '20140', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=20212

In [177]:
# Überprüfe message_severity von message number=20212

X.loc[X['message_number'] == '20212', "message_severity"].unique()

array(['Error', 'Zwei-Kanal-Fehler, Betriebskreis'], dtype=object)

In [178]:
# Überprüfe ob es außer 20212 andere message_numbers gibt, welche auch  'Zwei-Kanal-Fehler, Betriebskreis' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Zwei-Kanal-Fehler, Betriebskreis', "message_number"].unique()

array(['20212'], dtype=object)

In [179]:
X[X.message_number == '20212'][X.message_severity == 'Zwei-Kanal-Fehler, Betriebskreis'] # -> 8   mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
654912,2015-08-18 16:06:18,20212,System,"Zwei-Kanal-Fehler, Betriebskreis",NaN,NaN,line_11,cell_3,robot_67
868946,2015-05-08 20:44:36,20212,System,"Zwei-Kanal-Fehler, Betriebskreis",NaN,NaN,line_4,cell_6,robot_13
3771131,2015-11-16 01:57:20,20212,System,"Zwei-Kanal-Fehler, Betriebskreis",NaN,NaN,line_23,cell_13,robot_171
3772092,2015-12-16 18:51:19,20212,System,"Zwei-Kanal-Fehler, Betriebskreis",NaN,NaN,line_23,cell_3,robot_168
3772093,2015-12-16 18:51:18,20212,System,"Zwei-Kanal-Fehler, Betriebskreis",NaN,NaN,line_23,cell_3,robot_168
3772138,2015-12-16 18:50:30,20212,System,"Zwei-Kanal-Fehler, Betriebskreis",NaN,NaN,line_23,cell_3,robot_168
3873364,2015-10-12 02:11:17,20212,System,"Zwei-Kanal-Fehler, Betriebskreis",NaN,NaN,line_24,cell_14,robot_179
3928492,2015-11-25 02:24:47,20212,System,"Zwei-Kanal-Fehler, Betriebskreis",NaN,NaN,line_24,cell_17,robot_176

In [180]:
df1['message_severity'] = df1.message_severity.replace({'Zwei-Kanal-Fehler, Betriebskreis': 'Error'})

# Überprüfe message_severity von message_number=20212
df1.loc[df1['message_number'] == '20212', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=40210

In [181]:
# Überprüfe message_severity von message number=40210

X.loc[X['message_number'] == '40210', "message_severity"].unique()

array(['Warning', 'Interrupt aus Warteschlange entfernt'], dtype=object)

In [182]:
# Überprüfe ob es außer 40210 andere message_numbers gibt, welche auch  'Interrupt aus Warteschlange entfernt' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Interrupt aus Warteschlange entfernt', "message_number"].unique()

array(['40210'], dtype=object)

In [183]:
X[X.message_number == '40210'][X.message_severity == 'Interrupt aus Warteschlange entfernt'] # ->  30  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
327205,2015-08-18 15:45:19,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_6,cell_11,robot_21
327223,2015-08-18 15:45:07,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_6,cell_11,robot_24
327320,2015-08-18 15:44:12,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_6,cell_11,robot_23
327363,2015-08-18 15:47:43,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_6,cell_11,robot_22
327413,2015-08-18 15:46:19,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_6,cell_11,robot_25
327453,2015-08-18 15:47:19,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_6,cell_11,robot_33
3092811,2015-10-22 09:35:31,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_19,cell_14,robot_144
3656541,2015-08-17 10:23:29,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_22,cell_6,robot_162
3656593,2015-08-17 13:46:07,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_22,cell_6,robot_166
3663361,2015-08-19 04:54:24,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_22,cell_6,robot_162
3669219,2015-08-20 13:30:37,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_22,cell_6,robot_162
3669477,2015-08-20 09:59:36,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_22,cell_6,robot_163
3761044,2015-09-14 13:51:09,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_23,cell_13,robot_169
3771242,2015-12-16 18:15:52,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_23,cell_11,robot_175
3771679,2015-12-16 18:23:35,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_23,cell_11,robot_173
3772066,2015-12-16 18:51:54,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_23,cell_3,robot_168
3772302,2015-12-16 18:58:08,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_23,cell_3,robot_170
3772552,2015-12-16 19:25:49,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_23,cell_13,robot_169
3772845,2015-12-16 19:30:40,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_23,cell_13,robot_171
3776549,2015-08-17 11:55:03,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_23,cell_13,robot_171
3796745,2015-10-21 20:13:34,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_23,cell_11,robot_173
3837003,2015-10-01 07:23:27,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_24,cell_17,robot_177
3837061,2015-10-01 07:24:24,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_24,cell_17,robot_178
3864663,2015-12-10 11:25:31,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_24,cell_17,robot_177
3882365,2015-09-14 10:08:31,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_24,cell_17,robot_177
3896267,2015-09-17 00:42:45,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_24,cell_17,robot_177
3896647,2015-09-17 00:31:33,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_24,cell_17,robot_177
3897261,2015-09-17 00:17:13,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_24,cell_17,robot_178
3901851,2015-09-18 18:17:58,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_24,cell_17,robot_177
3933825,2015-08-27 15:49:57,40210,Program,Interrupt aus Warteschlange entfernt,NaN,NaN,line_24,cell_17,robot_178

In [184]:
df1['message_severity'] = df1.message_severity.replace({'Interrupt aus Warteschlange entfernt': 'Warning'})

# Überprüfe message_severity von message_number=40210
df1.loc[df1['message_number'] == '40210', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=20211

In [185]:
# Überprüfe message_severity von message number=20211

X.loc[X['message_number'] == '20211', "message_severity"].unique()

array(['Error', 'Zweikanal-Fehler Sicherheitskreis'], dtype=object)

In [186]:
# Überprüfe ob es außer 20211 andere message_numbers gibt, welche auch  'Zweikanal-Fehler Sicherheitskreis' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Zweikanal-Fehler Sicherheitskreis', "message_number"].unique()

array(['20211'], dtype=object)

In [187]:
X[X.message_number == '20211'][X.message_severity == 'Zweikanal-Fehler Sicherheitskreis'] # -> 12   mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
336043,2015-05-22 19:28:24,20211,System,Zweikanal-Fehler Sicherheitskreis,NaN,NaN,line_6,cell_11,robot_33
1025702,2015-05-18 07:53:38,20211,System,Zweikanal-Fehler Sicherheitskreis,NaN,NaN,line_4,cell_11,robot_88
1042549,2015-05-19 08:18:08,20211,System,Zweikanal-Fehler Sicherheitskreis,NaN,NaN,line_4,cell_6,robot_20
3725166,2015-11-05 20:27:08,20211,System,Zweikanal-Fehler Sicherheitskreis,NaN,NaN,line_23,cell_11,robot_173
3743323,2015-09-10 04:07:20,20211,System,Zweikanal-Fehler Sicherheitskreis,NaN,NaN,line_23,cell_13,robot_167
3761917,2015-12-14 05:33:25,20211,System,Zweikanal-Fehler Sicherheitskreis,NaN,NaN,line_23,cell_13,robot_171
3771132,2015-11-16 01:57:20,20211,System,Zweikanal-Fehler Sicherheitskreis,NaN,NaN,line_23,cell_13,robot_171
3772284,2015-12-16 18:59:07,20211,System,Zweikanal-Fehler Sicherheitskreis,NaN,NaN,line_23,cell_3,robot_170
3792039,2015-11-20 21:30:40,20211,System,Zweikanal-Fehler Sicherheitskreis,NaN,NaN,line_23,cell_13,robot_167
3882176,2015-09-14 07:50:45,20211,System,Zweikanal-Fehler Sicherheitskreis,NaN,NaN,line_24,cell_17,robot_176
3882878,2015-09-14 22:17:22,20211,System,Zweikanal-Fehler Sicherheitskreis,NaN,NaN,line_24,cell_14,robot_179
3928256,2015-09-25 16:04:27,20211,System,Zweikanal-Fehler Sicherheitskreis,NaN,NaN,line_24,cell_14,robot_179

In [188]:
df1['message_severity'] = df1.message_severity.replace({'Zweikanal-Fehler Sicherheitskreis': 'Error'})

# Überprüfe message_severity von message_number=20211
df1.loc[df1['message_number'] == '20211', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=10025

In [189]:
# Überprüfe message_severity von message number=10025

X.loc[X['message_number'] == '10025', "message_severity"].unique()

array(['Information', 'Kollision bestätigt'], dtype=object)

In [190]:
# Überprüfe ob es außer 10025 andere message_numbers gibt, welche auch  'Kollision bestätigt' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Kollision bestätigt', "message_number"].unique()

array(['10025'], dtype=object)

In [191]:
X[X.message_number == '10025'][X.message_severity == 'Kollision bestätigt'] # -> 19  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
1065956,2015-08-20 17:39:16,10025,Operational,Kollision bestätigt,NaN,NaN,line_4,cell_6,robot_13
1118365,2015-08-24 06:59:01,10025,Operational,Kollision bestätigt,NaN,NaN,line_4,cell_3,robot_90
1118543,2015-08-24 06:30:13,10025,Operational,Kollision bestätigt,NaN,NaN,line_4,cell_3,robot_90
1118555,2015-08-24 06:26:59,10025,Operational,Kollision bestätigt,NaN,NaN,line_4,cell_3,robot_90
1118559,2015-08-24 06:26:32,10025,Operational,Kollision bestätigt,NaN,NaN,line_4,cell_3,robot_90
1118567,2015-08-24 06:25:17,10025,Operational,Kollision bestätigt,NaN,NaN,line_4,cell_3,robot_90
1118574,2015-08-24 06:24:35,10025,Operational,Kollision bestätigt,NaN,NaN,line_4,cell_3,robot_90
1118582,2015-08-24 06:24:15,10025,Operational,Kollision bestätigt,NaN,NaN,line_4,cell_3,robot_90
1118613,2015-08-24 06:21:35,10025,Operational,Kollision bestätigt,NaN,NaN,line_4,cell_3,robot_90
1118623,2015-08-24 06:21:19,10025,Operational,Kollision bestätigt,NaN,NaN,line_4,cell_3,robot_90
1118630,2015-08-24 06:14:05,10025,Operational,Kollision bestätigt,NaN,NaN,line_4,cell_3,robot_90
1118637,2015-08-24 06:13:46,10025,Operational,Kollision bestätigt,NaN,NaN,line_4,cell_3,robot_90
3836291,2015-09-01 07:40:00,10025,Operational,Kollision bestätigt,NaN,NaN,line_24,cell_17,robot_176
3874591,2015-10-13 21:07:40,10025,Operational,Kollision bestätigt,NaN,NaN,line_24,cell_14,robot_179
3877308,2015-10-13 21:09:50,10025,Operational,Kollision bestätigt,NaN,NaN,line_24,cell_14,robot_179
3877332,2015-10-13 21:08:18,10025,Operational,Kollision bestätigt,NaN,NaN,line_24,cell_14,robot_179
3923304,2015-11-24 17:06:47,10025,Operational,Kollision bestätigt,NaN,NaN,line_24,cell_17,robot_176
3923547,2015-11-24 07:37:48,10025,Operational,Kollision bestätigt,NaN,NaN,line_24,cell_17,robot_176
3923655,2015-11-24 07:26:03,10025,Operational,Kollision bestätigt,NaN,NaN,line_24,cell_17,robot_176

In [192]:
df1['message_severity'] = df1.message_severity.replace({'Kollision bestätigt': 'Information'})

# Überprüfe message_severity von message_number=10025
df1.loc[df1['message_number'] == '10025', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=10026

In [193]:
# Überprüfe message_severity von message number=10026

X.loc[X['message_number'] == '10026', "message_severity"].unique()

array(['Information', 'Zurück auf Bahn'], dtype=object)

In [194]:
# Überprüfe ob es außer 10026 andere message_numbers gibt, welche auch  'Zurück auf Bahn' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Zurück auf Bahn', "message_number"].unique()

array(['10026'], dtype=object)

In [195]:
X[X.message_number == '10026'][X.message_severity == 'Zurück auf Bahn'] # -> 21  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
1065957,2015-08-20 17:39:05,10026,Operational,Zurück auf Bahn,NaN,NaN,line_4,cell_6,robot_13
1118370,2015-08-24 06:57:38,10026,Operational,Zurück auf Bahn,NaN,NaN,line_4,cell_3,robot_90
1118395,2015-08-24 06:30:13,10026,Operational,Zurück auf Bahn,NaN,NaN,line_4,cell_3,robot_90
1118556,2015-08-24 06:26:58,10026,Operational,Zurück auf Bahn,NaN,NaN,line_4,cell_3,robot_90
1118561,2015-08-24 06:26:32,10026,Operational,Zurück auf Bahn,NaN,NaN,line_4,cell_3,robot_90
1118568,2015-08-24 06:25:16,10026,Operational,Zurück auf Bahn,NaN,NaN,line_4,cell_3,robot_90
1118576,2015-08-24 06:24:32,10026,Operational,Zurück auf Bahn,NaN,NaN,line_4,cell_3,robot_90
1118584,2015-08-24 06:24:14,10026,Operational,Zurück auf Bahn,NaN,NaN,line_4,cell_3,robot_90
1118615,2015-08-24 06:21:34,10026,Operational,Zurück auf Bahn,NaN,NaN,line_4,cell_3,robot_90
1118624,2015-08-24 06:14:11,10026,Operational,Zurück auf Bahn,NaN,NaN,line_4,cell_3,robot_90
1118631,2015-08-24 06:14:05,10026,Operational,Zurück auf Bahn,NaN,NaN,line_4,cell_3,robot_90
1118648,2015-08-24 05:56:16,10026,Operational,Zurück auf Bahn,NaN,NaN,line_4,cell_3,robot_90
3836297,2015-09-01 07:38:47,10026,Operational,Zurück auf Bahn,NaN,NaN,line_24,cell_17,robot_176
3877318,2015-10-13 21:08:38,10026,Operational,Zurück auf Bahn,NaN,NaN,line_24,cell_14,robot_179
3877321,2015-10-13 21:08:32,10026,Operational,Zurück auf Bahn,NaN,NaN,line_24,cell_14,robot_179
3877327,2015-10-13 21:08:21,10026,Operational,Zurück auf Bahn,NaN,NaN,line_24,cell_14,robot_179
3877335,2015-10-13 21:08:15,10026,Operational,Zurück auf Bahn,NaN,NaN,line_24,cell_14,robot_179
3877350,2015-10-13 21:07:39,10026,Operational,Zurück auf Bahn,NaN,NaN,line_24,cell_14,robot_179
3923311,2015-11-24 17:06:18,10026,Operational,Zurück auf Bahn,NaN,NaN,line_24,cell_17,robot_176
3923548,2015-11-24 07:37:40,10026,Operational,Zurück auf Bahn,NaN,NaN,line_24,cell_17,robot_176
3923661,2015-11-24 07:24:44,10026,Operational,Zurück auf Bahn,NaN,NaN,line_24,cell_17,robot_176

In [196]:
df1['message_severity'] = df1.message_severity.replace({'Zurück auf Bahn': 'Information'})

# Überprüfe message_severity von message_number=10026
df1.loc[df1['message_number'] == '10026', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=10024

In [197]:
# Überprüfe message_severity von message number=10024

X.loc[X['message_number'] == '10024', "message_severity"].unique()

array(['Information', 'Kollision erkannt'], dtype=object)

In [198]:
# Überprüfe ob es außer 10024 andere message_numbers gibt, welche auch  Kollision erkannt' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Kollision erkannt', "message_number"].unique()

array(['10024'], dtype=object)

In [199]:
X[X.message_number == '10024'][X.message_severity == 'Kollision erkannt'] # -> 21  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
1065959,2015-08-20 17:39:03,10024,Operational,Kollision erkannt,NaN,NaN,line_4,cell_6,robot_13
1118374,2015-08-24 06:57:37,10024,Operational,Kollision erkannt,NaN,NaN,line_4,cell_3,robot_90
1118500,2015-08-24 06:30:12,10024,Operational,Kollision erkannt,NaN,NaN,line_4,cell_3,robot_90
1118557,2015-08-24 06:26:56,10024,Operational,Kollision erkannt,NaN,NaN,line_4,cell_3,robot_90
1118562,2015-08-24 06:26:30,10024,Operational,Kollision erkannt,NaN,NaN,line_4,cell_3,robot_90
1118569,2015-08-24 06:25:15,10024,Operational,Kollision erkannt,NaN,NaN,line_4,cell_3,robot_90
1118577,2015-08-24 06:24:31,10024,Operational,Kollision erkannt,NaN,NaN,line_4,cell_3,robot_90
1118585,2015-08-24 06:24:13,10024,Operational,Kollision erkannt,NaN,NaN,line_4,cell_3,robot_90
1118616,2015-08-24 06:21:32,10024,Operational,Kollision erkannt,NaN,NaN,line_4,cell_3,robot_90
1118627,2015-08-24 06:14:06,10024,Operational,Kollision erkannt,NaN,NaN,line_4,cell_3,robot_90
1118634,2015-08-24 06:14:04,10024,Operational,Kollision erkannt,NaN,NaN,line_4,cell_3,robot_90
1118650,2015-08-24 05:56:15,10024,Operational,Kollision erkannt,NaN,NaN,line_4,cell_3,robot_90
3836302,2015-09-01 07:38:44,10024,Operational,Kollision erkannt,NaN,NaN,line_24,cell_17,robot_176
3877319,2015-10-13 21:08:36,10024,Operational,Kollision erkannt,NaN,NaN,line_24,cell_14,robot_179
3877322,2015-10-13 21:08:30,10024,Operational,Kollision erkannt,NaN,NaN,line_24,cell_14,robot_179
3877329,2015-10-13 21:08:19,10024,Operational,Kollision erkannt,NaN,NaN,line_24,cell_14,robot_179
3877336,2015-10-13 21:08:10,10024,Operational,Kollision erkannt,NaN,NaN,line_24,cell_14,robot_179
3877353,2015-10-13 21:07:34,10024,Operational,Kollision erkannt,NaN,NaN,line_24,cell_14,robot_179
3923313,2015-11-24 17:06:07,10024,Operational,Kollision erkannt,NaN,NaN,line_24,cell_17,robot_176
3923552,2015-11-24 07:37:38,10024,Operational,Kollision erkannt,NaN,NaN,line_24,cell_17,robot_176
3923665,2015-11-24 07:24:41,10024,Operational,Kollision erkannt,NaN,NaN,line_24,cell_17,robot_176

In [200]:
df1['message_severity'] = df1.message_severity.replace({'Kollision erkannt': 'Information'})

# Überprüfe message_severity von message_number=10024
df1.loc[df1['message_number'] == '10024', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=50204

In [201]:
# Überprüfe message_severity von message number=50204

X.loc[X['message_number'] == '50204', "message_severity"].unique()

array(['Error', 'Bewegungsüberwachung'], dtype=object)

In [202]:
# Überprüfe ob es außer 50204 andere message_numbers gibt, welche auch  'Bewegungsüberwachung' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Bewegungsüberwachung', "message_number"].unique()

array(['50204'], dtype=object)

In [203]:
X[X.message_number == '50204'][X.message_severity == 'Bewegungsüberwachung'] # -> 21 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
1065960,2015-08-20 17:39:02,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_4,cell_6,robot_13
1118376,2015-08-24 06:57:37,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_4,cell_3,robot_90
1118544,2015-08-24 06:30:11,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_4,cell_3,robot_90
1118558,2015-08-24 06:26:56,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_4,cell_3,robot_90
1118563,2015-08-24 06:26:30,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_4,cell_3,robot_90
1118570,2015-08-24 06:25:14,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_4,cell_3,robot_90
1118578,2015-08-24 06:24:31,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_4,cell_3,robot_90
1118586,2015-08-24 06:24:12,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_4,cell_3,robot_90
1118617,2015-08-24 06:21:32,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_4,cell_3,robot_90
1118628,2015-08-24 06:14:06,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_4,cell_3,robot_90
1118635,2015-08-24 06:14:04,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_4,cell_3,robot_90
1118651,2015-08-24 05:56:14,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_4,cell_3,robot_90
3836303,2015-09-01 07:38:44,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_24,cell_17,robot_176
3877320,2015-10-13 21:08:36,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_24,cell_14,robot_179
3877323,2015-10-13 21:08:30,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_24,cell_14,robot_179
3877330,2015-10-13 21:08:19,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_24,cell_14,robot_179
3877341,2015-10-13 21:08:05,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_24,cell_14,robot_179
3877354,2015-10-13 21:07:34,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_24,cell_14,robot_179
3923314,2015-11-24 17:06:06,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_24,cell_17,robot_176
3923553,2015-11-24 07:37:37,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_24,cell_17,robot_176
3923666,2015-11-24 07:24:41,50204,Motion,Bewegungsüberwachung,NaN,NaN,line_24,cell_17,robot_176

In [204]:
df1['message_severity'] = df1.message_severity.replace({'Bewegungsüberwachung': 'Error'})

# Überprüfe message_severity von message_number=50204
df1.loc[df1['message_number'] == '50204', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20224

In [205]:
# Überprüfe message_severity von message number=20224

X.loc[X['message_number'] == '20224', "message_severity"].unique()

array(['Error', 'Zustimmungsschalter-Konflikt '], dtype=object)

In [206]:
# Überprüfe ob es außer 20224 andere message_numbers gibt, welche auch  'Zustimmungsschalter-Konflikt ' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Zustimmungsschalter-Konflikt ', "message_number"].unique()

array(['20224'], dtype=object)

In [207]:
X[X.message_number == '20224'][X.message_severity == 'Zustimmungsschalter-Konflikt '] # -> 4 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
654910,2015-08-18 16:06:18,20224,System,Zustimmungsschalter-Konflikt,NaN,NaN,line_11,cell_3,robot_67
868945,2015-05-08 20:44:36,20224,System,Zustimmungsschalter-Konflikt,NaN,NaN,line_4,cell_6,robot_13
3772090,2015-12-16 18:51:19,20224,System,Zustimmungsschalter-Konflikt,NaN,NaN,line_23,cell_3,robot_168
3772136,2015-12-16 18:50:30,20224,System,Zustimmungsschalter-Konflikt,NaN,NaN,line_23,cell_3,robot_168

In [208]:
df1['message_severity'] = df1.message_severity.replace({'Zustimmungsschalter-Konflikt ': 'Error'})

# Überprüfe message_severity von message_number=20224
df1.loc[df1['message_number'] == '20224', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20225

In [209]:
# Überprüfe message_severity von message number=20225

X.loc[X['message_number'] == '20225', "message_severity"].unique()

array(['Error', 'Automatik-Sicherheitshalt-Konflikt'], dtype=object)

In [210]:
# Überprüfe ob es außer 20225 andere message_numbers gibt, welche auch  'Automatik-Sicherheitshalt-Konflikt' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Automatik-Sicherheitshalt-Konflikt', "message_number"].unique()

array(['20225'], dtype=object)

In [211]:
X[X.message_number == '20225'][X.message_severity == 'Automatik-Sicherheitshalt-Konflikt'] # -> 3 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
654911,2015-08-18 16:06:18,20225,System,Automatik-Sicherheitshalt-Konflikt,NaN,NaN,line_11,cell_3,robot_67
3772091,2015-12-16 18:51:19,20225,System,Automatik-Sicherheitshalt-Konflikt,NaN,NaN,line_23,cell_3,robot_168
3772137,2015-12-16 18:50:30,20225,System,Automatik-Sicherheitshalt-Konflikt,NaN,NaN,line_23,cell_3,robot_168

In [212]:
df1['message_severity'] = df1.message_severity.replace({'Automatik-Sicherheitshalt-Konflikt': 'Error'})

# Überprüfe message_severity von message_number=20225
df1.loc[df1['message_number'] == '20225', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=10068

In [213]:
# Überprüfe message_severity von message number=10068

X.loc[X['message_number'] == '10068', "message_severity"].unique()

array(['Warning', 'Starten von Programm'], dtype=object)

In [214]:
# Überprüfe ob es außer 10068 andere message_numbers gibt, welche auch  'Starten von Programm als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Starten von Programm', "message_number"].unique()

array(['10068'], dtype=object)

In [215]:
X[X.message_number == '10068'][X.message_severity == 'Starten von Programm'] # -> 10  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3095797,2015-10-22 09:52:33,10068,Operational,Starten von Programm,NaN,NaN,line_19,cell_14,robot_148
3095803,2015-10-22 09:51:51,10068,Operational,Starten von Programm,NaN,NaN,line_19,cell_14,robot_148
3761752,2015-12-14 21:55:21,10068,Operational,Starten von Programm,NaN,NaN,line_23,cell_13,robot_167
3792029,2015-11-20 21:31:11,10068,Operational,Starten von Programm,NaN,NaN,line_23,cell_13,robot_167
3792042,2015-11-20 21:30:37,10068,Operational,Starten von Programm,NaN,NaN,line_23,cell_13,robot_167
3862760,2015-09-10 21:55:23,10068,Operational,Starten von Programm,NaN,NaN,line_24,cell_17,robot_176
3863036,2015-09-10 21:54:34,10068,Operational,Starten von Programm,NaN,NaN,line_24,cell_17,robot_177
3863553,2015-09-10 21:53:59,10068,Operational,Starten von Programm,NaN,NaN,line_24,cell_14,robot_179
3923537,2015-11-24 07:39:24,10068,Operational,Starten von Programm,NaN,NaN,line_24,cell_17,robot_176
3923654,2015-11-24 07:26:08,10068,Operational,Starten von Programm,NaN,NaN,line_24,cell_17,robot_176

In [216]:
df1['message_severity'] = df1.message_severity.replace({'Starten von Programm': 'Warning'})

# Überprüfe message_severity von message_number=10068
df1.loc[df1['message_number'] == '10068', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=40223

In [217]:
# Überprüfe message_severity von message number=40223

X.loc[X['message_number'] == '40223', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=41795

In [218]:
# Überprüfe message_severity von message number=41795

X.loc[X['message_number'] == '41795', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20293

In [219]:
# Überprüfe message_severity von message number=20293

X.loc[X['message_number'] == '20293', "message_severity"].unique()

array(['Error', 'Angeforderte Aktion nicht möglich'], dtype=object)

In [220]:
# Überprüfe ob es außer 20293 andere message_numbers gibt, welche auch  'Angeforderte Aktion nicht möglich' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Angeforderte Aktion nicht möglich', "message_number"].unique()

array(['20293'], dtype=object)

In [221]:
X[X.message_number == '20293'][X.message_severity == 'Angeforderte Aktion nicht möglich'] # -> 6 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3923486,2015-11-24 11:20:16,20293,System,Angeforderte Aktion nicht möglich,NaN,NaN,line_24,cell_17,robot_176
3931614,2015-11-26 09:35:21,20293,System,Angeforderte Aktion nicht möglich,NaN,NaN,line_24,cell_17,robot_177
3931619,2015-11-26 09:32:37,20293,System,Angeforderte Aktion nicht möglich,NaN,NaN,line_24,cell_17,robot_177
3934245,2015-11-27 06:51:34,20293,System,Angeforderte Aktion nicht möglich,NaN,NaN,line_24,cell_17,robot_177
3934246,2015-11-27 06:51:32,20293,System,Angeforderte Aktion nicht möglich,NaN,NaN,line_24,cell_17,robot_177
3934247,2015-11-27 06:51:31,20293,System,Angeforderte Aktion nicht möglich,NaN,NaN,line_24,cell_17,robot_177

In [222]:
df1['message_severity'] = df1.message_severity.replace({'Angeforderte Aktion nicht möglich': 'Error'})

# Überprüfe message_severity von message_number=20293
df1.loc[df1['message_number'] == '20293', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=50438

In [223]:
# Überprüfe message_severity von message number=50438

X.loc[X['message_number'] == '50438', "message_severity"].unique()

array(['Warning', 'Timeout der Motoren-AUS-Sequenz'], dtype=object)

In [224]:
# Überprüfe ob es außer 50438 andere message_numbers gibt, welche auch  'Timeout der Motoren-AUS-Sequenz' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Timeout der Motoren-AUS-Sequenz', "message_number"].unique()

array(['50438'], dtype=object)

In [225]:
X[X.message_number == '50438'][X.message_severity == 'Timeout der Motoren-AUS-Sequenz'] # -> 7 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
1076574,2015-05-21 06:36:04,50438,Motion,Timeout der Motoren-AUS-Sequenz,NaN,NaN,line_4,cell_3,robot_87
1076575,2015-05-21 06:35:59,50438,Motion,Timeout der Motoren-AUS-Sequenz,NaN,NaN,line_4,cell_3,robot_87
3877337,2015-10-13 21:08:10,50438,Motion,Timeout der Motoren-AUS-Sequenz,NaN,NaN,line_24,cell_14,robot_179
3882929,2015-09-14 15:25:13,50438,Motion,Timeout der Motoren-AUS-Sequenz,NaN,NaN,line_24,cell_14,robot_179
3882931,2015-09-14 15:25:08,50438,Motion,Timeout der Motoren-AUS-Sequenz,NaN,NaN,line_24,cell_14,robot_179
3882932,2015-09-14 15:25:03,50438,Motion,Timeout der Motoren-AUS-Sequenz,NaN,NaN,line_24,cell_14,robot_179
3882933,2015-09-14 15:24:58,50438,Motion,Timeout der Motoren-AUS-Sequenz,NaN,NaN,line_24,cell_14,robot_179

In [226]:
df1['message_severity'] = df1.message_severity.replace({'Timeout der Motoren-AUS-Sequenz': 'Warning'})

# Überprüfe message_severity von message_number=50438
df1.loc[df1['message_number'] == '50438', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=20260

In [227]:
# Überprüfe message_severity von message number=20260

X.loc[X['message_number'] == '20260', "message_severity"].unique()

array(['Error', 'Statuskonflikt Betriebssteuerung, DRV1'], dtype=object)

In [228]:
# Überprüfe ob es außer 20260 andere message_numbers gibt, welche auch  'Statuskonflikt Betriebssteuerung, DRV1' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Statuskonflikt Betriebssteuerung, DRV1', "message_number"].unique()

array(['20260'], dtype=object)

In [229]:
X[X.message_number == '20260'][X.message_severity == 'Statuskonflikt Betriebssteuerung, DRV1'] # -> 3 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
1076576,2015-05-21 06:35:57,20260,System,"Statuskonflikt Betriebssteuerung, DRV1",NaN,NaN,line_4,cell_3,robot_87
3877339,2015-10-13 21:08:07,20260,System,"Statuskonflikt Betriebssteuerung, DRV1",NaN,NaN,line_24,cell_14,robot_179
3882934,2015-09-14 15:24:55,20260,System,"Statuskonflikt Betriebssteuerung, DRV1",NaN,NaN,line_24,cell_14,robot_179

In [230]:
df1['message_severity'] = df1.message_severity.replace({'Statuskonflikt Betriebssteuerung, DRV1': 'Error'})

# Überprüfe message_severity von message_number=20260
df1.loc[df1['message_number'] == '20260', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20142

In [231]:
# Überprüfe message_severity von message number=20142

X.loc[X['message_number'] == '20142', "message_severity"].unique()

array(['Warning', 'Start unzulässig'], dtype=object)

In [232]:
# Überprüfe ob es außer 20142 andere message_numbers gibt, welche auch  'Start unzulässig' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Start unzulässig', "message_number"].unique()

array(['20390', '20142'], dtype=object)

In [233]:
X[X.message_number == '20142'][X.message_severity == 'Start unzulässig'] # -> 5  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
345780,2015-06-26 05:37:11,20142,System,Start unzulässig,NaN,NaN,line_6,cell_11,robot_24
1060617,2015-05-20 13:37:28,20142,System,Start unzulässig,NaN,NaN,line_4,cell_3,robot_87
3862759,2015-09-10 21:55:23,20142,System,Start unzulässig,NaN,NaN,line_24,cell_17,robot_176
3863035,2015-09-10 21:54:34,20142,System,Start unzulässig,NaN,NaN,line_24,cell_17,robot_177
3863552,2015-09-10 21:53:59,20142,System,Start unzulässig,NaN,NaN,line_24,cell_14,robot_179

In [234]:
# Überprüfe, ob message 20390 auch zu Kategorei Information gehört

X.loc[X['message_number'] == '20390', "message_severity"].unique()

array(['Warning', 'Start unzulässig'], dtype=object)

In [235]:
X[X.message_number == '20390'][X.message_severity == 'Start unzulässig'] # ->  8 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
341477,2015-08-24 17:29:50,20390,System,Start unzulässig,NaN,NaN,line_6,cell_11,robot_23
341478,2015-08-24 17:29:39,20390,System,Start unzulässig,NaN,NaN,line_6,cell_11,robot_23
341479,2015-08-24 17:29:38,20390,System,Start unzulässig,NaN,NaN,line_6,cell_11,robot_23
341480,2015-08-24 17:29:07,20390,System,Start unzulässig,NaN,NaN,line_6,cell_11,robot_23
341481,2015-08-24 17:28:08,20390,System,Start unzulässig,NaN,NaN,line_6,cell_11,robot_23
341482,2015-08-24 17:28:07,20390,System,Start unzulässig,NaN,NaN,line_6,cell_11,robot_23
3923437,2015-11-24 14:28:28,20390,System,Start unzulässig,NaN,NaN,line_24,cell_17,robot_176
3923485,2015-11-24 11:20:18,20390,System,Start unzulässig,NaN,NaN,line_24,cell_17,robot_176

In [236]:
df1['message_severity'] = df1.message_severity.replace({'Start unzulässig': 'Warning'})

# Überprüfe message_severity von message_number=20142
df1.loc[df1['message_number'] == '20142', "message_severity"].unique()

array(['Warning'], dtype=object)

In [237]:
df1.loc[df1['message_number'] == '20390', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=71276

In [238]:
# Überprüfe message_severity von message number=71276

X.loc[X['message_number'] == '71276', "message_severity"].unique()

array(['Information', 'Kommunikation mit E/A-Einheit aufgebaut'],
      dtype=object)

In [239]:
# Überprüfe ob es außer 71276 andere message_numbers gibt, welche auch  'Kommunikation mit E/A-Einheit aufgebaut' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Kommunikation mit E/A-Einheit aufgebaut', "message_number"].unique()

array(['71276'], dtype=object)

In [240]:
X[X.message_number == '71276'][X.message_severity == 'Kommunikation mit E/A-Einheit aufgebaut'] # -> 29  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
654250,2015-08-18 09:53:47,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_11,cell_11,robot_66
654394,2015-08-18 06:46:21,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_11,cell_11,robot_73
654400,2015-08-18 05:54:53,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_11,cell_11,robot_73
654607,2015-08-18 05:53:45,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_11,cell_3,robot_68
655223,2015-08-18 05:54:42,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_11,cell_3,robot_63
1042655,2015-05-19 07:18:17,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_4,cell_11,robot_88
1060505,2015-05-20 19:29:14,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_4,cell_11,robot_88
1060547,2015-05-20 19:29:23,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_4,cell_11,robot_89
1060583,2015-05-20 09:06:05,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_4,cell_11,robot_89
1060596,2015-05-20 06:39:07,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_4,cell_11,robot_89
1067047,2015-08-20 17:08:10,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_4,cell_3,robot_87
1117656,2015-08-24 17:43:52,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_4,cell_11,robot_88
1117821,2015-08-24 05:53:40,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_4,cell_11,robot_88
1117857,2015-08-24 17:44:27,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_4,cell_11,robot_89
1118024,2015-08-24 05:54:15,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_4,cell_11,robot_89
3672109,2015-08-21 04:56:40,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_22,cell_6,robot_165
3672110,2015-08-21 04:56:37,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_22,cell_6,robot_165
3672115,2015-08-21 04:56:09,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_22,cell_6,robot_165
3748870,2015-09-11 01:42:17,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_23,cell_13,robot_171
3748872,2015-09-11 01:33:36,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_23,cell_13,robot_171
3748874,2015-09-11 01:07:40,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_23,cell_13,robot_171
3780403,2015-08-18 10:20:04,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_23,cell_13,robot_171
3795320,2015-08-21 02:07:30,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_23,cell_11,robot_172
3795541,2015-08-21 01:19:12,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_23,cell_11,robot_172
3796007,2015-08-21 00:42:12,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_23,cell_3,robot_168
3914088,2015-08-21 05:38:32,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_24,cell_17,robot_177
3914121,2015-08-21 05:38:29,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_24,cell_17,robot_177
3914589,2015-08-21 05:37:02,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_24,cell_14,robot_179
3914590,2015-08-21 05:36:59,71276,IOCommunication,Kommunikation mit E/A-Einheit aufgebaut,NaN,NaN,line_24,cell_14,robot_179

In [241]:
df1['message_severity'] = df1.message_severity.replace({'Kommunikation mit E/A-Einheit aufgebaut': 'Information'})

# Überprüfe message_severity von message_number=71276
df1.loc[df1['message_number'] == '71276', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=71058

In [242]:
# Überprüfe message_severity von message number=71058

X.loc[X['message_number'] == '71058', "message_severity"].unique()

array(['Error', 'Keine Kommunikation mit E/A-Einheit'], dtype=object)

In [243]:
# Überprüfe ob es außer 71058 andere message_numbers gibt, welche auch  'Keine Kommunikation mit E/A-Einheit' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Keine Kommunikation mit E/A-Einheit', "message_number"].unique()

array(['71058', '71367'], dtype=object)

In [244]:
X[X.message_number == '71058'][X.message_severity == 'Keine Kommunikation mit E/A-Einheit'] # -> 29  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
654255,2015-08-18 09:53:42,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_11,cell_11,robot_66
654395,2015-08-18 06:46:16,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_11,cell_11,robot_73
654401,2015-08-18 05:54:48,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_11,cell_11,robot_73
654680,2015-08-18 05:53:40,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_11,cell_3,robot_68
655224,2015-08-18 05:54:37,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_11,cell_3,robot_63
1042656,2015-05-19 07:13:25,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_4,cell_11,robot_88
1060506,2015-05-20 19:29:09,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_4,cell_11,robot_88
1060548,2015-05-20 19:29:18,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_4,cell_11,robot_89
1060584,2015-05-20 09:06:00,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_4,cell_11,robot_89
1060602,2015-05-20 06:38:08,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_4,cell_11,robot_89
1067048,2015-08-20 17:08:05,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_4,cell_3,robot_87
1117657,2015-08-24 17:43:47,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_4,cell_11,robot_88
1117822,2015-08-24 05:53:35,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_4,cell_11,robot_88
1117858,2015-08-24 17:44:22,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_4,cell_11,robot_89
1118025,2015-08-24 05:54:10,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_4,cell_11,robot_89
3672111,2015-08-21 04:56:32,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_22,cell_6,robot_165
3672112,2015-08-21 04:56:32,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_22,cell_6,robot_165
3672116,2015-08-21 04:54:36,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_22,cell_6,robot_165
3743404,2015-09-10 23:27:05,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3748871,2015-09-11 01:42:08,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3748873,2015-09-11 01:29:06,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3780404,2015-08-18 10:19:42,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_23,cell_13,robot_171
3795321,2015-08-21 02:06:40,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_23,cell_11,robot_172
3795542,2015-08-21 01:18:59,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_23,cell_11,robot_172
3796008,2015-08-21 00:41:54,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_23,cell_3,robot_168
3914158,2015-08-21 05:38:17,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_24,cell_17,robot_177
3914159,2015-08-21 05:38:17,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_24,cell_17,robot_177
3914592,2015-08-21 05:36:22,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_24,cell_14,robot_179
3914593,2015-08-21 05:36:22,71058,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_24,cell_14,robot_179

In [245]:
# Überprüfe message_severity von message number=71367

X.loc[X['message_number'] == '71367', "message_severity"].unique() # -> können beide umgewndelt werden

array(['Error', 'Keine Kommunikation mit E/A-Einheit'], dtype=object)

In [246]:
X[X.message_number == '71367'][X.message_severity == 'Keine Kommunikation mit E/A-Einheit'] # -> 7  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3794974,2015-08-21 03:03:07,71367,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_23,cell_11,robot_172
3795163,2015-08-21 02:28:02,71367,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_23,cell_11,robot_172
3795412,2015-08-21 01:58:06,71367,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_23,cell_11,robot_172
3795463,2015-08-21 01:50:48,71367,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_23,cell_11,robot_172
3795485,2015-08-21 01:25:19,71367,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_23,cell_11,robot_172
3795507,2015-08-21 01:21:37,71367,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_23,cell_11,robot_172
3795557,2015-08-21 01:01:09,71367,IOCommunication,Keine Kommunikation mit E/A-Einheit,NaN,NaN,line_23,cell_11,robot_172

In [247]:
df1['message_severity'] = df1.message_severity.replace({'Keine Kommunikation mit E/A-Einheit': 'Error'})

# Überprüfe message_severity von message_number=71058
df1.loc[df1['message_number'] == '71058', "message_severity"].unique()

array(['Error'], dtype=object)

In [248]:
# Überprüfe message_severity von message_number=71058
df1.loc[df1['message_number'] == '71367', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20216

In [249]:
# Überprüfe message_severity von message number=20216

X.loc[X['message_number'] == '20216', "message_severity"].unique()

array(['Error', 'Zustimmungsschalter im Automatikmodus aktiv'],
      dtype=object)

In [250]:
# Überprüfe ob es außer 71276 andere message_numbers gibt, welche auch  'Zustimmungsschalter im Automatikmodus aktiv' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Zustimmungsschalter im Automatikmodus aktiv', "message_number"].unique()

array(['20216'], dtype=object)

In [251]:
X[X.message_number == '20216'][X.message_severity == 'Zustimmungsschalter im Automatikmodus aktiv'] # -> 11  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
1076499,2015-05-21 07:53:59,20216,System,Zustimmungsschalter im Automatikmodus aktiv,NaN,NaN,line_4,cell_11,robot_89
3739848,2015-09-09 04:56:34,20216,System,Zustimmungsschalter im Automatikmodus aktiv,NaN,NaN,line_23,cell_3,robot_170
3873390,2015-10-12 02:09:16,20216,System,Zustimmungsschalter im Automatikmodus aktiv,NaN,NaN,line_24,cell_14,robot_179
3873393,2015-10-12 02:09:07,20216,System,Zustimmungsschalter im Automatikmodus aktiv,NaN,NaN,line_24,cell_14,robot_179
3873397,2015-10-12 02:08:59,20216,System,Zustimmungsschalter im Automatikmodus aktiv,NaN,NaN,line_24,cell_14,robot_179
3876888,2015-10-13 23:29:26,20216,System,Zustimmungsschalter im Automatikmodus aktiv,NaN,NaN,line_24,cell_14,robot_179
3915418,2015-10-21 06:39:53,20216,System,Zustimmungsschalter im Automatikmodus aktiv,NaN,NaN,line_24,cell_17,robot_176
3915419,2015-10-21 06:39:30,20216,System,Zustimmungsschalter im Automatikmodus aktiv,NaN,NaN,line_24,cell_17,robot_176
3922930,2015-09-24 13:59:06,20216,System,Zustimmungsschalter im Automatikmodus aktiv,NaN,NaN,line_24,cell_17,robot_177
3922931,2015-09-24 13:58:58,20216,System,Zustimmungsschalter im Automatikmodus aktiv,NaN,NaN,line_24,cell_17,robot_177
3922932,2015-09-24 13:58:25,20216,System,Zustimmungsschalter im Automatikmodus aktiv,NaN,NaN,line_24,cell_17,robot_177

In [252]:
df1['message_severity'] = df1.message_severity.replace({'Zustimmungsschalter im Automatikmodus aktiv': 'Error'})

# Überprüfe message_severity von message_number=20216
df1.loc[df1['message_number'] == '20216', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=10128

In [253]:
# Überprüfe message_severity von message number=10128

X.loc[X['message_number'] == '10128', "message_severity"].unique()

array(['Warning', 'Rückwärts-Abarbeitung nicht möglich '], dtype=object)

In [254]:
# Überprüfe ob es außer 10128 andere message_numbers gibt, welche auch  'Rückwärts-Abarbeitung nicht möglich ' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Rückwärts-Abarbeitung nicht möglich ', "message_number"].unique()

array(['10128'], dtype=object)

In [255]:
X[X.message_number == '10128'][X.message_severity == 'Rückwärts-Abarbeitung nicht möglich '] # ->  1 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3923347,2015-11-24 16:57:25,10128,Operational,Rückwärts-Abarbeitung nicht möglich,NaN,NaN,line_24,cell_17,robot_176

In [256]:
df1['message_severity'] = df1.message_severity.replace({'Rückwärts-Abarbeitung nicht möglich ': 'Warning'})

# Überprüfe message_severity von message_number=10128
df1.loc[df1['message_number'] == '10128', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=50361

In [257]:
# Überprüfe message_severity von message number=50361

X.loc[X['message_number'] == '50361', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=41581 ACHTUNG!!!!! WARNING UND ERROR PARALELL ZUGEORDNET

In [258]:
# Überprüfe message_severity von message number=41581

X.loc[X['message_number'] == '41581', "message_severity"].unique()

array(['Warning', 'Error'], dtype=object)

In [259]:
X[X.message_number == '41581'][X.message_severity == 'Error'] # -> 2 mal Warning zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3358409,2016-03-03 15:04:27,41581,Program,Error,NaN,NaN,line_20,cell_4,robot_151
3367096,2016-02-08 10:18:48,41581,Program,Error,NaN,NaN,line_20,cell_4,robot_151

In [260]:
X[X.message_number == '41581'][X.message_severity == 'Warning'] # -> 188 mal Warning zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
224182,2016-05-31 05:00:32,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224183,2016-05-31 04:59:21,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224184,2016-05-31 04:58:11,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224185,2016-05-31 04:57:00,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224186,2016-05-31 04:55:50,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224187,2016-05-31 04:54:39,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224188,2016-05-31 04:53:28,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224189,2016-05-31 04:52:18,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224190,2016-05-31 04:51:07,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224191,2016-05-31 04:49:56,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224192,2016-05-31 04:48:46,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224193,2016-05-31 04:47:35,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224194,2016-05-31 04:46:24,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224195,2016-05-31 04:45:14,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224196,2016-05-31 04:44:03,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224197,2016-05-31 04:42:52,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224198,2016-05-31 04:42:37,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224199,2016-05-31 04:42:22,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224200,2016-05-31 04:42:07,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224201,2016-05-31 04:41:52,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224202,2016-05-31 04:41:37,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224203,2016-05-31 04:41:22,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224204,2016-05-31 04:41:07,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224206,2016-05-31 04:40:20,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224207,2016-05-31 04:39:10,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224208,2016-05-31 04:37:59,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224209,2016-05-31 04:36:48,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224210,2016-05-31 04:35:38,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224211,2016-05-31 04:34:27,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224212,2016-05-31 04:33:16,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
...,...,...,...,...,...,...,...,...,...
224377,2016-05-31 02:25:06,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224378,2016-05-31 02:25:05,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224379,2016-05-31 02:24:51,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224380,2016-05-31 02:24:50,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224381,2016-05-31 02:24:36,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224382,2016-05-31 02:24:35,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224383,2016-05-31 02:24:20,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224384,2016-05-31 02:24:05,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
224385,2016-05-31 02:23:50,41581,Program,Warning,NaN,NaN,line_5,cell_10,robot_19
3352672,2016-03-02 21:09:10,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3352673,2016-03-02 21:07:50,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3352725,2016-03-02 21:03:01,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3352727,2016-03-02 21:02:45,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3352898,2016-03-02 20:39:18,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3352900,2016-03-02 20:38:46,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3352902,2016-03-02 20:38:31,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3364606,2016-03-07 09:49:07,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3364657,2016-03-07 09:54:28,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3367097,2016-02-08 10:18:28,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3367099,2016-02-08 10:15:42,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3367101,2016-02-08 10:13:48,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3432344,2016-03-21 13:23:29,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3432354,2016-03-21 13:19:35,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3432360,2016-03-21 13:18:54,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3432362,2016-03-21 13:18:00,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3462283,2016-02-26 14:56:00,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3473828,2016-02-29 16:23:10,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3473919,2016-02-29 10:51:12,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3473929,2016-02-29 10:48:47,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151
3473931,2016-02-29 10:48:19,41581,Program,Warning,NaN,NaN,line_20,cell_4,robot_151

# message_number=41595

In [261]:
# Überprüfe message_severity von message number=41595

X.loc[X['message_number'] == '41595', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=71521

In [262]:
# Überprüfe message_severity von message number=71521

X.loc[X['message_number'] == '71521', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=71520

In [263]:
# Überprüfe message_severity von message number=71520

X.loc[X['message_number'] == '71520', "message_severity"].unique()

array(['Error'], dtype=object)

# messge_number=20468

In [264]:
# Überprüfe message_severity von message number=20468

X.loc[X['message_number'] == '20468', "message_severity"].unique()

array(['Error', 'SC 1 - STZ-Überschreitung '], dtype=object)

In [265]:
# Überprüfe ob es außer 20468 andere message_numbers gibt, welche auch  'SC 1 - STZ-Überschreitung ' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'SC 1 - STZ-Überschreitung ', "message_number"].unique()

array(['20468'], dtype=object)

In [266]:
X[X.message_number == '20468'][X.message_severity == 'SC 1 - STZ-Überschreitung '] # ->  48 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3656320,2015-08-17 11:54:28,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3660302,2015-08-18 20:45:39,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3660308,2015-08-18 20:44:46,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3660327,2015-08-18 20:20:22,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3660363,2015-08-18 13:46:14,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3668861,2015-08-20 23:51:22,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3668882,2015-08-20 22:57:26,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3668901,2015-08-20 22:17:34,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3671980,2015-08-21 20:04:41,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3672144,2015-08-21 04:32:52,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3672147,2015-08-21 02:58:10,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3672148,2015-08-21 02:53:01,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3672150,2015-08-21 02:48:45,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3672151,2015-08-21 02:00:54,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3672158,2015-08-21 00:07:54,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3681905,2015-08-25 10:54:56,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3681913,2015-08-25 09:33:03,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_22,cell_6,robot_165
3743414,2015-09-10 23:20:13,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_171
3743420,2015-09-10 23:19:54,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_171
3743430,2015-09-10 23:17:49,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_171
3743436,2015-09-10 23:16:17,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_171
3766013,2015-11-15 10:11:58,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_11,robot_175
3766030,2015-11-15 09:13:53,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_11,robot_175
3766036,2015-11-15 09:13:29,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_11,robot_175
3766391,2015-11-15 09:16:35,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_169
3776223,2015-08-17 19:35:42,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_167
3776227,2015-08-17 19:32:49,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_167
3776319,2015-08-17 11:51:36,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_167
3776832,2015-11-17 01:41:35,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_171
3786488,2015-10-19 12:13:30,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_167
3786489,2015-10-19 12:11:52,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_167
3790653,2015-08-20 19:33:37,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_167
3790660,2015-08-20 19:31:17,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_167
3797352,2015-10-21 06:46:49,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_167
3797381,2015-10-21 06:43:10,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_167
3797412,2015-10-21 06:32:51,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_167
3797481,2015-10-21 06:18:43,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_167
3797534,2015-10-21 06:10:40,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_167
3831813,2015-08-31 13:04:53,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_23,cell_13,robot_171
3836300,2015-09-01 07:38:46,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_24,cell_17,robot_176
3856445,2015-11-08 11:50:07,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_24,cell_17,robot_176
3856449,2015-11-08 11:50:00,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_24,cell_17,robot_176
3856453,2015-11-08 11:49:53,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_24,cell_17,robot_176
3856465,2015-11-08 09:18:48,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_24,cell_17,robot_176
3856471,2015-11-08 09:18:36,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_24,cell_17,robot_176
3892241,2015-11-16 09:56:26,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_24,cell_17,robot_176
3923550,2015-11-24 07:37:39,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_24,cell_17,robot_176
3923663,2015-11-24 07:24:43,20468,System,SC 1 - STZ-Überschreitung,NaN,NaN,line_24,cell_17,robot_176

In [267]:
df1['message_severity'] = df1.message_severity.replace({'SC 1 - STZ-Überschreitung ': 'Error'})

# Überprüfe message_severity von message_number=20468
df1.loc[df1['message_number'] == '20468', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=40160

In [268]:
# Überprüfe message_severity von message number=40160

X.loc[X['message_number'] == '40160', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20135

In [269]:
# Überprüfe message_severity von message number=20135

X.loc[X['message_number'] == '20135', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=71441

In [270]:
# Überprüfe message_severity von message number=71441

X.loc[X['message_number'] == '71441', "message_severity"].unique()

array(['Warning', 'Warnung zu Profinet-IO-Routing'], dtype=object)

In [271]:
# Überprüfe ob es außer 71441 andere message_numbers gibt, welche auch  'Warnung zu Profinet-IO-Routing' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Warnung zu Profinet-IO-Routing', "message_number"].unique()

array(['71441'], dtype=object)

In [272]:
X[X.message_number == '71441'][X.message_severity == 'Warnung zu Profinet-IO-Routing'] # ->  58 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
2967786,2015-08-19 19:10:46,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_19,cell_14,robot_143
3236681,2015-08-26 18:38:21,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_19,cell_14,robot_143
3237232,2015-08-26 18:38:38,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_19,cell_14,robot_144
3237761,2015-08-26 18:43:13,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_19,cell_14,robot_142
3238725,2015-08-26 00:38:59,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_19,cell_14,robot_142
3239337,2015-08-26 18:41:48,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_19,cell_14,robot_145
3240393,2015-08-26 18:43:47,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_19,cell_14,robot_146
3241457,2015-08-26 18:43:44,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_19,cell_14,robot_148
3242439,2015-08-26 18:43:18,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_19,cell_14,robot_149
3243481,2015-08-26 18:43:59,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_19,cell_14,robot_147
3668874,2015-08-20 23:50:55,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_22,cell_6,robot_165
3669026,2015-08-20 23:52:38,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_22,cell_6,robot_164
3669162,2015-08-20 23:54:34,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_22,cell_6,robot_162
3669289,2015-08-20 23:51:24,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_22,cell_6,robot_166
3669401,2015-08-20 23:56:00,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_22,cell_6,robot_163
3672170,2015-08-21 00:07:27,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_22,cell_6,robot_165
3672368,2015-08-21 00:09:07,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_22,cell_6,robot_164
3672571,2015-08-21 00:11:03,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_22,cell_6,robot_162
3672773,2015-08-21 00:07:57,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_22,cell_6,robot_166
3672977,2015-08-21 00:12:33,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_22,cell_6,robot_163
3739151,2015-09-09 16:38:41,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_11,robot_175
3739238,2015-09-09 03:41:14,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_11,robot_175
3739260,2015-09-09 03:34:43,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_11,robot_175
3739336,2015-09-09 16:38:45,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_11,robot_173
3739420,2015-09-09 03:34:51,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_11,robot_173
3739590,2015-09-09 16:38:49,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_3,robot_168
3739675,2015-09-09 03:34:11,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_3,robot_168
3739746,2015-09-09 16:38:55,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_3,robot_170
3739929,2015-09-09 03:34:10,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_3,robot_170
3740121,2015-09-09 16:40:01,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_13,robot_169
3740196,2015-09-09 03:35:09,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_13,robot_169
3740266,2015-09-09 16:39:39,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_13,robot_171
3740346,2015-09-09 03:34:53,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_13,robot_171
3794966,2015-08-21 03:11:43,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_11,robot_172
3795055,2015-08-21 02:53:30,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_11,robot_172
3795194,2015-08-21 02:25:02,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_11,robot_172
3795392,2015-08-21 01:57:21,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_11,robot_172
3795479,2015-08-21 01:50:04,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_11,robot_172
3795499,2015-08-21 01:24:34,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_11,robot_172
3795522,2015-08-21 01:20:52,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_11,robot_172
3795573,2015-08-21 01:00:23,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_11,robot_172
3795677,2015-08-21 00:59:00,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_11,robot_175
3795780,2015-08-21 00:59:14,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_11,robot_173
3795884,2015-08-21 00:57:30,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_3,robot_174
3796003,2015-08-21 00:58:01,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_3,robot_168
3796095,2015-08-21 00:58:05,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_3,robot_170
3796250,2015-08-21 00:57:25,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_13,robot_167
3796363,2015-08-21 00:58:18,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_13,robot_169
3796470,2015-08-21 00:58:08,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_23,cell_13,robot_171
3859832,2015-09-09 16:39:38,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_24,cell_17,robot_177
3859997,2015-09-09 16:40:35,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_24,cell_17,robot_178
3860100,2015-09-09 03:35:35,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_24,cell_17,robot_178
3877121,2015-10-13 22:47:29,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_24,cell_14,robot_179
3877221,2015-10-13 22:29:24,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_24,cell_14,robot_179
3913965,2015-08-21 05:30:52,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_24,cell_17,robot_176
3914180,2015-08-21 05:30:16,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_24,cell_17,robot_177
3914396,2015-08-21 05:30:49,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_24,cell_17,robot_178
3914611,2015-08-21 05:29:58,71441,IOCommunication,Warnung zu Profinet-IO-Routing,NaN,NaN,line_24,cell_14,robot_179

In [273]:
df1['message_severity'] = df1.message_severity.replace({'Warnung zu Profinet-IO-Routing': 'Warning'})

# Überprüfe message_severity von message_number=71441
df1.loc[df1['message_number'] == '71441', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=20200

In [274]:
# Überprüfe message_severity von message number=20200

X.loc[X['message_number'] == '20200', "message_severity"].unique()

array(['Error', 'Endlagenschalter von SC geöffnet'], dtype=object)

In [275]:
# Überprüfe ob es außer 20200 andere message_numbers gibt, welche auch  'Endlagenschalter von SC geöffnet' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Endlagenschalter von SC geöffnet', "message_number"].unique()

array(['20200'], dtype=object)

In [276]:
X[X.message_number == '20200'][X.message_severity == 'Endlagenschalter von SC geöffnet'] # ->  46 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3668862,2015-08-20 23:51:22,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_22,cell_6,robot_165
3668876,2015-08-20 23:45:13,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_22,cell_6,robot_165
3669013,2015-08-20 23:53:04,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_22,cell_6,robot_164
3669148,2015-08-20 23:54:58,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_22,cell_6,robot_162
3669275,2015-08-20 23:51:49,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_22,cell_6,robot_166
3669384,2015-08-20 23:56:27,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_22,cell_6,robot_163
3672156,2015-08-21 00:08:59,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_22,cell_6,robot_165
3672159,2015-08-21 00:07:54,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_22,cell_6,robot_165
3672355,2015-08-21 00:09:33,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_22,cell_6,robot_164
3672558,2015-08-21 00:11:27,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_22,cell_6,robot_162
3672759,2015-08-21 00:08:22,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_22,cell_6,robot_166
3672965,2015-08-21 00:13:00,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_22,cell_6,robot_163
3795428,2015-08-21 01:56:27,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_11,robot_172
3795431,2015-08-21 01:56:14,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_11,robot_172
3795433,2015-08-21 01:53:02,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_11,robot_172
3795435,2015-08-21 01:52:39,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_11,robot_172
3795437,2015-08-21 01:52:26,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_11,robot_172
3795441,2015-08-21 01:52:10,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_11,robot_172
3795450,2015-08-21 01:51:43,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_11,robot_172
3795455,2015-08-21 01:51:29,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_11,robot_172
3797331,2015-10-21 06:49:44,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_13,robot_167
3797332,2015-10-21 06:49:21,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_13,robot_167
3797334,2015-10-21 06:49:16,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_13,robot_167
3797335,2015-10-21 06:48:59,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_13,robot_167
3797338,2015-10-21 06:48:51,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_13,robot_167
3797339,2015-10-21 06:48:48,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_13,robot_167
3797340,2015-10-21 06:48:05,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_13,robot_167
3797343,2015-10-21 06:47:56,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_13,robot_167
3797347,2015-10-21 06:47:18,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_13,robot_167
3797402,2015-10-21 06:39:51,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_13,robot_167
3797406,2015-10-21 06:39:27,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_23,cell_13,robot_167
3877106,2015-10-13 22:48:34,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_24,cell_14,robot_179
3877108,2015-10-13 22:48:30,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_24,cell_14,robot_179
3877204,2015-10-13 22:31:48,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_24,cell_14,robot_179
3913953,2015-08-21 05:31:17,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_24,cell_17,robot_176
3914167,2015-08-21 05:30:43,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_24,cell_17,robot_177
3914383,2015-08-21 05:31:14,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_24,cell_17,robot_178
3914600,2015-08-21 05:30:24,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_24,cell_14,robot_179
3923541,2015-11-24 07:39:18,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_24,cell_17,robot_176
3923542,2015-11-24 07:39:13,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_24,cell_17,robot_176
3923647,2015-11-24 07:26:33,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_24,cell_17,robot_176
3923648,2015-11-24 07:26:32,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_24,cell_17,robot_176
3923649,2015-11-24 07:26:27,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_24,cell_17,robot_176
3923651,2015-11-24 07:26:19,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_24,cell_17,robot_176
3923652,2015-11-24 07:26:14,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_24,cell_17,robot_176
3923656,2015-11-24 07:26:00,20200,System,Endlagenschalter von SC geöffnet,NaN,NaN,line_24,cell_17,robot_176

In [277]:
df1['message_severity'] = df1.message_severity.replace({'Endlagenschalter von SC geöffnet': 'Error'})

# Überprüfe message_severity von message_number=20200
df1.loc[df1['message_number'] == '20200', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=50263 ACHTUNG!!!!! PARALELL ZU WARNING UND ERROR ZUGEORDNET!!!!!!!!!!

In [278]:
# Überprüfe message_severity von message number=50263

X.loc[X['message_number'] == '50263', "message_severity"].unique()

array(['Error', 'Warning'], dtype=object)

In [279]:
X[X.message_number == '50263'][X.message_severity == 'Warning'] # -> 1 mal Warning zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
283556,2016-07-29 13:11:22,50263,Motion,Warning,NaN,NaN,line_7,cell_12,robot_27

In [280]:
X[X.message_number == '50263'][X.message_severity == 'Error'] # -> 1 mal Error zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
283544,2016-07-29 13:14:22,50263,Motion,Error,NaN,NaN,line_7,cell_12,robot_27

# message_number=41555 ACHTUNG!!!!!! GLEICHZEITIG ZU WARNING UND ERROR ZUGEORDNET!!!!!

In [281]:
# Überprüfe message_severity von message number=41555

X.loc[X['message_number'] == '41555', "message_severity"].unique()

array(['Warning', 'Error', 'Kein Kontakt mit Einheit'], dtype=object)

In [282]:
# Überprüfe ob es außer 41555 andere message_numbers gibt, welche auch   'Kein Kontakt mit Einheit' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Kein Kontakt mit Einheit', "message_number"].unique()

array(['41555'], dtype=object)

In [283]:
X[X.message_number == '41555'][X.message_severity == 'Kein Kontakt mit Einheit'] # -> 93  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
654254,2015-08-18 09:53:42,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_11,cell_11,robot_66
1060600,2015-05-20 06:38:12,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_4,cell_11,robot_89
2427644,2015-11-02 15:51:06,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
2428093,2015-11-02 10:50:55,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
2457513,2015-11-03 16:13:06,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
2457786,2015-11-03 13:29:48,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
2457811,2015-11-03 13:18:55,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
2458021,2015-11-03 10:52:27,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
2458732,2015-11-03 13:10:37,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_142
2458845,2015-11-03 11:04:12,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_142
2459027,2015-11-03 08:35:36,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_142
2491635,2015-11-04 17:01:37,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
2492422,2015-11-04 08:54:41,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
2492443,2015-11-04 08:45:47,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
2492701,2015-11-04 16:53:10,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_142
2492746,2015-11-04 16:22:47,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_142
2532252,2015-10-06 15:32:00,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_142
2559428,2015-10-07 20:48:27,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
2559562,2015-10-07 17:06:02,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
2560679,2015-10-07 15:46:26,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_142
2560785,2015-10-07 14:11:15,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_142
2560988,2015-10-07 11:39:24,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_142
2590869,2015-10-08 14:10:58,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
2591945,2015-10-08 12:21:51,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_142
2626089,2015-10-09 12:00:53,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
2626684,2015-10-09 05:33:29,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
2626799,2015-10-09 11:52:23,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_142
2656648,2015-12-10 16:20:15,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
2657430,2015-12-10 09:07:38,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
2657530,2015-12-10 08:08:29,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
...,...,...,...,...,...,...,...,...,...
3203620,2015-11-25 08:53:41,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
3204247,2015-11-25 10:49:29,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_142
3244633,2015-11-26 16:24:11,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
3245220,2015-11-26 10:54:12,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
3274303,2015-08-27 09:40:25,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_143
3274500,2015-08-27 18:43:22,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_142
3275006,2015-08-27 10:37:40,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_142
3275147,2015-08-27 09:02:58,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_19,cell_14,robot_142
3672413,2015-08-21 18:12:42,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_22,cell_6,robot_162
3672433,2015-08-21 12:21:02,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_22,cell_6,robot_162
3795075,2015-08-21 02:32:36,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_23,cell_11,robot_172
3795270,2015-08-21 02:11:00,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_23,cell_11,robot_172
3795333,2015-08-21 02:04:56,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_23,cell_11,robot_172
3850027,2015-11-06 11:04:14,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177
3864612,2015-12-10 19:31:42,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177
3864705,2015-12-10 08:38:19,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177
3869352,2015-12-11 23:35:41,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177
3869353,2015-12-11 21:31:12,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177
3869354,2015-12-11 18:27:52,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177
3869365,2015-12-11 16:52:38,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177
3869374,2015-12-11 15:22:35,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177
3869375,2015-12-11 14:37:10,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177
3869401,2015-12-11 10:34:40,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177
3873826,2015-11-12 14:31:41,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177
3876574,2015-10-13 12:32:26,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177
3883653,2015-10-14 13:23:04,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177
3901995,2015-09-18 08:31:16,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177
3920521,2015-11-23 20:57:36,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177
3923842,2015-11-24 21:43:43,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177
3923851,2015-11-24 20:33:27,41555,Program,Kein Kontakt mit Einheit,NaN,NaN,line_24,cell_17,robot_177

# message_number=10260

In [284]:
# Überprüfe message_severity von message number=10260

X.loc[X['message_number'] == '10260', "message_severity"].unique()

array(['Information', 'Systemdiagnose-Info generiert'], dtype=object)

In [285]:
# Überprüfe ob es außer 10260 andere message_numbers gibt, welche auch  'Systemdiagnose-Info generiert' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Systemdiagnose-Info generiert', "message_number"].unique()

array(['10260'], dtype=object)

In [286]:
X[X.message_number == '10260'][X.message_severity == 'Systemdiagnose-Info generiert'] # -> 1  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3873251,2015-10-12 11:49:09,10260,Operational,Systemdiagnose-Info generiert,NaN,NaN,line_24,cell_14,robot_179

In [287]:
df1['message_severity'] = df1.message_severity.replace({'Systemdiagnose-Info generiert': 'Information'})

# Überprüfe message_severity von message_number=10260
df1.loc[df1['message_number'] == '10260', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=40502

In [288]:
# Überprüfe message_severity von message number=40502

X.loc[X['message_number'] == '40502', "message_severity"].unique()

array(['Warning', 'Abbruch durch digitalen Eingang'], dtype=object)

In [289]:
# Überprüfe ob es außer 40502 andere message_numbers gibt, welche auch  'Abbruch durch digitalen Eingang' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Abbruch durch digitalen Eingang', "message_number"].unique()

array(['40502'], dtype=object)

In [290]:
X[X.message_number == '40502'][X.message_severity == 'Abbruch durch digitalen Eingang'] # -> 2  mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3874001,2015-11-12 08:15:50,40502,Program,Abbruch durch digitalen Eingang,NaN,NaN,line_24,cell_17,robot_178
3874021,2015-11-12 07:35:25,40502,Program,Abbruch durch digitalen Eingang,NaN,NaN,line_24,cell_17,robot_178

In [291]:
df1['message_severity'] = df1.message_severity.replace({'Abbruch durch digitalen Eingang': 'Warning'})

# Überprüfe message_severity von message_number=40502
df1.loc[df1['message_number'] == '40502', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=50028

In [292]:
# Überprüfe message_severity von message number=50028

X.loc[X['message_number'] == '50028', "message_severity"].unique()

array(['Error', 'Bewegung in falsche Richtung'], dtype=object)

In [293]:
# Überprüfe ob es außer 50028 andere message_numbers gibt, welche auch  'Bewegung in falsche Richtung' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Bewegung in falsche Richtung', "message_number"].unique()

array(['50028'], dtype=object)

In [294]:
X[X.message_number == '50028'][X.message_severity == 'Bewegung in falsche Richtung'] # -> 17 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3765985,2015-11-15 09:18:59,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_23,cell_11,robot_172
3766017,2015-11-15 10:03:53,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_23,cell_11,robot_175
3766215,2015-11-15 11:40:36,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_23,cell_3,robot_174
3766246,2015-11-15 11:26:50,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_23,cell_3,robot_168
3766342,2015-11-15 11:56:24,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_23,cell_13,robot_167
3856472,2015-11-08 09:18:13,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_24,cell_17,robot_176
3856473,2015-11-08 09:18:07,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_24,cell_17,robot_176
3856600,2015-11-08 11:13:48,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_24,cell_14,robot_179
3877310,2015-10-13 21:09:42,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_24,cell_14,robot_179
3877311,2015-10-13 21:09:36,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_24,cell_14,robot_179
3892248,2015-11-16 09:51:46,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_24,cell_17,robot_176
3892249,2015-11-16 09:51:38,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_24,cell_17,robot_176
3892250,2015-11-16 09:51:36,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_24,cell_17,robot_176
3923580,2015-11-24 07:32:54,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_24,cell_17,robot_176
3923584,2015-11-24 07:31:48,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_24,cell_17,robot_176
3923585,2015-11-24 07:31:27,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_24,cell_17,robot_176
3923586,2015-11-24 07:31:25,50028,Motion,Bewegung in falsche Richtung,NaN,NaN,line_24,cell_17,robot_176

In [295]:
df1['message_severity'] = df1.message_severity.replace({'Bewegung in falsche Richtung': 'Error'})

# Überprüfe message_severity von message_number=50028
df1.loc[df1['message_number'] == '50028', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20490

In [296]:
# Überprüfe message_severity von message number=20490

X.loc[X['message_number'] == '20490', "message_severity"].unique()

array(['OVR-Geschwindigkeit von SC 1 überschritten ', 'Error'],
      dtype=object)

In [297]:
# Überprüfe ob es außer 20490 andere message_numbers gibt, welche auch  'OVR-Geschwindigkeit von SC 1 überschritten ' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'OVR-Geschwindigkeit von SC 1 überschritten ', "message_number"].unique()

array(['20490'], dtype=object)

In [298]:
X[X.message_number == '20490'][X.message_severity == 'OVR-Geschwindigkeit von SC 1 überschritten '] # -> 22 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
295678,2015-05-06 20:46:00,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_6,cell_11,robot_24
1118371,2015-08-24 06:57:38,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_4,cell_3,robot_90
1118421,2015-08-24 06:52:14,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_4,cell_3,robot_90
1118433,2015-08-24 06:50:22,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_4,cell_3,robot_90
1118503,2015-08-24 06:37:30,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_4,cell_3,robot_90
1118537,2015-08-24 06:31:55,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_4,cell_3,robot_90
3727603,2015-11-06 08:44:22,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_23,cell_11,robot_175
3748829,2015-09-11 02:05:36,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_23,cell_13,robot_171
3786536,2015-10-19 06:17:28,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_23,cell_13,robot_167
3795248,2015-08-21 02:12:35,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_23,cell_11,robot_172
3860128,2015-09-09 21:51:21,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_24,cell_14,robot_179
3876827,2015-10-13 23:35:43,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_24,cell_14,robot_179
3877011,2015-10-13 23:00:14,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_24,cell_14,robot_179
3877021,2015-10-13 22:59:15,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_24,cell_14,robot_179
3877226,2015-10-13 21:32:46,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_24,cell_14,robot_179
3877232,2015-10-13 21:32:40,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_24,cell_14,robot_179
3877238,2015-10-13 21:32:26,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_24,cell_14,robot_179
3877351,2015-10-13 21:07:35,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_24,cell_14,robot_179
3896935,2015-09-17 00:21:48,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_24,cell_17,robot_177
3922881,2015-09-24 14:12:24,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_24,cell_17,robot_177
3923414,2015-11-24 07:28:13,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_24,cell_17,robot_176
3923614,2015-11-24 07:28:31,20490,System,OVR-Geschwindigkeit von SC 1 überschritten,NaN,NaN,line_24,cell_17,robot_176

In [299]:
df1['message_severity'] = df1.message_severity.replace({'OVR-Geschwindigkeit von SC 1 überschritten ': 'Error'})

# Überprüfe message_severity von message_number=20490
df1.loc[df1['message_number'] == '20490', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=37001

In [300]:
# Überprüfe message_severity von message number=37001

X.loc[X['message_number'] == '37001', "message_severity"].unique()

array(['Error', 'Fehler beim Aktivieren des MOTOREN EIN-Schützes'],
      dtype=object)

In [301]:
# Überprüfe ob es außer 37001 andere message_numbers gibt, welche auch  'Fehler beim Aktivieren des MOTOREN EIN-Schützes' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Fehler beim Aktivieren des MOTOREN EIN-Schützes', "message_number"].unique()

array(['37001'], dtype=object)

In [302]:
X[X.message_number == '37001'][X.message_severity == 'Fehler beim Aktivieren des MOTOREN EIN-Schützes'] # -> 1 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
1065933,2015-08-20 17:41:53,37001,Hardware,Fehler beim Aktivieren des MOTOREN EIN-Schützes,NaN,NaN,line_4,cell_6,robot_13

In [303]:
df1['message_severity'] = df1.message_severity.replace({'Fehler beim Aktivieren des MOTOREN EIN-Schützes': 'Error'})

# Überprüfe message_severity von message_number=37001
df1.loc[df1['message_number'] == '37001', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20485

In [304]:
# Überprüfe message_severity von message number=20485

X.loc[X['message_number'] == '20485', "message_severity"].unique()

array(['Warning', 'SC 1 - Bremsdrehmoment zu gering '], dtype=object)

In [305]:
# Überprüfe ob es außer 20485 andere message_numbers gibt, welche auch  'SC 1 - Bremsdrehmoment zu gering ' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'SC 1 - Bremsdrehmoment zu gering ', "message_number"].unique()

array(['20485'], dtype=object)

In [306]:
X[X.message_number == '20485'][X.message_severity == 'SC 1 - Bremsdrehmoment zu gering '] # -> 2 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3869005,2015-10-11 18:47:08,20485,System,SC 1 - Bremsdrehmoment zu gering,NaN,NaN,line_24,cell_14,robot_179

In [307]:
df1['message_severity'] = df1.message_severity.replace({'SC 1 - Bremsdrehmoment zu gering ': 'Warning'})

# Überprüfe message_severity von message_number=20485
df1.loc[df1['message_number'] == '20485', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=10214

In [308]:
# Überprüfe message_severity von message number=10214

X.loc[X['message_number'] == '10214', "message_severity"].unique()

array(['Warning', 'Abarbeitung abgebrochen'], dtype=object)

In [309]:
# Überprüfe ob es außer 10214 andere message_numbers gibt, welche auch  'Abarbeitung abgebrochen' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Abarbeitung abgebrochen', "message_number"].unique()

array(['10214', '10217'], dtype=object)

In [310]:
X[X.message_number == '10214'][X.message_severity == 'Abarbeitung abgebrochen'] # -> 3 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3795478,2015-08-21 01:50:27,10214,Operational,Abarbeitung abgebrochen,NaN,NaN,line_23,cell_11,robot_172
3795498,2015-08-21 01:24:58,10214,Operational,Abarbeitung abgebrochen,NaN,NaN,line_23,cell_11,robot_172
3795521,2015-08-21 01:21:16,10214,Operational,Abarbeitung abgebrochen,NaN,NaN,line_23,cell_11,robot_172

# message_number=10217

In [311]:
# Überprüfe message_severity von message number=10217

X.loc[X['message_number'] == '10217', "message_severity"].unique()

array(['Warning', 'Abarbeitung abgebrochen'], dtype=object)

In [312]:
X[X.message_number == '10217'][X.message_severity == 'Abarbeitung abgebrochen'] # -> 2 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3877107,2015-10-13 22:29:50,10217,Operational,Abarbeitung abgebrochen,NaN,NaN,line_24,cell_14,robot_179
3877120,2015-10-13 22:47:55,10217,Operational,Abarbeitung abgebrochen,NaN,NaN,line_24,cell_14,robot_179

In [313]:
df1['message_severity'] = df1.message_severity.replace({'Abarbeitung abgebrochen': 'Warning'})

# Überprüfe message_severity von message_number=10214
df1.loc[df1['message_number'] == '10214', "message_severity"].unique()

array(['Warning'], dtype=object)

In [314]:
# Überprüfe message_severity von message_number=10214
df1.loc[df1['message_number'] == '10217', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=20466

In [315]:
# Überprüfe message_severity von message number=20466

X.loc[X['message_number'] == '20466', "message_severity"].unique()

array(['Error', 'SC 1 - E/A-Fehler '], dtype=object)

In [316]:
# Überprüfe ob es außer 20466 andere message_numbers gibt, welche auch  'SC 1 - E/A-Fehler ' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'SC 1 - E/A-Fehler ', "message_number"].unique()

array(['20466'], dtype=object)

In [317]:
X[X.message_number == '20466'][X.message_severity == 'SC 1 - E/A-Fehler '] # -> 1 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3795457,2015-08-21 01:51:24,20466,System,SC 1 - E/A-Fehler,NaN,NaN,line_23,cell_11,robot_172

In [318]:
df1['message_severity'] = df1.message_severity.replace({'SC 1 - E/A-Fehler ': 'Error'})

# Überprüfe message_severity von message_number=20466
df1.loc[df1['message_number'] == '20466', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=71434

In [319]:
# Überprüfe message_severity von message number=71434

X.loc[X['message_number'] == '71434', "message_severity"].unique()

array(['Error', 'Profinet-Bus angehalten'], dtype=object)

In [320]:
# Überprüfe ob es außer 71434 andere message_numbers gibt, welche auch  'Profinet-Bus angehalten' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Profinet-Bus angehalten', "message_number"].unique()

array(['71434'], dtype=object)

In [321]:
X[X.message_number == '71434'][X.message_severity == 'Profinet-Bus angehalten'] # -> 1 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3672573,2015-08-21 00:06:35,71434,IOCommunication,Profinet-Bus angehalten,NaN,NaN,line_22,cell_6,robot_162

In [322]:
df1['message_severity'] = df1.message_severity.replace({'Profinet-Bus angehalten': 'Error'})

# Überprüfe message_severity von message_number=71434
df1.loc[df1['message_number'] == '71434', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=71431

In [323]:
# Überprüfe message_severity von message number=71431

X.loc[X['message_number'] == '71431', "message_severity"].unique()

array(['Error', 'Konfigurationsaktualisierung wird gerade ausgeführt'],
      dtype=object)

In [324]:
# Überprüfe ob es außer 71431 andere message_numbers gibt, welche auch  'Konfigurationsaktualisierung wird gerade ausgeführt' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Konfigurationsaktualisierung wird gerade ausgeführt', "message_number"].unique()

array(['71431'], dtype=object)

In [325]:
X[X.message_number == '71431'][X.message_severity == 'Konfigurationsaktualisierung wird gerade ausgeführt'] # -> 29 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
2967796,2015-08-19 19:07:51,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_19,cell_14,robot_143
3238729,2015-08-26 00:37:38,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_19,cell_14,robot_142
3668878,2015-08-20 23:44:56,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_22,cell_6,robot_165
3669028,2015-08-20 23:48:23,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_22,cell_6,robot_164
3669293,2015-08-20 23:48:50,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_22,cell_6,robot_166
3669403,2015-08-20 23:54:37,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_22,cell_6,robot_163
3672173,2015-08-21 00:05:47,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_22,cell_6,robot_165
3672371,2015-08-21 00:06:38,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_22,cell_6,robot_164
3672574,2015-08-21 00:06:23,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_22,cell_6,robot_162
3672980,2015-08-21 00:06:24,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_22,cell_6,robot_163
3739264,2015-09-09 03:22:02,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_23,cell_11,robot_175
3739269,2015-09-09 03:19:46,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_23,cell_11,robot_175
3739422,2015-09-09 03:23:34,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_23,cell_11,robot_173
3739677,2015-09-09 03:26:15,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_23,cell_3,robot_168
3740198,2015-09-09 03:31:08,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_23,cell_13,robot_169
3740348,2015-09-09 03:32:14,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_23,cell_13,robot_171
3794969,2015-08-21 03:10:14,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_23,cell_11,robot_172
3795058,2015-08-21 02:42:46,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_23,cell_11,robot_172
3795162,2015-08-21 02:23:04,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_23,cell_11,robot_172
3795577,2015-08-21 00:54:33,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_23,cell_11,robot_172
3795681,2015-08-21 00:37:41,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_23,cell_11,robot_175
3795888,2015-08-21 00:50:24,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_23,cell_3,robot_174
3796131,2015-08-21 00:42:27,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_23,cell_3,robot_170
3796254,2015-08-21 00:49:02,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_23,cell_13,robot_167
3796476,2015-08-21 00:45:59,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_23,cell_13,robot_171
3860104,2015-09-09 03:30:40,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_24,cell_17,robot_178
3913967,2015-08-21 05:28:14,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_24,cell_17,robot_176
3914182,2015-08-21 05:25:24,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_24,cell_17,robot_177
3914615,2015-08-21 05:23:19,71431,IOCommunication,Konfigurationsaktualisierung wird gerade ausge...,NaN,NaN,line_24,cell_14,robot_179

In [326]:
df1['message_severity'] = df1.message_severity.replace({'Konfigurationsaktualisierung wird gerade ausgeführt': 'Error'})

# Überprüfe message_severity von message_number=71431
df1.loc[df1['message_number'] == '71431', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=71433

In [327]:
# Überprüfe message_severity von message number=71433

X.loc[X['message_number'] == '71433', "message_severity"].unique()

array(['Error', 'Kein Kontakt mit der Profinet-PCI-Karte'], dtype=object)

In [328]:
# Überprüfe ob es außer 71433 andere message_numbers gibt, welche auch  'Kein Kontakt mit der Profinet-PCI-Karte' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Kein Kontakt mit der Profinet-PCI-Karte', "message_number"].unique()

array(['71433'], dtype=object)

In [329]:
X[X.message_number == '71433'][X.message_severity == 'Kein Kontakt mit der Profinet-PCI-Karte'] # -> 35 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
2967797,2015-08-19 19:07:35,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_19,cell_14,robot_143
3238730,2015-08-26 00:37:22,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_19,cell_14,robot_142
3668879,2015-08-20 23:44:42,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_22,cell_6,robot_165
3669029,2015-08-20 23:48:10,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_22,cell_6,robot_164
3669295,2015-08-20 23:48:35,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_22,cell_6,robot_166
3669404,2015-08-20 23:54:20,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_22,cell_6,robot_163
3672174,2015-08-21 00:05:34,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_22,cell_6,robot_165
3672372,2015-08-21 00:06:26,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_22,cell_6,robot_164
3672575,2015-08-21 00:06:09,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_22,cell_6,robot_162
3672981,2015-08-21 00:06:09,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_22,cell_6,robot_163
3739243,2015-09-09 03:38:20,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_11,robot_175
3739265,2015-09-09 03:21:32,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_11,robot_175
3739270,2015-09-09 03:19:14,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_11,robot_175
3739423,2015-09-09 03:23:18,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_11,robot_173
3739678,2015-09-09 03:26:00,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_3,robot_168
3739933,2015-09-09 03:27:28,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_3,robot_170
3740199,2015-09-09 03:30:51,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_13,robot_169
3740349,2015-09-09 03:32:01,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_13,robot_171
3794970,2015-08-21 03:09:59,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_11,robot_172
3795059,2015-08-21 02:42:29,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_11,robot_172
3795197,2015-08-21 02:22:48,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_11,robot_172
3795578,2015-08-21 00:54:16,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_11,robot_172
3795682,2015-08-21 00:37:08,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_11,robot_175
3795786,2015-08-21 00:39:22,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_11,robot_173
3795889,2015-08-21 00:50:10,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_3,robot_174
3796012,2015-08-21 00:40:10,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_3,robot_168
3796132,2015-08-21 00:41:57,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_3,robot_170
3796255,2015-08-21 00:48:47,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_13,robot_167
3796369,2015-08-21 00:44:28,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_13,robot_169
3796477,2015-08-21 00:45:45,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_23,cell_13,robot_171
3860069,2015-09-09 03:30:23,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_24,cell_17,robot_178
3913968,2015-08-21 05:27:57,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_24,cell_17,robot_176
3914183,2015-08-21 05:25:11,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_24,cell_17,robot_177
3914404,2015-08-21 05:16:35,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_24,cell_17,robot_178
3914616,2015-08-21 05:23:07,71433,IOCommunication,Kein Kontakt mit der Profinet-PCI-Karte,NaN,NaN,line_24,cell_14,robot_179

In [330]:
df1['message_severity'] = df1.message_severity.replace({'Kein Kontakt mit der Profinet-PCI-Karte': 'Error'})

# Überprüfe message_severity von message_number=71433
df1.loc[df1['message_number'] == '71433', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=50037

In [331]:
# Überprüfe message_severity von message number=50037

X.loc[X['message_number'] == '50037', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20493

In [332]:
# Überprüfe message_severity von message number=20493

X.loc[X['message_number'] == '20493', "message_severity"].unique()

array(['Information', 'SC 1 - SBR ausgelöst '], dtype=object)

In [333]:
# Überprüfe ob es außer 20493 andere message_numbers gibt, welche auch  'SC 1 - SBR ausgelöst ' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'SC 1 - SBR ausgelöst ', "message_number"].unique()

array(['20493'], dtype=object)

In [334]:
X[X.message_number == '20493'][X.message_severity == 'SC 1 - SBR ausgelöst '] # -> 3 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3656319,2015-08-17 11:54:28,20493,System,SC 1 - SBR ausgelöst,NaN,NaN,line_22,cell_6,robot_165
3660326,2015-08-18 20:20:22,20493,System,SC 1 - SBR ausgelöst,NaN,NaN,line_22,cell_6,robot_165
3660362,2015-08-18 13:46:15,20493,System,SC 1 - SBR ausgelöst,NaN,NaN,line_22,cell_6,robot_165

In [335]:
df1['message_severity'] = df1.message_severity.replace({'SC 1 - SBR ausgelöst ': 'Information'})

# Überprüfe message_severity von message_number=20493
df1.loc[df1['message_number'] == '20493', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=40191

In [336]:
# Überprüfe message_severity von message number=40191

X.loc[X['message_number'] == '40191', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=10401

In [337]:
# Überprüfe message_severity von message number=10401

X.loc[X['message_number'] == '10401', "message_severity"].unique()

array(['Information', 'Anwender Safety User abgemeldet'], dtype=object)

In [338]:
# Überprüfe ob es außer 10401 andere message_numbers gibt, welche auch  'Anwender Safety User abgemeldet' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Anwender Safety User abgemeldet', "message_number"].unique()

array(['10401'], dtype=object)

In [339]:
X[X.message_number == '10401'][X.message_severity == 'Anwender Safety User abgemeldet'] # -> 2 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3739857,2015-09-09 04:41:23,10401,Operational,Anwender Safety User abgemeldet,NaN,NaN,line_23,cell_3,robot_170
3876933,2015-10-13 23:18:51,10401,Operational,Anwender Safety User abgemeldet,NaN,NaN,line_24,cell_14,robot_179

In [340]:
df1['message_severity'] = df1.message_severity.replace({'Anwender Safety User abgemeldet': 'Information'})

# Überprüfe message_severity von message_number=10401
df1.loc[df1['message_number'] == '10401', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=20452

In [341]:
# Überprüfe message_severity von message number=20452

X.loc[X['message_number'] == '20452', "message_severity"].unique()

array(['Information', 'SC 1 synchronisiert '], dtype=object)

In [342]:
# Überprüfe ob es außer 20452 andere message_numbers gibt, welche auch  'SC 1 synchronisiert ' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'SC 1 synchronisiert ', "message_number"].unique()

array(['20452'], dtype=object)

In [343]:
X[X.message_number == '20452'][X.message_severity == 'SC 1 synchronisiert '] # -> 2 mal falsch zugeordne

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3739880,2015-09-09 04:38:37,20452,System,SC 1 synchronisiert,NaN,NaN,line_23,cell_3,robot_170
3877041,2015-10-13 22:56:31,20452,System,SC 1 synchronisiert,NaN,NaN,line_24,cell_14,robot_179

In [344]:
df1['message_severity'] = df1.message_severity.replace({'SC 1 synchronisiert ': 'Information'})

# Überprüfe message_severity von message_number=20452
df1.loc[df1['message_number'] == '20452', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=50428

In [345]:
# Überprüfe message_severity von message number=50428

X.loc[X['message_number'] == '50428', "message_severity"].unique()

array(['Information', 'SC Software-Synchronisierung begonnen'],
      dtype=object)

In [346]:
# Überprüfe ob es außer 50428 andere message_numbers gibt, welche auch  'SC Software-Synchronisierung begonnen' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'SC Software-Synchronisierung begonnen', "message_number"].unique()

array(['50428'], dtype=object)

In [347]:
X[X.message_number == '50428'][X.message_severity == 'SC Software-Synchronisierung begonnen'] # -> 2 mal falsch zugeordne

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3739881,2015-09-09 04:38:35,50428,Motion,SC Software-Synchronisierung begonnen,NaN,NaN,line_23,cell_3,robot_170
3877042,2015-10-13 22:56:29,50428,Motion,SC Software-Synchronisierung begonnen,NaN,NaN,line_24,cell_14,robot_179

In [348]:
df1['message_severity'] = df1.message_severity.replace({'SC Software-Synchronisierung begonnen': 'Information'})

# Überprüfe message_severity von message_number=50428
df1.loc[df1['message_number'] == '50428', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=20487

In [349]:
# Überprüfe message_severity von message number=20487

X.loc[X['message_number'] == '20487', "message_severity"].unique()

array(['Error', 'SC 1 - unsynchronisierte Geschwindigkeit überschritten '],
      dtype=object)

In [350]:
# Überprüfe ob es außer 20487 andere message_numbers gibt, welche auch  'SC 1 - unsynchronisierte Geschwindigkeit überschritten 'als message_severity Kategorie haben

X.loc[X['message_severity'] == 'SC 1 - unsynchronisierte Geschwindigkeit überschritten ', "message_number"].unique()

array(['20487'], dtype=object)

In [351]:
X[X.message_number == '20487'][X.message_severity == 'SC 1 - unsynchronisierte Geschwindigkeit überschritten '] # -> 5 mal falsch zugeordne

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3739887,2015-09-09 04:36:33,20487,System,SC 1 - unsynchronisierte Geschwindigkeit übers...,NaN,NaN,line_23,cell_3,robot_170
3877064,2015-10-13 22:53:54,20487,System,SC 1 - unsynchronisierte Geschwindigkeit übers...,NaN,NaN,line_24,cell_14,robot_179
3877068,2015-10-13 22:53:33,20487,System,SC 1 - unsynchronisierte Geschwindigkeit übers...,NaN,NaN,line_24,cell_14,robot_179
3877183,2015-10-13 22:34:29,20487,System,SC 1 - unsynchronisierte Geschwindigkeit übers...,NaN,NaN,line_24,cell_14,robot_179
3877192,2015-10-13 22:32:42,20487,System,SC 1 - unsynchronisierte Geschwindigkeit übers...,NaN,NaN,line_24,cell_14,robot_179

In [352]:
df1['message_severity'] = df1.message_severity.replace({'SC 1 - unsynchronisierte Geschwindigkeit überschritten ': 'Error'})

# Überprüfe message_severity von message_number=20487
df1.loc[df1['message_number'] == '20487', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=10400

In [353]:
# Überprüfe message_severity von message number=10400

X.loc[X['message_number'] == '10400', "message_severity"].unique()

array(['Information', 'Anwender Safety User angemeldet'], dtype=object)

In [354]:
# Überprüfe ob es außer 10400 andere message_numbers gibt, welche auch  'Anwender Safety User angemeldet' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Anwender Safety User angemeldet', "message_number"].unique()

array(['10400'], dtype=object)

In [355]:
X[X.message_number == '10400'][X.message_severity == 'Anwender Safety User angemeldet'] # -> 2 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3739899,2015-09-09 04:27:48,10400,Operational,Anwender Safety User angemeldet,NaN,NaN,line_23,cell_3,robot_170
3877092,2015-10-13 22:50:55,10400,Operational,Anwender Safety User angemeldet,NaN,NaN,line_24,cell_14,robot_179

In [356]:
df1['message_severity'] = df1.message_severity.replace({'Anwender Safety User angemeldet': 'Information'})

# Überprüfe message_severity von message_number=10400
df1.loc[df1['message_number'] == '10400', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=20488

In [357]:
# Überprüfe message_severity von message number=20488

X.loc[X['message_number'] == '20488', "message_severity"].unique()

array(['Warning', 'SC 1 - Zeitlimit für unsynch. Zustand abgelaufen '],
      dtype=object)

In [358]:
# Überprüfe ob es außer 20488 andere message_numbers gibt, welche auch  'SC 1 - Zeitlimit für unsynch. Zustand abgelaufen ' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Anwender Safety User angemeldet', "message_number"].unique()

array(['10400'], dtype=object)

In [359]:
X[X.message_number == '20488'][X.message_severity == 'SC 1 - Zeitlimit für unsynch. Zustand abgelaufen '] # -> 1 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3877132,2015-10-13 22:45:42,20488,System,SC 1 - Zeitlimit für unsynch. Zustand abgelaufen,NaN,NaN,line_24,cell_14,robot_179

In [360]:
df1['message_severity'] = df1.message_severity.replace({'SC 1 - Zeitlimit für unsynch. Zustand abgelaufen ': 'Warning'})

# Überprüfe message_severity von message_number=20488
df1.loc[df1['message_number'] == '20488', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=20451

In [361]:
# Überprüfe message_severity von message number=20451

X.loc[X['message_number'] == '20451', "message_severity"].unique()

array(['Error', 'SC 1 nicht synchronisiert '], dtype=object)

In [362]:
# Überprüfe ob es außer 20451 andere message_numbers gibt, welche auch  'SC 1 nicht synchronisiert ' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'SC 1 nicht synchronisiert ', "message_number"].unique()

array(['20451'], dtype=object)

In [363]:
X[X.message_number == '20451'][X.message_severity == 'SC 1 nicht synchronisiert '] # -> 3 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3739910,2015-09-09 03:34:39,20451,System,SC 1 nicht synchronisiert,NaN,NaN,line_23,cell_3,robot_170
3877110,2015-10-13 22:47:57,20451,System,SC 1 nicht synchronisiert,NaN,NaN,line_24,cell_14,robot_179
3877207,2015-10-13 22:29:52,20451,System,SC 1 nicht synchronisiert,NaN,NaN,line_24,cell_14,robot_179

In [364]:
df1['message_severity'] = df1.message_severity.replace({'SC 1 nicht synchronisiert ': 'Error'})

# Überprüfe message_severity von message_number=20451
df1.loc[df1['message_number'] == '20451', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20454

In [365]:
# Überprüfe message_severity von message number=20454

X.loc[X['message_number'] == '20454', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20458

In [366]:
# Überprüfe message_severity von message number=20458

X.loc[X['message_number'] == '20458', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=37054

In [367]:
# Überprüfe message_severity von message number=37054

X.loc[X['message_number'] == '37054', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=20241

In [368]:
# Überprüfe message_severity von message number=20241

X.loc[X['message_number'] == '20241', "message_severity"].unique()

array(['Error', 'Konflikt Betriebsart'], dtype=object)

In [369]:
# Überprüfe ob es außer 20241 andere message_numbers gibt, welche auch  'Konflikt Betriebsart' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Konflikt Betriebsart', "message_number"].unique()

array(['20241'], dtype=object)

In [370]:
X[X.message_number == '20241'][X.message_severity == 'Konflikt Betriebsart'] # -> 1 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3873306,2015-10-12 02:14:32,20241,System,Konflikt Betriebsart,NaN,NaN,line_24,cell_14,robot_179

In [371]:
df1['message_severity'] = df1.message_severity.replace({'Konflikt Betriebsart': 'Error'})

# Überprüfe message_severity von message_number=20241
df1.loc[df1['message_number'] == '20241', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=80001

In [372]:
# Überprüfe message_severity von message number=80001

X.loc[X['message_number'] == '80001', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=41630

In [373]:
# Überprüfe message_severity von message number=41630

X.loc[X['message_number'] == '41630', "message_severity"].unique()

array(['Warning', 'Unsichere Synchronisierung'], dtype=object)

In [374]:
# Überprüfe ob es außer 41630 andere message_numbers gibt, welche auch  'Unsichere Synchronisierung' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Unsichere Synchronisierung', "message_number"].unique()

array(['41630'], dtype=object)

In [375]:
X[X.message_number == '41630'][X.message_severity == 'Unsichere Synchronisierung'] # -> 129 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
1010906,2015-08-17 22:42:33,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1010907,2015-08-17 22:42:33,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1010919,2015-08-17 21:57:00,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1010920,2015-08-17 21:57:00,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1010921,2015-08-17 21:22:47,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1010922,2015-08-17 21:22:47,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1010923,2015-08-17 21:22:47,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1010926,2015-08-17 21:20:40,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1010990,2015-08-17 12:58:16,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1010991,2015-08-17 12:58:16,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1011008,2015-08-17 09:16:47,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1011009,2015-08-17 09:16:47,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1011020,2015-08-17 06:11:56,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1011021,2015-08-17 06:11:56,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1011022,2015-08-17 06:11:56,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1011024,2015-08-17 06:09:49,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1025864,2015-05-18 16:18:04,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1025865,2015-05-18 16:18:04,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1025870,2015-05-18 12:58:49,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1025871,2015-05-18 12:58:49,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1025889,2015-05-18 09:47:51,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1025890,2015-05-18 09:47:51,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1025891,2015-05-18 09:47:51,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1025892,2015-05-18 09:45:45,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1025899,2015-05-18 06:18:44,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1033045,2015-08-18 22:38:15,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1033047,2015-08-18 22:38:14,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1033068,2015-08-18 21:36:39,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1033069,2015-08-18 21:36:38,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1033080,2015-08-18 18:51:28,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
...,...,...,...,...,...,...,...,...,...
1084746,2015-08-21 13:41:39,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1084748,2015-08-21 13:41:39,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1094166,2015-05-22 21:41:49,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1094167,2015-05-22 21:41:49,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1094180,2015-05-22 12:49:12,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1094181,2015-05-22 12:49:12,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1094184,2015-05-22 09:23:38,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1094185,2015-05-22 09:23:38,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1094186,2015-05-22 09:23:38,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1094187,2015-05-22 09:21:32,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1099559,2015-08-22 18:51:33,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1099560,2015-08-22 18:51:33,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1099561,2015-08-22 18:51:33,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1099564,2015-08-22 18:49:24,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1109841,2015-08-23 18:51:35,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1109842,2015-08-23 18:51:35,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1109843,2015-08-23 18:51:35,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1109846,2015-08-23 18:49:24,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1118657,2015-08-24 22:02:40,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1118658,2015-08-24 22:02:40,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1118669,2015-08-24 21:39:41,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1118670,2015-08-24 21:39:40,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1118671,2015-08-24 21:34:01,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1118672,2015-08-24 21:34:01,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1118673,2015-08-24 21:34:01,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1118676,2015-08-24 21:31:51,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1118704,2015-08-24 13:35:04,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1118705,2015-08-24 13:35:04,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1118770,2015-08-24 07:36:40,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91
1118771,2015-08-24 07:36:40,41630,Program,Unsichere Synchronisierung,NaN,NaN,line_4,cell_18,robot_91

In [376]:
df1['message_severity'] = df1.message_severity.replace({'Unsichere Synchronisierung': 'Warning'})

# Überprüfe message_severity von message_number=41630
df1.loc[df1['message_number'] == '41630', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=41496

In [377]:
# Überprüfe message_severity von message number=41496

X.loc[X['message_number'] == '41496', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=41499

In [378]:
# Überprüfe message_severity von message number=41499

X.loc[X['message_number'] == '41499', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20245

In [379]:
# Überprüfe message_severity von message number=20245

X.loc[X['message_number'] == '20245', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=10099

In [380]:
# Überprüfe message_severity von message number=10099

X.loc[X['message_number'] == '10099', "message_severity"].unique()

array(['Warning', 'Programmstart abgewiesen'], dtype=object)

In [381]:
# Überprüfe ob es außer 41496 andere message_numbers gibt, welche auch  'Programmstart abgewiesen' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Programmstart abgewiesen', "message_number"].unique()

array(['10099'], dtype=object)

In [382]:
X[X.message_number == '10099'][X.message_severity == 'Programmstart abgewiesen'] # -> 1 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3786534,2015-10-19 06:17:28,10099,Operational,Programmstart abgewiesen,NaN,NaN,line_23,cell_13,robot_167

In [383]:
df1['message_severity'] = df1.message_severity.replace({'Programmstart abgewiesen': 'Warning'})

# Überprüfe message_severity von message_number=10099
df1.loc[df1['message_number'] == '10099', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=50056

In [384]:
# Überprüfe message_severity von message number=50056

X.loc[X['message_number'] == '50056', "message_severity"].unique()

array(['Error', 'Achskollision'], dtype=object)

In [385]:
# Überprüfe ob es außer 50056 andere message_numbers gibt, welche auch  'Achskollision' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Achskollision', "message_number"].unique()

array(['50056'], dtype=object)

In [386]:
X[X.message_number == '50056'][X.message_severity == 'Achskollision'] # -> 20 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
1118403,2015-08-24 06:53:21,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118409,2015-08-24 06:52:36,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118415,2015-08-24 06:52:25,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118423,2015-08-24 06:51:47,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118429,2015-08-24 06:50:51,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118438,2015-08-24 06:50:16,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118444,2015-08-24 06:49:33,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118453,2015-08-24 06:48:32,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118460,2015-08-24 06:48:21,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118465,2015-08-24 06:47:40,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118471,2015-08-24 06:47:28,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118477,2015-08-24 06:46:26,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118487,2015-08-24 06:40:00,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118493,2015-08-24 06:39:46,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118510,2015-08-24 06:36:32,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118519,2015-08-24 06:33:00,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118526,2015-08-24 06:32:41,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118531,2015-08-24 06:32:11,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118542,2015-08-24 06:31:00,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90
1118647,2015-08-24 05:56:17,50056,Motion,Achskollision,NaN,NaN,line_4,cell_3,robot_90

In [387]:
df1['message_severity'] = df1.message_severity.replace({'Achskollision': 'Error'})

# Überprüfe message_severity von message_number=50056
df1.loc[df1['message_number'] == '50056', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20315

In [388]:
# Überprüfe message_severity von message number=20315

X.loc[X['message_number'] == '20315', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=10213

In [389]:
# Überprüfe message_severity von message number=10213

X.loc[X['message_number'] == '10213', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=20213

In [390]:
# Überprüfe message_severity von message number=20213

X.loc[X['message_number'] == '20213', "message_severity"].unique()

array(['Error', 'Zwei-Kanal-Fehler'], dtype=object)

In [391]:
# Überprüfe ob es außer 20213 andere message_numbers gibt, welche auch  'Zwei-Kanal-Fehler' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Zwei-Kanal-Fehler', "message_number"].unique()

array(['20213'], dtype=object)

In [392]:
X[X.message_number == '20213'][X.message_severity == 'Zwei-Kanal-Fehler'] # -> 1 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3873307,2015-10-12 02:14:30,20213,System,Zwei-Kanal-Fehler,NaN,NaN,line_24,cell_14,robot_179

In [393]:
df1['message_severity'] = df1.message_severity.replace({'Zwei-Kanal-Fehler': 'Error'})

# Überprüfe message_severity von message_number=20213
df1.loc[df1['message_number'] == '20213', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20204

In [394]:
# Überprüfe message_severity von message number=20204

X.loc[X['message_number'] == '20204', "message_severity"].unique()

array(['Error', 'Ungleichgewicht Schlüsselschalterkreise'], dtype=object)

In [395]:
# Überprüfe ob es außer 20204 andere message_numbers gibt, welche auch  'Ungleichgewicht Schlüsselschalterkreise' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Ungleichgewicht Schlüsselschalterkreise', "message_number"].unique()

array(['20204'], dtype=object)

In [396]:
X[X.message_number == '20204'][X.message_severity == 'Ungleichgewicht Schlüsselschalterkreise'] # -> 1 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3873308,2015-10-12 02:14:30,20204,System,Ungleichgewicht Schlüsselschalterkreise,NaN,NaN,line_24,cell_14,robot_179

In [397]:
df1['message_severity'] = df1.message_severity.replace({'Ungleichgewicht Schlüsselschalterkreise': 'Error'})

# Überprüfe message_severity von message_number=20204
df1.loc[df1['message_number'] == '20204', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=50065

In [398]:
# Überprüfe message_severity von message number=50065

X.loc[X['message_number'] == '50065', "message_severity"].unique()

array(['Error', 'Kinematikfehler'], dtype=object)

In [399]:
# Überprüfe ob es außer 50065 andere message_numbers gibt, welche auch  'Kinematikfehler' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Kinematikfehler', "message_number"].unique()

array(['50065'], dtype=object)

In [400]:
X[X.message_number == '50065'][X.message_severity == 'Kinematikfehler'] # -> 1 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3877294,2015-10-13 21:14:36,50065,Motion,Kinematikfehler,NaN,NaN,line_24,cell_14,robot_179

In [401]:
df1['message_severity'] = df1.message_severity.replace({'Kinematikfehler': 'Error'})

# Überprüfe message_severity von message_number=50065
df1.loc[df1['message_number'] == '50065', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=40634

In [402]:
# Überprüfe message_severity von message number=40634

X.loc[X['message_number'] == '40634', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=10106

In [403]:
# Überprüfe message_severity von message number=10106

X.loc[X['message_number'] == '10106', "message_severity"].unique()

array(['Error', 'Wartungsmeldung'], dtype=object)

In [404]:
# Überprüfe ob es außer 10106 andere message_numbers gibt, welche auch  'Wartungsmeldung' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Wartungsmeldung', "message_number"].unique()

array(['10106'], dtype=object)

In [405]:
X[X.message_number == '10106'][X.message_severity == 'Wartungsmeldung'] # -> 2 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
2967772,2015-08-19 19:11:13,10106,Operational,Wartungsmeldung,NaN,NaN,line_19,cell_14,robot_143
3236673,2015-08-26 18:38:48,10106,Operational,Wartungsmeldung,NaN,NaN,line_19,cell_14,robot_143

In [406]:
df1['message_severity'] = df1.message_severity.replace({'Wartungsmeldung': 'Error'})

# Überprüfe message_severity von message_number=10106
df1.loc[df1['message_number'] == '10106', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=40738

In [407]:
# Überprüfe message_severity von message number=40738

X.loc[X['message_number'] == '40738', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=10067

In [408]:
# Überprüfe message_severity von message number=10067

X.loc[X['message_number'] == '10067', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20127

In [409]:
# Überprüfe message_severity von message number=20127

X.loc[X['message_number'] == '20127', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=40354

In [410]:
# Überprüfe message_severity von message number=40354

X.loc[X['message_number'] == '40354', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=41676

In [411]:
# Überprüfe message_severity von message number=41676

X.loc[X['message_number'] == '41676', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=40151

In [412]:
# Überprüfe message_severity von message number=40151

X.loc[X['message_number'] == '40151', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=10032

In [413]:
# Überprüfe message_severity von message number=10032

X.loc[X['message_number'] == '10032', "message_severity"].unique()

array(['Information', 'Alle Umdrehungszähler aktualisiert'], dtype=object)

In [414]:
# Überprüfe ob es außer 10032 andere message_numbers gibt, welche auch  'Alle Umdrehungszähler aktualisiert' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Alle Umdrehungszähler aktualisiert', "message_number"].unique()

array(['10032'], dtype=object)

In [415]:
X[X.message_number == '10032'][X.message_severity == 'Alle Umdrehungszähler aktualisiert'] # -> 2 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3739888,2015-09-09 04:36:33,10032,Operational,Alle Umdrehungszähler aktualisiert,NaN,NaN,line_23,cell_3,robot_170
3877182,2015-10-13 22:34:39,10032,Operational,Alle Umdrehungszähler aktualisiert,NaN,NaN,line_24,cell_14,robot_179

In [416]:
df1['message_severity'] = df1.message_severity.replace({'Alle Umdrehungszähler aktualisiert': 'Information'})

# Überprüfe message_severity von message_number=10032
df1.loc[df1['message_number'] == '10032', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=20032

In [417]:
# Überprüfe message_severity von message number=20032

X.loc[X['message_number'] == '20032', "message_severity"].unique()

array(['Error', 'Umdr.-Zähler nicht aktualisiert'], dtype=object)

In [418]:
# Überprüfe ob es außer 20032 andere message_numbers gibt, welche auch  'Umdr.-Zähler nicht aktualisiert' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Umdr.-Zähler nicht aktualisiert', "message_number"].unique()

array(['20032'], dtype=object)

In [419]:
X[X.message_number == '20032'][X.message_severity == 'Umdr.-Zähler nicht aktualisiert'] # -> 8 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3739894,2015-09-09 04:28:19,20032,System,Umdr.-Zähler nicht aktualisiert,NaN,NaN,line_23,cell_3,robot_170
3739902,2015-09-09 04:26:43,20032,System,Umdr.-Zähler nicht aktualisiert,NaN,NaN,line_23,cell_3,robot_170
3739926,2015-09-09 03:34:36,20032,System,Umdr.-Zähler nicht aktualisiert,NaN,NaN,line_23,cell_3,robot_170
3877186,2015-10-13 22:33:43,20032,System,Umdr.-Zähler nicht aktualisiert,NaN,NaN,line_24,cell_14,robot_179
3877190,2015-10-13 22:32:48,20032,System,Umdr.-Zähler nicht aktualisiert,NaN,NaN,line_24,cell_14,robot_179
3877195,2015-10-13 22:32:31,20032,System,Umdr.-Zähler nicht aktualisiert,NaN,NaN,line_24,cell_14,robot_179
3877200,2015-10-13 22:32:10,20032,System,Umdr.-Zähler nicht aktualisiert,NaN,NaN,line_24,cell_14,robot_179
3877211,2015-10-13 22:29:50,20032,System,Umdr.-Zähler nicht aktualisiert,NaN,NaN,line_24,cell_14,robot_179

In [420]:
df1['message_severity'] = df1.message_severity.replace({'Umdr.-Zähler nicht aktualisiert': 'Error'})

# Überprüfe message_severity von message_number=20032
df1.loc[df1['message_number'] == '20032', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=50091

In [421]:
# Überprüfe message_severity von message number=50091

X.loc[X['message_number'] == '50091', "message_severity"].unique()

array(['Error', 'Neustart nicht möglich'], dtype=object)

In [422]:
# Überprüfe ob es außer 50091 andere message_numbers gibt, welche auch  'Neustart nicht möglich' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Neustart nicht möglich', "message_number"].unique()

array(['10091', '50091'], dtype=object)

In [423]:
X[X.message_number == '50091'][X.message_severity == 'Neustart nicht möglich'] # -> 1 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3877209,2015-10-13 22:29:50,50091,Motion,Neustart nicht möglich,NaN,NaN,line_24,cell_14,robot_179

In [424]:
# Überprüfe message_severity von message number=10091

X.loc[X['message_number'] == '10091', "message_severity"].unique()

array(['Warning', 'Neustart nicht möglich'], dtype=object)

In [425]:
X[X.message_number == '10091'][X.message_severity == 'Neustart nicht möglich'] # -> 1 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
1118632,2015-08-24 06:14:05,10091,Operational,Neustart nicht möglich,NaN,NaN,line_4,cell_3,robot_90

In [426]:
# Korregiere die message_severity-Wert von 50091
df1.loc[df1['message_number'] == '50091', 'message_severity'] = 'Error'

In [427]:
# Überprüfe die Korrektur
df1[df1.message_number == '50091']

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
780360,2016-06-29 10:21:19,50091,Motion,Error,NaN,NaN,line_12,cell_17,robot_85
1933122,2016-07-05 13:24:42,50091,Motion,Error,NaN,NaN,line_15,cell_19,robot_116
3877209,2015-10-13 22:29:50,50091,Motion,Error,NaN,NaN,line_24,cell_14,robot_179
3958751,2016-07-05 12:43:36,50091,Motion,Error,NaN,NaN,line_26,cell_13,robot_183

In [428]:
# Korregiere die message_severity-Wert von 10091
df1.loc[df1['message_number'] == '10091', 'message_severity'] = 'Warning'

In [429]:
# Überprüfe die Korrektur
df1[df1.message_number == '10091']

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
914481,2015-10-11 14:19:47,10091,Operational,Warning,NaN,NaN,line_4,cell_11,robot_88
1118632,2015-08-24 06:14:05,10091,Operational,Warning,NaN,NaN,line_4,cell_3,robot_90
1972188,2016-06-22 22:08:44,10091,Operational,Warning,NaN,NaN,line_15,cell_6,robot_121
1972246,2016-06-22 22:06:09,10091,Operational,Warning,NaN,NaN,line_15,cell_6,robot_121
1972257,2016-06-22 22:05:38,10091,Operational,Warning,NaN,NaN,line_15,cell_6,robot_121
1972263,2016-06-22 22:05:36,10091,Operational,Warning,NaN,NaN,line_15,cell_6,robot_121
3872398,2016-07-12 10:34:47,10091,Operational,Warning,NaN,NaN,line_24,cell_17,robot_176

# message_number=10036

In [430]:
# Überprüfe message_severity von message number=10036

X.loc[X['message_number'] == '10036', "message_severity"].unique()

array(['Information', 'Umdrehungszähler nicht aktualisiert'], dtype=object)

In [431]:
# Überprüfe ob es außer 10036 andere message_numbers gibt, welche auch  'Umdrehungszähler nicht aktualisiert' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Umdrehungszähler nicht aktualisiert', "message_number"].unique()

array(['10036'], dtype=object)

In [432]:
X[X.message_number == '10036'][X.message_severity == 'Umdrehungszähler nicht aktualisiert'] # -> 2 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3739924,2015-09-09 03:34:36,10036,Operational,Umdrehungszähler nicht aktualisiert,NaN,NaN,line_23,cell_3,robot_170
3877210,2015-10-13 22:29:50,10036,Operational,Umdrehungszähler nicht aktualisiert,NaN,NaN,line_24,cell_14,robot_179

In [433]:
df1['message_severity'] = df1.message_severity.replace({'Umdrehungszähler nicht aktualisiert': 'Information'})

# Überprüfe message_severity von message_number=10036
df1.loc[df1['message_number'] == '10036', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=50057

In [434]:
# Überprüfe message_severity von message number=50057

X.loc[X['message_number'] == '50057', "message_severity"].unique()

array(['Error', 'Achse nicht synchron'], dtype=object)

In [435]:
# Überprüfe ob es außer 50057 andere message_numbers gibt, welche auch  'Achse nicht synchron' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Achse nicht synchron', "message_number"].unique()

array(['50057'], dtype=object)

In [436]:
X[X.message_number == '50057'][X.message_severity == 'Achse nicht synchron'] # -> 2 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3739927,2015-09-09 03:34:34,50057,Motion,Achse nicht synchron,NaN,NaN,line_23,cell_3,robot_170
3877168,2015-10-13 22:29:47,50057,Motion,Achse nicht synchron,NaN,NaN,line_24,cell_14,robot_179

In [437]:
df1['message_severity'] = df1.message_severity.replace({'Achse nicht synchron': 'Error'})

# Überprüfe message_severity von message_number=50057
df1.loc[df1['message_number'] == '50057', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=41638

In [438]:
# Überprüfe message_severity von message number=41638

X.loc[X['message_number'] == '41638', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=38101

In [439]:
# Überprüfe message_severity von message number=38101

X.loc[X['message_number'] == '38101', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=38209

In [440]:
# Überprüfe message_severity von message number=38209

X.loc[X['message_number'] == '38209', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20455

In [441]:
# Überprüfe message_severity von message number=20455

X.loc[X['message_number'] == '20455', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=10172

In [442]:
# Überprüfe message_severity von message number=10172

X.loc[X['message_number'] == '10172', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=10014

In [443]:
# Überprüfe message_severity von message number=10014

X.loc[X['message_number'] == '10014', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=20137

In [444]:
# Überprüfe message_severity von message number=20137

X.loc[X['message_number'] == '20137', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=41557

In [445]:
# Überprüfe message_severity von message number=41557

X.loc[X['message_number'] == '41557', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=50140

In [446]:
# Überprüfe message_severity von message number=50140

X.loc[X['message_number'] == '50140', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20148

In [447]:
# Überprüfe message_severity von message number=20148

X.loc[X['message_number'] == '20148', "message_severity"].unique()

array(['Warning', 'Bestätigung abgelehnt'], dtype=object)

In [448]:
# Überprüfe ob es außer 20148 andere message_numbers gibt, welche auch  'Bestätigung abgelehnt' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Bestätigung abgelehnt', "message_number"].unique()

array(['20148'], dtype=object)

In [449]:
X[X.message_number == '20148'][X.message_severity == 'Bestätigung abgelehnt'] # -> 30 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3915385,2015-10-21 06:43:15,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915386,2015-10-21 06:43:11,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915387,2015-10-21 06:43:10,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915388,2015-10-21 06:43:09,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915389,2015-10-21 06:43:05,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915390,2015-10-21 06:43:04,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915391,2015-10-21 06:43:03,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915392,2015-10-21 06:43:02,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915393,2015-10-21 06:42:56,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915394,2015-10-21 06:42:55,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915395,2015-10-21 06:42:54,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915396,2015-10-21 06:42:53,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915397,2015-10-21 06:42:51,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915398,2015-10-21 06:42:50,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915399,2015-10-21 06:42:49,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915400,2015-10-21 06:42:48,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915401,2015-10-21 06:42:47,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915402,2015-10-21 06:42:46,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915403,2015-10-21 06:42:45,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915404,2015-10-21 06:42:44,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915405,2015-10-21 06:42:43,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915406,2015-10-21 06:42:42,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915407,2015-10-21 06:42:41,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915408,2015-10-21 06:42:40,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915409,2015-10-21 06:42:09,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915410,2015-10-21 06:42:08,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915411,2015-10-21 06:42:07,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915412,2015-10-21 06:42:06,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915413,2015-10-21 06:42:04,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176
3915414,2015-10-21 06:42:03,20148,System,Bestätigung abgelehnt,NaN,NaN,line_24,cell_17,robot_176

In [450]:
df1['message_severity'] = df1.message_severity.replace({'Bestätigung abgelehnt': 'Warning'})

# Überprüfe message_severity von message_number=20148
df1.loc[df1['message_number'] == '20148', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=10171

In [451]:
# Überprüfe message_severity von message number=10171

X.loc[X['message_number'] == '10171', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=40162

In [452]:
# Überprüfe message_severity von message number=40162

X.loc[X['message_number'] == '40162', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=10042

In [453]:
# Überprüfe message_severity von message number=10042

X.loc[X['message_number'] == '10042', "message_severity"].unique()

array(['Information'], dtype=object)

# message_number=40322

In [454]:
# Überprüfe message_severity von message number=40322

X.loc[X['message_number'] == '40322', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=71435

In [455]:
# Überprüfe message_severity von message number=71435

X.loc[X['message_number'] == '71435', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=71440

In [456]:
# Überprüfe message_severity von message number=71440

X.loc[X['message_number'] == '71440', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=50298

In [457]:
# Überprüfe message_severity von message number=50298

X.loc[X['message_number'] == '50298', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=20193

In [458]:
# Überprüfe message_severity von message number=20193

X.loc[X['message_number'] == '20193', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=34402

In [459]:
# Überprüfe message_severity von message number=34402

X.loc[X['message_number'] == '34402', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=34401

In [460]:
# Überprüfe message_severity von message number=34401

X.loc[X['message_number'] == '34401', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=20254

In [461]:
# Überprüfe message_severity von message number=20254

X.loc[X['message_number'] == '20254', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=10098

In [462]:
# Überprüfe message_severity von message number=10098

X.loc[X['message_number'] == '10098', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=38104

In [463]:
# Überprüfe message_severity von message number=38104

X.loc[X['message_number'] == '38104', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=38103

In [464]:
# Überprüfe message_severity von message number=38103

X.loc[X['message_number'] == '38103', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=50021

In [465]:
# Überprüfe message_severity von message number=50021

X.loc[X['message_number'] == '50021', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=50430

In [466]:
# Überprüfe message_severity von message number=50430

X.loc[X['message_number'] == '50430', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=39520

In [467]:
# Überprüfe message_severity von message number=39520

X.loc[X['message_number'] == '39520', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20310

In [468]:
# Überprüfe message_severity von message number=20310

X.loc[X['message_number'] == '20310', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=41637

In [469]:
# Überprüfe message_severity von message number=41637

X.loc[X['message_number'] == '41637', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=10061

In [470]:
# Überprüfe message_severity von message number=10061

X.loc[X['message_number'] == '10061', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=10062

In [471]:
# Überprüfe message_severity von message number=10062

X.loc[X['message_number'] == '10062', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=41497

In [472]:
# Überprüfe message_severity von message number=41497

X.loc[X['message_number'] == '41497', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=40708

In [473]:
# Überprüfe message_severity von message number=40708

X.loc[X['message_number'] == '40708', "message_severity"].unique()

array(['Warning', 'E/A-Einheit nicht aktiviert'], dtype=object)

In [474]:
# Überprüfe ob es außer 40708 andere message_numbers gibt, welche auch  'E/A-Einheit nicht aktiviert' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'E/A-Einheit nicht aktiviert', "message_number"].unique()

array(['40708'], dtype=object)

In [475]:
X[X.message_number == '40708'][X.message_severity == 'E/A-Einheit nicht aktiviert'] # -> 10 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3794959,2015-08-21 03:12:09,40708,Program,E/A-Einheit nicht aktiviert,NaN,NaN,line_23,cell_11,robot_172
3794972,2015-08-21 03:03:12,40708,Program,E/A-Einheit nicht aktiviert,NaN,NaN,line_23,cell_11,robot_172
3795157,2015-08-21 02:28:45,40708,Program,E/A-Einheit nicht aktiviert,NaN,NaN,line_23,cell_11,robot_172
3795159,2015-08-21 02:28:28,40708,Program,E/A-Einheit nicht aktiviert,NaN,NaN,line_23,cell_11,robot_172
3795161,2015-08-21 02:28:22,40708,Program,E/A-Einheit nicht aktiviert,NaN,NaN,line_23,cell_11,robot_172
3795414,2015-08-21 01:57:47,40708,Program,E/A-Einheit nicht aktiviert,NaN,NaN,line_23,cell_11,robot_172
3795465,2015-08-21 01:50:29,40708,Program,E/A-Einheit nicht aktiviert,NaN,NaN,line_23,cell_11,robot_172
3795487,2015-08-21 01:25:00,40708,Program,E/A-Einheit nicht aktiviert,NaN,NaN,line_23,cell_11,robot_172
3795509,2015-08-21 01:21:18,40708,Program,E/A-Einheit nicht aktiviert,NaN,NaN,line_23,cell_11,robot_172
3795560,2015-08-21 01:00:50,40708,Program,E/A-Einheit nicht aktiviert,NaN,NaN,line_23,cell_11,robot_172

In [476]:
df1['message_severity'] = df1.message_severity.replace({'E/A-Einheit nicht aktiviert': 'Warning'})

# Überprüfe message_severity von message_number=40708
df1.loc[df1['message_number'] == '40708', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=20223

In [477]:
# Überprüfe message_severity von message number=20223

X.loc[X['message_number'] == '20223', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=71405

In [478]:
# Überprüfe message_severity von message number=71405

X.loc[X['message_number'] == '71405', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=41472

In [479]:
# Überprüfe message_severity von message number=41472

X.loc[X['message_number'] == '41472', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=41632

In [480]:
# Überprüfe message_severity von message number=41632

X.loc[X['message_number'] == '41632', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=50288

In [481]:
# Überprüfe message_severity von message number=50288

X.loc[X['message_number'] == '50288', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=40611

In [482]:
# Überprüfe message_severity von message number=40611

X.loc[X['message_number'] == '40611', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=11223

In [483]:
# Überprüfe message_severity von message number=11223

X.loc[X['message_number'] == '11223', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=110811

In [484]:
# Überprüfe message_severity von message number=110811

X.loc[X['message_number'] == '110811', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20484

In [485]:
# Überprüfe message_severity von message number=20484

X.loc[X['message_number'] == '20484', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=40713

In [486]:
# Überprüfe message_severity von message number=40713

X.loc[X['message_number'] == '40713', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=40355

In [487]:
# Überprüfe message_severity von message number=40355

X.loc[X['message_number'] == '40355', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=10211

In [488]:
# Überprüfe message_severity von message number=10211

X.loc[X['message_number'] == '10211', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=50027

In [489]:
# Überprüfe message_severity von message number=50027

X.loc[X['message_number'] == '50027', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=110812

In [490]:
# Überprüfe message_severity von message number=110812

X.loc[X['message_number'] == '110812', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20266

In [491]:
# Überprüfe message_severity von message number=20266

X.loc[X['message_number'] == '20266', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=40797

In [492]:
# Überprüfe message_severity von message number=40797

X.loc[X['message_number'] == '40797', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20450

In [493]:
# Überprüfe message_severity von message number=20450

X.loc[X['message_number'] == '20450', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=20486

In [494]:
# Überprüfe message_severity von message number=20486

X.loc[X['message_number'] == '20486', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=40702

In [495]:
# Überprüfe message_severity von message number=40702

X.loc[X['message_number'] == '40702', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=11022

In [496]:
# Überprüfe message_severity von message number=11022

X.loc[X['message_number'] == '11022', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=40709

In [497]:
# Überprüfe message_severity von message number=40709

X.loc[X['message_number'] == '40709', "message_severity"].unique()

array(['E/A-Einheit nicht deaktiviert', 'Warning'], dtype=object)

In [498]:
# Überprüfe ob es außer 40709 andere message_numbers gibt, welche auch  'E/A-Einheit nicht deaktiviert' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'E/A-Einheit nicht aktiviert', "message_number"].unique()

array(['40708'], dtype=object)

In [499]:
X[X.message_number == '40709'][X.message_severity == 'E/A-Einheit nicht deaktiviert'] # -> 1 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3795062,2015-08-21 02:35:13,40709,Program,E/A-Einheit nicht deaktiviert,NaN,NaN,line_23,cell_11,robot_172

In [500]:
df1['message_severity'] = df1.message_severity.replace({'E/A-Einheit nicht deaktiviert': 'Warning'})

# Überprüfe message_severity von message_number=40709
df1.loc[df1['message_number'] == '40709', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=50042

In [501]:
# Überprüfe message_severity von message number=50042

X.loc[X['message_number'] == '50042', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=37230

In [502]:
# Überprüfe message_severity von message number=37230

X.loc[X['message_number'] == '37230', "message_severity"].unique()

array(['Warnung Bremsenleistung'], dtype=object)

In [503]:
# Überprüfe ob es außer 37230 andere message_numbers gibt, welche auch  'Warnung Bremsenleistung' als message_severity Kategorie haben

X.loc[X['message_severity'] == 'Warnung Bremsenleistung', "message_number"].unique()

array(['37230'], dtype=object)

In [504]:
X[X.message_number == '37230'][X.message_severity == 'Warnung Bremsenleistung'] # -> 1 mal falsch zugeordnet

D:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,event_timestamp,message_number,message_category,message_severity,an_title,an_description,an_line,an_cell,an_robot
3869042,2015-10-11 18:46:58,37230,Hardware,Warnung Bremsenleistung,NaN,NaN,line_24,cell_14,robot_179

In [505]:
df1['message_severity'] = df1.message_severity.replace({'Warnung Bremsenleistung': 'Warning'})

# Überprüfe message_severity von message_number=37230
df1.loc[df1['message_number'] == '37230', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=40706

In [506]:
# Überprüfe message_severity von message number=40706

X.loc[X['message_number'] == '40706', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=40528

In [507]:
# Überprüfe message_severity von message number=40528

X.loc[X['message_number'] == '40528', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=41687

In [508]:
# Überprüfe message_severity von message number=41687

X.loc[X['message_number'] == '41687', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=20105

In [509]:
# Überprüfe message_severity von message number=20105

X.loc[X['message_number'] == '20105', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=32530

In [510]:
# Überprüfe message_severity von message number=32530

X.loc[X['message_number'] == '32530', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=41451

In [511]:
# Überprüfe message_severity von message number=41451

X.loc[X['message_number'] == '41451', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=41617

In [512]:
# Überprüfe message_severity von message number=41617

X.loc[X['message_number'] == '41617', "message_severity"].unique()

array(['Warning'], dtype=object)

# messadge_number=37050

In [513]:
# Überprüfe message_severity von message number=37050

X.loc[X['message_number'] == '37050', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=37070

In [514]:
# Überprüfe message_severity von message number=37070

X.loc[X['message_number'] == '37070', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=34307

In [515]:
# Überprüfe message_severity von message number=34307

X.loc[X['message_number'] == '34307', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=34316

In [516]:
# Überprüfe message_severity von message number=34316

X.loc[X['message_number'] == '34316', "message_severity"].unique()

array(['Error'], dtype=object)

# message_number=34303

In [517]:
# Überprüfe message_severity von message number=34303

X.loc[X['message_number'] == '34303', "message_severity"].unique()

array(['Warning'], dtype=object)

# message_number=20453

In [518]:
# Überprüfe message_severity von message number=20453

X.loc[X['message_number'] == '20453', "message_severity"].unique()

array(['Warning'], dtype=object)

In [519]:
df1['message_severity'].unique()

array(['Information', 'Warning', 'Error',
       'Alarm der Profinet-E/A-Einheit',
       'Automatik-Sicherheitshalt offen', 'Befehl nicht zulässig',
       'Wiederanfahren fertig', 'Wiederanfahren gestartet',
       'Backup-Schritt fertig', 'Programm neu gestartet',
       ' Schweißsteuerung Fehler!! ', ' Schweißzangen Fehler!! ',
       ' Warte auf Fraeser Umdrehungszaehler ', 'Programm gestartet.',
       'Programmzeiger wurde zurückgesetzt',
       ' Warte auf E.-Kappe vorhanden ', ' Warte auf Kühlwasser!! ',
       ' Warte auf Schweißzangen Kraft Signal ',
       ' Warte auf Zange MotionCompl Signal ',
       'Rücksetzen Abarbeitungsfehler', 'Status Abarbeitungsfehler',
       'Abarbeitungsfehler', 'Kein Kontakt mit Einheit',
       ' Servozange FS1 Error: 18813 ',
       ' Warte auf Schweißzangen Motion/Ready Signal ',
       ' Kopf rueck muss low sein ', ' Warte auf Kappe abgezogen ',
       ' Eingang Positionierbereit fehlt ',
       ' Eingang Kontakt muss low sein ', ' Falscher oder kein Bolzen ',
       ' Warte auf FK ', ' Schweisskopf muss rueck sein ',
       ' Warte auf Bauteilkontrolle: -B04TK ',
       ' HemQC: Kommunikationsfehler! ',
       ' Abdeckung Station 2 wird geschlossen. ',
       ' Abdeckung Station 1 wird geöffnet. ',
       ' Abdeckung Station 2 wird geöffnet. ',
       ' Abdeckung Station 1 wird geschlossen. ',
       ' Station Belegt Meldung fehlt ', 'Interner Fehler',
       'Zonenbahn-Fehler ', ' Warte auf Kuehlwasser!! ',
       ' Warte auf Schweißzange Kraft erreicht ', 'Programm gestartet',
       'System neu gestartet', ' Warte auf Wasser &lt',
       ' Warte auf Endlage: -B22V2 ', ' Warte auf Endlage: -B22V1 ',
       ' Warte auf Endlage: -B12R1 ', ' Warte auf Endlage: -B12V2 ',
       ' Warte Bestätigung SPS Elektrodenwechsel fertig? ',
       ' Fehler bei IOEnable ', ' Unit nicht bereit ',
       ' Kein Kontakt zu EA Einheit ', ' Fehler bei IODisable ',
       ' Druckschalterüberwachung n.i.O ',
       'Absolutgenauigkeit nicht aktiviert',
       ' Warte auf Endlage: -B12V1 ',
       ' Warte auf Schweißza. MotionCompl Signal ',
       ' Warte auf Bauteilkontrolle: -B4TK ', ' Zangenfehler ',
       ' Festo Controller wird von einem anderen Client benutzt/ PC? ',
       ' Pal, Bauteilzaehler ', ' Warte auf Endlage: -B11R1 ',
       ' Warte auf Endlage: -B11V1 ', ' Warte auf Endlage: -B13R1 ',
       ' Fehler bei Überprüfung ToolCode ', ' Warte auf Endlage: -B17R1 ',
       ' Warte auf Endlage: -B15V2 ', ' Warte auf Endlage: -B13V1 ',
       ' Warte auf Endlage: -B15R1 ', ' Warte auf Endlage: -B15V1 ',
       ' Warte auf Endlage: -B15R2 ',
       ' Warte auf Bauteilkontrolle: -B1TK ', 'Not-Aus-Status ',
       ' Servozange FS2 Error: 18813 ', ' Warte auf Endlage: -B13R2 ',
       ' Warte auf Endlage: -B13V2 ',
       ' Warte auf Bauteilkontrolle: -B3TK ',
       ' Warte auf Endlage: -B16R1 ', ' Warte auf Endlage: -B16V1 ',
       ' LSP -Identischer Schweißpunkt! ',
       ' Warte auf Schweißsteuerung Bereit Steuerteil '], dtype=object)

In [520]:
df=df1.copy()

In [522]:
df.to_parquet("D:/Eclipse Python/DataScience/res/event_ano_new.parquet.gzip", compression='gzip')